<div class="row">
    <mdb-breadcrumb customClass="white" class="w-100">
        <mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">{{titulo}}</mdb-breadcrumb-item>
    </mdb-breadcrumb>
</div>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div class="section">
    <div class="row pb-3">
      <div class="col">
        <p class="section_titulo_0">{{titulo}}</p>
      </div>
    </div>
    <div class="row"> <!-- Combos encabezado -->
      <div class="col-md-3">
        <div class="form-group">
          <small class="form-text text-muted text-left">Tipo de Evento:</small>
          <mat-select class="form-control" formControlName="eventTypeControl" (selectionChange)="enableControls($event)" [(value)]="selectedEventType">
            <mat-option class="form-control" [value]="event.id" *ngFor="let event of eventTypesArr">{{event.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <small class="form-text text-muted text-left">Unidad:</small>
          <mat-select class="form-control" formControlName="unitControl" [(value)]="selectedUnit">
            <mat-option class="form-control" [value]="unit.id" *ngFor="let unit of unitsArr">{{unit.name}}</mat-option>
          </mat-select>
        </div>
        <div *ngIf="submittedData && !selectedUnit" style="color:red">
          <div>Requerido</div>
        </div>
      </div>
      <div *ngIf="isNormalOperationSectionVisible" class="col-md-3">
        <div class="form-group">
          <small class="form-text text-muted text-left">Tipo de combustible:</small>
          <mat-select class="form-control" formControlName="fuelTypeControl" [(value)]="selectedFuelType">
            <mat-option class="form-control" [value]="fuel.id" *ngFor="let fuel of fuelTypesArr">{{fuel.name}}</mat-option>
          </mat-select>
        </div>
        <div *ngIf="submittedData && !selectedFuelType" style="color:red">
          <div>Requerido</div>
        </div>
      </div>
    </div>
    <br/>
    <div style="border-style: groove; padding: 2%" *ngIf="isShotSectionVisible"><!-- Section Disparo -->
      <div class="row">
        <div class="col">
          <label class="custom-font">Disparo</label>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Pérdida de Flama (Flame Off):</small>
            <input type="date" class="form-control" min="{{initDate}}" formControlName="flameOffDateShot"/>
          </div>
          <div *ngIf="submittedData && isShotSectionVisible && f.flameOffDateShot.errors" style="color:red">
            <div *ngIf="f.flameOffDateShot.errors.required">Requerido</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Pérdida de Flama (Flame Off):</small>
            <input type="time" class="form-control" min="00:00:00" max="23:59:59" formControlName="flameOffTimeShot" step="1"/>
          </div>
          <div *ngIf="submittedData && isShotSectionVisible && f.flameOffTimeShot.errors" style="color:red">
            <div *ngIf="f.flameOffTimeShot.errors.required">Requerido</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
              <small class="form-text text-muted" >Carga antes del disparo(MW):</small>
              <input matTooltip="La carga debe ser un valor entre 0 y 200, puede incluir decimales" #cargaDisparo [(ngModel)]="defaultCharge" class="form-control" type="number" formControlName="chargeShot" (ngModelChange)="isNumeric(cargaDisparo)" min="0" max="200"/>
          </div>
          <div *ngIf="submittedData && isShotSectionVisible && f.chargeShot.errors" style="color:red">
              <div *ngIf="f.chargeShot.errors.required">Requerido</div>
          </div>
          <div *ngIf="isShotSectionVisible && chargeValidation" style="color:red">
              <div>Verifica</div>
          </div>
        </div>
      </div>
    </div>
    <div style="border-style: groove; padding: 2%" *ngIf="isStartSectionVisible"><!-- Section Arranque -->
      <div class="row">
          <div class="col">
              <label class="custom-font">Arranque</label>
              <br/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                  <small class="form-text text-muted" >Fecha de Arranque:</small>
                  <input type="date" class="form-control" min="{{initDate}}" formControlName="flameOffDateStart"/>
              </div>
              <div *ngIf="submittedData && isStartSectionVisible && f.flameOffDateStart.errors" style="color:red">
                  <div *ngIf="f.flameOffDateStart.errors.required">Requerido</div>
              </div>
              <div *ngIf="startDatesValidation && isStartSectionVisible" style="color:red">
                <div>Validar</div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                  <small class="form-text text-muted" >Hora de Arranque:</small>
                  <input type="time" class="form-control" min="00:00:00" max="23:59:59" formControlName="flameOffTimeStart" step="1"/>
              </div>
              <div *ngIf="submittedData && isStartSectionVisible && f.flameOffTimeStart.errors" style="color:red">
                  <div *ngIf="f.flameOffTimeStart.errors.required">Requerido</div>
              </div>
              <div *ngIf="startDatesValidation && isStartSectionVisible" style="color:red">
                <div>Validar</div>
              </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <small class="form-text text-muted" >Fecha Velocidad Plena sin Carga (FSNL):</small>
              <input type="date" class="form-control" type="date" formControlName="fsnlDateStart"/>
            </div>
            <div *ngIf="submittedData && isStartSectionVisible && f.fsnlDateStart.errors" style="color:red">
              <div *ngIf="f.fsnlDateStart.errors.required">Requerido</div>
            </div>
            <div *ngIf="startDatesValidation && isStartSectionVisible" style="color:red">
              <div>Validar</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <small class="form-text text-muted" >Hora Velocidad Plena sin Carga (FSNL):</small>
              <input class="form-control" type="time" min="00:00:00" max="23:59:59" formControlName="fsnlTimeStart" step="1"/>
            </div>
            <div *ngIf="submittedData && isStartSectionVisible && f.fsnlTimeStart.errors" style="color:red">
              <div *ngIf="f.fsnlTimeStart.errors.required">Requerido</div>
            </div>
            <div *ngIf="startDatesValidation && isStartSectionVisible" style="color:red">
              <div>Validar</div>
            </div>
          </div>
      </div>
    </div>
    <div style="border-style: groove; padding: 2%" *ngIf="isRejectSectionVisible"><!-- Section Rechazo Carga -->
      <div class="row">
        <div class="col">
          <label class="custom-font">Rechazo de Carga</label>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Rechazo de Carga:</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="dateReject"/>
          </div>
          <div *ngIf="submittedData && isRejectSectionVisible && f.dateReject.errors" style="color:red">
            <div *ngIf="f.dateReject.errors.required">Requerido</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Rechazo de Carga:</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="timeReject"/>
          </div>
          <div *ngIf="submittedData && isRejectSectionVisible && f.timeReject.errors" style="color:red">
            <div *ngIf="f.timeReject.errors.required">Requerido</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Carga antes del rechazo(MW):</small>
            <input matTooltip="La carga debe ser un valor entre 0 y 200, puede incluir decimales" #cargaAntesRechazo [(ngModel)]="defaultCharge" class="form-control" type="number" formControlName="chargeReject" (ngModelChange)="isNumeric(cargaAntesRechazo)" min="0" max="200"/>
          </div>
          <div *ngIf="submittedData && isRejectSectionVisible && f.chargeReject.errors" style="color:red">
            <div *ngIf="f.chargeReject.errors.required">Requerido</div>
          </div>
          <div *ngIf="isRejectSectionVisible && chargeValidation" style="color:red">
            <div>Verifica</div>
          </div>
        </div>
      </div>
    </div>
    <div style="border-style: groove; padding: 2%" *ngIf="isRunbackSectionVisible"><!-- Section Runback -->
      <div class="row">
        <div class="col">
          <label class="custom-font">Runback</label>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Inicio del runback:</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="startDateRunback"/>
          </div>
          <div *ngIf="submittedData && isRunbackSectionVisible && f.startDateRunback.errors" style="color:red">
            <div *ngIf="f.startDateRunback.errors.required">Requerido</div>
          </div>
          <div *ngIf="runbackDatesValidation && isRunbackSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Inicio del runback:</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="startTimeRunback"/>
          </div>
          <div *ngIf="submittedData && isRunbackSectionVisible && f.startTimeRunback.errors" style="color:red">
            <div *ngIf="f.startTimeRunback.errors.required">Requerido</div>
          </div>
          <div *ngIf="runbackDatesValidation && isRunbackSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Fin del runback:</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="endDateRunback"/>
          </div>
          <div *ngIf="submittedData && isRunbackSectionVisible && f.endDateRunback.errors" style="color:red">
            <div *ngIf="f.endDateRunback.errors.required">Requerido</div>
          </div>
          <div *ngIf="runbackDatesValidation && isRunbackSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Fin del runback:</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="endTimeRunback"/>
          </div>
          <div *ngIf="submittedData && isRunbackSectionVisible && f.endTimeRunback.errors" style="color:red">
            <div *ngIf="f.endTimeRunback.errors.required">Requerido</div>
          </div>
          <div *ngIf="runbackDatesValidation && isRunbackSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Carga antes del runback(MW):</small>
            <input matTooltip="La carga debe ser un valor entre 0 y 200, puede incluir decimales" #cargaAntesRunback [(ngModel)]="defaultCharge" class="form-control" type="number" formControlName="chargeBeforeRunback" (ngModelChange)="isNumeric(cargaAntesRunback)" min="0" max="200"/>
          </div>
          <div *ngIf="submittedData && isRunbackSectionVisible && f.chargeBeforeRunback.errors" style="color:red">
            <div *ngIf="f.chargeBeforeRunback.errors.required">Requerido</div>
          </div>
          <div *ngIf="isRunbackSectionVisible && chargeValidation" style="color:red">
            <div>Verifica</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Carga después del runback(MW):</small>
            <input matTooltip="La carga debe ser un valor entre 0 y 200, puede incluir decimales" #cargaDespuesRunback [(ngModel)]="defaultCharge2" class="form-control" type="number" formControlName="chargeAfterRunback" (ngModelChange)="isNumeric2(cargaDespuesRunback)" min="0" max="200"/>
          </div>
          <div *ngIf="submittedData && isRunbackSectionVisible && f.chargeAfterRunback.errors" style="color:red">
            <div *ngIf="f.chargeAfterRunback.errors.required">Requerido</div>
          </div>
          <div *ngIf="isRunbackSectionVisible && charge2Validation" style="color:red">
            <div>Verifica</div>
          </div>
        </div>
      </div>
    </div>
    <div style="border-style: groove; padding: 2%" *ngIf="isStopSectionVisible"><!-- Section Paro -->
      <div class="row">
        <div class="col">
          <label class="custom-font">Paro</label>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Pérdida de Flama (Flame Off):</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="flameOffDateStop"/>
          </div>
          <div *ngIf="submittedData && isStopSectionVisible && f.flameOffDateStop.errors" style="color:red">
            <div *ngIf="f.flameOffDateStop.errors.required">Requerido</div>
          </div>
          <div *ngIf="stopDatesValidation && isStopSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Pérdida de Flama (Flame Off):</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="flameOffTimeStop"/>
          </div>
          <div *ngIf="submittedData && isStopSectionVisible && f.flameOffTimeStop.errors" style="color:red">
            <div *ngIf="f.flameOffTimeStop.errors.required">Requerido</div>
          </div>
          <div *ngIf="stopDatesValidation && isStopSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Velocidad Plena sin Carga (FSNL):</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="fsnlDateStop"/>
          </div>
          <div *ngIf="submittedData && isStopSectionVisible && f.fsnlDateStop.errors" style="color:red">
            <div *ngIf="f.fsnlDateStop.errors.required">Requerido</div>
          </div>
          <div *ngIf="stopDatesValidation && isStopSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Velocidad Plena sin Carga (FSNL):</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="fsnlTimeStop"/>
          </div>
          <div *ngIf="submittedData && isStopSectionVisible && f.fsnlTimeStop.errors" style="color:red">
            <div *ngIf="f.fsnlTimeStop.errors.required">Requerido</div>
          </div>
          <div *ngIf="stopDatesValidation && isStopSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Carga antes del paro(MW):</small>
            <input matTooltip="La carga debe ser un valor entre 0 y 200, puede incluir decimales" #cargaAntesParo [(ngModel)]="defaultCharge" class="form-control" type="number" formControlName="chargeStop" (ngModelChange)="isNumeric(cargaAntesParo)" min="0" max="200"/>
          </div>
          <div *ngIf="submittedData && isStopSectionVisible && f.chargeStop.errors" style="color:red">
            <div *ngIf="f.chargeStop.errors.required">Requerido</div>
          </div>
          <div *ngIf="isStopSectionVisible && chargeValidation" style="color:red">
            <div>Verifica</div>
          </div>
        </div>
        <div class="col-md-3">
            <div><br></div>
            <div class="form-group">
                <mat-checkbox class="active" color="primary"
                              (change)="changeCheckStopProgrammed();"
                              [checked]="checkedStopProgrammed"
                              [disabled]="deshabiliarEstatus">
                    <mat-label>Programado</mat-label>
                </mat-checkbox>
            </div>
        </div>
      </div>
    </div>
    <div style="border-style: groove; padding: 2%" *ngIf="isDieselSectionVisible"><!-- Section Diesel -->
      <div class="row">
        <div class="col">
          <label class="custom-font">Operación en Diesel</label>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Inicio Operación en Diesel:</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="startDateDiesel"/>
          </div>
          <div *ngIf="submittedData && isDieselSectionVisible && f.startDateDiesel.errors" style="color:red">
            <div *ngIf="f.startDateDiesel.errors.required">Requerido</div>
          </div>
          <div *ngIf="dieselDatesValidation && isDieselSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Inicio Operación en Diesel:</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="startTimeDiesel"/>
          </div>
          <div *ngIf="submittedData && isDieselSectionVisible && f.startTimeDiesel.errors" style="color:red">
            <div *ngIf="f.startTimeDiesel.errors.required">Requerido</div>
          </div>
          <div *ngIf="dieselDatesValidation && isDieselSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Fin Operación en Diesel:</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="endDateDiesel"/>
          </div>
          <div *ngIf="submittedData && isDieselSectionVisible && f.endDateDiesel.errors" style="color:red">
            <div *ngIf="f.endDateDiesel.errors.required">Requerido</div>
          </div>
          <div *ngIf="dieselDatesValidation && isDieselSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Fin Operación en Diesel:</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="endTimeDiesel"/>
          </div>
          <div *ngIf="submittedData && isDieselSectionVisible && f.endTimeDiesel.errors" style="color:red">
            <div *ngIf="f.endTimeDiesel.errors.required">Requerido</div>
          </div>
          <div *ngIf="dieselDatesValidation && isDieselSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
      </div>
    </div>
    <div style="border-style: groove; padding: 2%" *ngIf="isNormalOperationSectionVisible"><!-- Section Normal Operation -->
      <div class="row">
        <div class="col">
          <label class="custom-font">Operación Normal</label>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Inicio Operación Normal:</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="startDateNormal"/>
          </div>
          <div *ngIf="submittedData && isNormalOperationSectionVisible && f.startDateNormal.errors" style="color:red">
            <div *ngIf="f.startDateNormal.errors.required">Requerido</div>
          </div>
          <div *ngIf="normalDatesValidation && isNormalOperationSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Inicio Operación Normal:</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="startTimeNormal"/>
          </div>
          <div *ngIf="submittedData && isNormalOperationSectionVisible && f.startTimeNormal.errors" style="color:red">
            <div *ngIf="f.startTimeNormal.errors.required">Requerido</div>
          </div>
          <div *ngIf="normalDatesValidation && isNormalOperationSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Fecha Fin Operación Normal:</small>
            <input class="form-control" type="date" min="{{initDate}}" formControlName="endDateNormal"/>
          </div>
          <div *ngIf="submittedData && isNormalOperationSectionVisible && f.endDateNormal.errors" style="color:red">
            <div *ngIf="f.endDateNormal.errors.required">Requerido</div>
          </div>
          <div *ngIf="normalDatesValidation && isNormalOperationSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <small class="form-text text-muted" >Hora Fin Operación Normal:</small>
            <input class="form-control" type="time" min="00:00:00" max="23:59:59" step="1" formControlName="endTimeNormal"/>
          </div>
          <div *ngIf="submittedData && isNormalOperationSectionVisible && f.endTimeNormal.errors" style="color:red">
            <div *ngIf="f.endTimeNormal.errors.required">Requerido</div>
          </div>
          <div *ngIf="normalDatesValidation && isNormalOperationSectionVisible" style="color:red">
            <div>Validar</div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div *ngIf="isDefaultSectionsVisible">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descripción</label>
          <!--<input mdbInput class="form-control" formControlName="description" (keydown)="enableSaveButton();" #description maxlength="1000">-->
          <textarea mdbInput class="form-control" formControlName="description" (keydown)="enableSaveButton();" #description maxlength="1000" rows="4"></textarea>
          <small class="form-text text-muted text-right">{{description.value?.length || 0}}/1000</small>
        </div>
        <div *ngIf="submittedData && f.description.errors" style="color:red">
          <div *ngIf="f.description.errors.required">Requerido</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Aqui van la sección de observaciones
  <div *ngIf="isDefaultSectionsVisible">
      <div class="section">
        <div class="row">
          <div class="col">
            <p class="section_titulo_0">Observaciones</p>
            <p class="section_subtitulo_0"></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Observación</label>
              <input mdbInput class="form-control" formControlName="observations" (keydown)="enableSaveButton();" #description maxlength="1000">
              <small class="form-text text-muted text-right">{{description.value?.length || 0}}/1000</small>
            </div>
            <div *ngIf="submittedData && this.observationsArr.length == 0" style="color:red">
              <div>Requerido</div>
            </div>
            <div class="row justify-content-end mb-5">
              <div class="col-md-auto">
                <button type="button" (click)="addObservation();" class="btn" [disabled]="isAddObvsDisabled">
                  <i class="ti-bookmark-alt"></i>&nbsp;
                  Agregar observación
                </button>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Lista de observaciones
        <div class="row">
          <div class="col">
            <div class="mat-elevation-z0">
              <table mdbTable class="table_catalogo">
                <thead>
                <tr><th colspan="7">Historial de observaciones</th></tr>
                <tr>
                  <th *ngFor="let head of headObservaciones" scope="col">{{head}} </th>
                </tr>
                </thead>
                <tbody>
                <tr mdbTableCol *ngFor="let el of observationsArr; let i = index;">
                  <th scope="row">{{i+1}}</th>
                  <td>{{el.nombre}}</td>
                  <td>{{el.observacion}}</td>
                  <td>{{el.fecha_modificacion | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td>
                      <mat-checkbox class="active" color="primary"
                                    (change)="dummy();"
                                    [checked]="isAddObvsDisabled"
                                    [disabled]="accion == 'ver'">
                          <mat-label></mat-label>
                      </mat-checkbox>
                  </td>
                  <td>
                      <a (click)="dummy()" [ngClass]="{'linkDisabled': accion == 'ver'}">
                          <img src="assets/images/skins/ico_Editar.png" alt="Editar">
                      </a>
                  </td>
                  <td>
                      <a (click)="dummy()" [ngClass]="{'linkDisabled': accion == 'ver'}">
                          <img src="assets/images/skins/ico_Borrar.png" alt="Eliminar">
                      </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div> -->
  <!-- Observaciones -->
  <!-- Test -->
  <div *ngIf="isDefaultSectionsVisible">
    <app-efh-comments [inIdEventConfig]="eventType.id" [inAction]="accion" [inTypeConfig]="1"></app-efh-comments>
  </div>
  <!-- End Test -->
    <div *ngIf="isDefaultSectionsVisible && eventType.id != 0">
      <app-efh-upload [inIdEventConfig]="eventType.id" [inAccion]="accion" [inTypeConfig]="1"></app-efh-upload>
    </div>
    <div class="section" *ngIf="isDefaultSectionsVisible">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <ng-container>
            <div class="form-group">
              <label>Estado del elemento:</label><br>
              <mat-checkbox class="active" color="primary"
                            (change)="changeCheck();"
                            [checked]="checkedEstatus"
                            [disabled]="deshabiliarEstatus">
                <mat-label>Activo</mat-label>
              </mat-checkbox>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn"
                        [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}"
                        [disabled]="disabledSave" *ngIf="accion != 'ver'">
                    <i class="ti-pencil"></i>
                    Guardar / Actualizar
                </button>
                <button type="button" class="btn"
                        [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}"
                        (click)="regresar()">
                    <i class="ti-angle-double-left"></i>
                    Regresar
                </button>
            </div>
        </div>
      </div>
    </div>
</form>

