html, body{
    width  : 100%;
    height : 100%;
}
header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
    display : block;
} 
p{
    margin : 0 !important;
}
body{
    text-align  : center;
    font-family : Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif!important;
    font-weight : 300;
    font-size   : 14px!important;
}
#agrupar {
    width      : 100%;
    text-align : left;
    min-height : 100%;
}
#body{
    display : flex;
}
#columna {
    float      : left;
    overflow-x : hidden;
    transition : 0.5s;
    /*background: #2ea9fc;*/
    /*min-height: 600px;*/
}
#seccion {
    float      : left;
    transition : 0.5s;
    background : #eee;
}
.section{
    background: #ffffff;
    border-radius: 6px;
    padding: 30px;
    
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}
#pie {
    clear: both; 
    text-align: center;
    padding: 20px;
    color:#ffffff;
}