<div class="section">
        <div class="row pb-3">
            <div class="col">
                <p class="section_titulo_0">Cambio de Contraseña</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form (ngSubmit)="save(changePasswordForm.value)" [formGroup]="changePasswordForm">
                    <div class="form-row">
                        <div class="col">
                            
					        <div class="form-group">
                                <label>Nueva Contraseña</label>
                                <input mdbInput class="form-control"
                                    formControlName="password" 
                                    type="password"  
                                    id="form1"
                                    name="password"
                                    autocomplete="off"
                                    #code
                                >
                                <small class="form-text text-muted text-right">
                                    {{code.value?.length || 0}}/8 mínimos  
                                </small>
                                <div *ngIf="!changePasswordForm.controls['password'].valid 
                                        && changePasswordForm.controls['password'].touched">
                                        Requerido, minimo 8 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Confirma Nueva Contraseña</label>
                                <input mdbInput class="form-control" 
                                    formControlName="confirmPassword"
                                    type="password" 
                                    id="confirmPassword" 
                                    name="confirmPassword"
                                    autocomplete="off"
                                    #categoria
                                >
                                <small class="form-text text-muted text-right">
                                    {{categoria.value?.length || 0}}/8 mínimos
                                </small>
                                <div *ngIf="!changePasswordForm.controls['confirmPassword'].valid 
                                            && changePasswordForm.controls['confirmPassword'].touched">
                                    Requerido, minimo 8 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-right">
                        <button type="submit" class="btn" [disabled]="!changePasswordForm.valid">
                            <i class="ti-save"></i>&nbsp;
                            Guardar nueva contraseña
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div>