
<div class="row">
        <mdb-breadcrumb customClass="white" class="w-100">
            <mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
            <mdb-breadcrumb-item class="active">Cambio de Contraseña</mdb-breadcrumb-item>
        </mdb-breadcrumb>
    </div>
    <div class="section">
        <div>
            <div class="row pb-5">
                <div class="col">
                    <p class="section_titulo_0">Cambio de Contraseña</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form (ngSubmit)="save(changePasswordForm.value)" [formGroup]="changePasswordForm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="password"  placeholder="Nueva Contraseña"
                                    class="form-control" 
                                    formControlName="password" id="form1"
                                        name="password" mdbInput>
                                    <mat-error *ngIf="!changePasswordForm.controls['password'].valid 
                                            && changePasswordForm.controls['password'].touched">
                                            Requerido, minimo 8 caracteres.
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-form">
                                    <input type="password"  placeholder="Confirma Nueva Contraseña"
                                    class="form-control" 
                                    formControlName="confirmPassword"
                                        id="confirmPassword" name="confirmPassword" mdbInput>
                                    <mat-error *ngIf="!changePasswordForm.controls['confirmPassword'].valid 
                                                && changePasswordForm.controls['confirmPassword'].touched">
                                        Requerido, minimo 8 caracteres.
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn" [disabled]="!changePasswordForm.valid"
                                    [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}">Cambiar
                                        Contraseña</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>
    </div>