<div id="agrupar">
    <!-- Header -->
    <app-securityHeader></app-securityHeader>
    <!-- /Header -->
    <div id="body">
        <!-- Aside -->
        <aside id="columna" [ngStyle]="{'width':aside_open ? '250px' : '60px' }">
            <div class="container-fluid">
                <div class="row">
                    <div class="col mt-2 mr-1 mb-3" style="text-align: right;">
                        
                    </div>
                </div>
                <app-securitySidebar [aside_open]='aside_open'></app-securitySidebar>
            </div>
        </aside>
        <!-- /Aside -->

        <section id="seccion" [ngStyle]="{'width':aside_open ? 'calc(100% - 250px)' : 'calc(100% - 60px)' }">
            <div class="container-fluid">
                <!--  CUERPO DEL COMPONENTE -->
                <ng-template #container></ng-template>

                <!--  /CUERPO DEL COMPONENTE -->
            </div>
        </section>
    </div>
    <footer id="pie">
        Derechos Reservados &copy;
    </footer>
</div>