#agrupar{
    background: #000000;
}
#seccion{
    min-height: 600px;
}
.color19{
    background-color: #141819;
}
.color-gris{
    background-color: #363838;
}
.txt-gris{
    color: #efefef;
}
.txt-center{
    text-align: center;
}
.divider{
    border: solid 1px #efefef;margin-left: 5px;margin-right: 5px;
}
.tablinks0{
    background-color: #363838;
}
.tablinks0:hover{
    background-color: #000000;
}
.active{
    background-color: #000000;
}
.sub{
    color: #efefef;
}
.btn-inline{
    display: inline-block;
}
.btn-titulo{
    font-size: 14px;
}
.btn-sub{
    color: #efefef;
    font-size: 16px;
}
.btn-sub-sub{
    color: #efefef;
    font-size: 12px;
}
.btn-verde{
    color: #00c19c;
}
.btn-azul{
    color: #03b0f0;
}
.btn-naranja{
    color: #ff9d00;
}