
 
<div class="monitoreo">
    <div class="row bg-gray text-center">
        <div class="col">
            <span>OverView</span>
        </div>
    </div>
    <div class="row">
        <div class="col bg-gray">A</div>
        <div class="col">B</div>
        <div class="col">C</div>
        <div class="col">D</div>
        <div class="col">E</div>
    </div>
    <div class="row bg-gray color-aguila text-center">
        <div class="col">
            <span>EAT</span>
        </div>
    </div>
    <div class="row">
        <div class="col bg-gray">A</div>
        <div class="col">B</div>
        <div class="col">C</div>
        <div class="col">D</div>
        <div class="col">E</div>
    </div>
    <div class="row bg-gray color-sol text-center">
        <div class="col-12 pt-2 d-block d-lg-none d-xl-none">
            <img src="assets/monitoring/phase2/sol.png" alt="demo-dougnut" style="max-width: 50px;">
        </div>
        <div class="col-12">
            <span>EST</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5    col-lg-4   col-xl-2        py-2 order-md-1 bg-gray">
            <div class="row my-2">
                <div class="col-auto pr-0 align-self-center invisible"><div class="row">
                    <div class="col align-self-center"><i class="fas fa-bolt"></i></div>
                    <div class="col px-0 d-none d-sm-block d-md-block d-lg-block d-xl-none">Power <br> OutPut</div>
                </div></div>
                <div class="col text-center">Actuals</div>
                <div class="col text-center px-0">Dif</div>
                <div class="col text-center">Expected</div>
            </div>
            <div class="row"><div class="col mt-3 mb-2 text-center d-block d-sm-none"><i class="fas fa-bolt"></i><br> Power OutPut</div></div>
            <div class="row">
                <div class="col-auto pr-0 align-self-center d-none d-sm-block">
                    <div class="row">
                        <div class="col align-self-center"><i class="fas fa-bolt"></i></div>
                        <div class="col px-0 d-none d-sm-block d-md-block d-lg-block d-xl-none">Power <br> OutPut</div>
                    </div>
                </div>
                <div class="col text-center"><div style="width: 30px;height: 30px; margin: auto;"><canvas id="mychart"></canvas></div><p style="font-size: 11px;">35.02</p></div>
                <div class="col text-center px-0"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
                <div class="col text-center"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
            </div>
            <div class="row"><div class="col mt-3 mb-2 text-center d-block d-sm-none"><i class="fas fa-bolt"></i><br> Heat Rate</div></div>
            <div class="row">
                <div class="col-auto pr-0 align-self-center d-none d-sm-block">
                    <div class="row">
                        <div class="col align-self-center"><i class="fas fa-bolt"></i></div>
                        <div class="col px-0 d-none d-sm-block d-md-block d-lg-block d-xl-none">Power <br> OutPut</div>
                    </div>
                </div>
                <div class="col text-center"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
                <div class="col text-center px-0"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
                <div class="col text-center"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
            </div>
            <div class="row"><div class="col mt-3 mb-2 text-center d-block d-sm-none"><i class="fas fa-bolt"></i><br> Capacity Factor</div></div>
            <div class="row">
                <div class="col-auto pr-0 align-self-center d-none d-sm-block">
                    <div class="row">
                        <div class="col align-self-center"><i class="fas fa-bolt"></i></div>
                        <div class="col px-0 d-none d-sm-block d-md-block d-lg-block d-xl-none">Power <br> OutPut</div>
                    </div>
                </div>
                <div class="col text-center"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
                <div class="col text-center px-0"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
                <div class="col text-center"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
            </div>
            <div class="row"><div class="col mt-3 mb-2 text-center d-block d-sm-none"><i class="fas fa-bolt"></i><br> Fuel Gain /lost</div></div>
            <div class="row">
                <div class="col-auto pr-0 align-self-center d-none d-sm-block">
                    <div class="row">
                        <div class="col align-self-center"><i class="fas fa-bolt"></i></div>
                        <div class="col px-0 d-none d-sm-block d-md-block d-lg-block d-xl-none">Power <br> OutPut</div>
                    </div>
                </div>
                <div class="col text-center"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
                <div class="col text-center px-0"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
                <div class="col text-center"><img src="assets/monitoring/phase2/demo-dougnut.png" alt="demo-dougnut"></div>
            </div>
        </div>
        <div class="col-12 col-md-7    col-lg-7   col-xl-4        py-2 order-md-2 text-center">
            <div class="row">
                <div class="col">
                    <div id="container2" #container2></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8    col-lg-8   col-xl-4        py-2 order-md-4 text-center">
            <div class="row">
                <div class="col">
                    <div id="container3" #container3></div>
                    <!--img src="assets/monitoring/phase2/demografica.png" alt="demografica" class="img-fluid"-->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4    col-lg-4   col-xl-2        py-2 order-md-5 text-center">
            <div class="row h-100">
                <div class="col-12">titulo</div>
                <div class="col align-self-center">
                    <div>
                        <radial-gauge 
                            style="    margin-left: -85px;"
                            [value]="100"
                            id="GasTankId2"
                            class="Tacometro"
                            title="F"
                            units="E"
                            width="200"
                            height="200"
                            start-angle="220"
                            ticks-angle="100"
                            value-box="false"
    
                            min-value="80"
                            max-value="120"
                            major-ticks="80, ,100"
                            minor-ticks="2"
                            font-numbers-size="0"
                            color-plate= "rgba(0,0,255,0)"
                            opacity-plate="100"
                            color-major-ticks="#888"
                            color-minor-ticks="#ddd"
                            color-title="#eee"
                            color-units="#ccc"
                            color-numbers="#bb1"
                            highlights='[
                                {"from": 262, "to": 263, "color": "rgba(245, 4, 44, 100)"}
                            ]'
    
                            needle-type="arrow"
                            needle-circle-outer="true"
                            needle-circle-inner="false"
                            color-needle-shadow-down="#550"
                            color-needle-circle-outer="#333"
                            color-needle-circle-outer-end="#111"
                            animation-duration="900"
                            animation-rule="linear"
                            borders="false"
                            border-inner-width="0"
                            border-middle-width="0"
                            border-outer-width="0"
                            border-shadow-width="0"
                            color-border-outer="#111"
                            color-border-middle="#888"
                            color-border-middle-end="#555"
                            color-border-inner="#111"
                            value-box="false"
                            >
                    
                        </radial-gauge>
                    </div>                    
                </div>
                <div class="col align-self-center">
                    <i class="fas fa-fire-alt fa-3x"></i>
                </div>
                <img src="assets/monitoring/phase2/sol.png" alt="demo-dougnut" style="position: absolute; max-width: 50px; right: 0;" class="d-none d-xl-block">
            </div>
        </div>
        <div class="col-12             col-lg-1   col-xl-1   py-2 order-md-3  order-xl-5  d-none d-lg-block d-xl-none">
            <div class="row">
                <div class="col-12">
                    <img src="assets/monitoring/phase2/sol.png" alt="demo-dougnut" style="max-width: 50px;">
                </div>
            </div>
        </div>
    </div>
</div>
