<div class="row pb-5">
  <div class="col">
    <span class="agila-cda-titulo">{{getTitle()}}</span>
  </div>
</div>
<div class="row">
  <div class="col">
    <form [formGroup]="branchInvoiceSeriesForm" (ngSubmit)="save(branchInvoiceSeriesForm.value)">
      <div class="row">
        <div class="col-md-4">
          <div class="md-form">
            <mat-form-field class="w-100">
              <input matInput placeholder="Serie" formControlName="serie">
              <div *ngIf="!branchInvoiceSeriesForm.controls['serie'].valid 
                    && branchInvoiceSeriesForm.controls['serie'].touched">
                Requerido
              </div>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          
        <div class="form-group">
          <label class="form-text text-left">Sucursal:</label>
          <mat-select class="form-control" formControlName="plantBranchOffice" [compareWith]="compareObjects">
            <mat-option class="form-control" *ngFor="let plantBranchOffice of plantBranches" [value]="plantBranchOffice">{{ plantBranchOffice.name }}</mat-option>
          </mat-select>
          <div *ngIf="!branchInvoiceSeriesForm.controls['plantBranchOffice'].valid 
                        && branchInvoiceSeriesForm.controls['plantBranchOffice'].touched">
            Requerido
          </div>
        </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">              
              <label class="form-text text-left">Sistema:</label>
              <mat-select class="form-control" formControlName="sys" [compareWith]="compareObjects">
                <mat-option class="form-control" *ngFor="let sys of systems" [value]="sys">{{ sys.description }}</mat-option>
              </mat-select>
          </div>
          <div *ngIf="!branchInvoiceSeriesForm.controls['sys'].valid 
                          && branchInvoiceSeriesForm.controls['sys'].touched">
            Requerido
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          
          <div class="form-group">
            <label class="form-text text-left">Activo</label>
            <input
                class="form-control active"
                type="checkbox"
                formControlName="active"
                style="
                height: auto;
                width: auto;"
            />
          </div>
          <!--mat-checkbox id="active" class="active" color="primary" formControlName="active">Activo
          </mat-checkbox-->
          <div *ngIf="!branchInvoiceSeriesForm.controls['active'].valid 
                        && branchInvoiceSeriesForm.controls['active'].touched">
            Requerido
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex justify-content-end" *ngIf="!entity.readOnly">
            <button type="submit" class="btn" [disabled]="!branchInvoiceSeriesForm.valid"
              [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>