<div class="section">

  <div class="row pb-2">
    <div class="col">
      <p class="section_titulo_0">{{titulo}} <br></p>
      <p class="section_subtitulo_0"> </p>
      <p class="section_subtitulo_0"></p>
    </div>
  </div>
  <form [formGroup]="filterForm" >
    <p class="section_titulo_0">Filtros</p>
    <hr>
    <div class=" row">
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Numero de Empleado</label>
              <input mdbInput class="form-control" formControlName="fEmpNum">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Nombre(s)</label>
              <input mdbInput class="form-control" formControlName="fNames">
            </div>
          </div>
          <div class="col-4">
            <label>Apellido Paterno</label>
            <input mdbInput class="form-control" formControlName="fLastName">
          </div>
        </div>

        <div class="row">

          <div class="col">
            <div class="form-group">
              <label>Apellido Materno</label>
              <input mdbInput class="form-control" formControlName="fSecondName">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Posición</label>
              <input mdbInput class="form-control" formControlName="fPosition">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Departamento</label>
              <input mdbInput class="form-control" formControlName="fDepto">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Puesto de trabajo</label>
              <input mdbInput class="form-control" formControlName="fJob">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Estatus</label>
              <!--                                            <input mdbInput class="form-control" formControlName="fEst">-->
              <select class="browser-default custom-select"
                      formControlName="fEst">
                <option *ngFor="let operator of comboStatus;"
                        [value]="operator.value">
                  {{operator.label}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Fecha Ultima de modificacion</label>
              <input mdbInput class="form-control" type="date" formControlName="fLastDate">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Hora Ultima de modificacion</label>
              <input mdbInput class="form-control" type="time" formControlName="fLastHour">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">

            </div>
          </div>
          <div class="col-4">

          </div>

          <div class="col-4">
            <div class="form-group">

            </div>
          </div>
          <div class="col-4">
            <div class="form-group">

            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <div class="d-flex justify-content-end">
                <button type="button" (click) = "filtros()" class="btn" [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}">
                  <!--<i class="ti-pencil"></i>-->
                  <!--{{labBotAcep}}-->Buscar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div>-->
  </form>

  <hr>
  <!--Boton nuevo emoleado-->
  <div class="row mb-3 mt-3">
    <div class="col text-right">
      <button type="button" class="btn"
              [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}"
              (click)="action(0, 'guardar')">
        <!--(click)="action(1, 'guardar')"-->
        <mdb-icon fas icon="plus"></mdb-icon>&nbsp;Agregar
      </button>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col">

      <div >
        <table mat-table [dataSource]="registros" matSort class="table_catalogo">

          <ng-container matColumnDef="orden" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.orden}} </td>
          </ng-container>
          <!--  &lt;!&ndash; Position Column &ndash;&gt;
                 &lt;!&ndash; Name Column &ndash;&gt;
          -->       <ng-container matColumnDef="numEmpleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><a>No. Empleado</a></th>
          <td mat-cell *matCellDef="let element"> {{element.numEmpleado}} </td>
        </ng-container>
          <!--   &lt;!&ndash; Name Column &ndash;&gt;-->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Nombre</a></th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container><!--
                   &lt;!&ndash; Weight Column &ndash;&gt;-->
          <ng-container matColumnDef="apPaterno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Apellido Paterno</a></th>
            <td mat-cell *matCellDef="let element"> {{element.apPaterno}} </td>
          </ng-container>
          <!--             &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <ng-container matColumnDef="apMaterno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Apellido Materno</a></th>
            <td mat-cell *matCellDef="let element"> {{element.apMaterno}} </td>
          </ng-container>
          <!--                   &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <ng-container matColumnDef="genero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Género</a></th>
            <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
          </ng-container>
          <!--               &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Posición</a></th>
            <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
          </ng-container>
          <!--                   &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Departamento</a></th>
            <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
          </ng-container>
          <!--               &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <ng-container matColumnDef="puesto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Puesto</a></th>
            <td mat-cell *matCellDef="let element"> {{element.puesto}} </td>
          </ng-container>
          &lt;!-- Symbol Column -&ndash;&gt;
          <ng-container matColumnDef="lugarDeTrabajo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Lugar de trabajo</a></th>
            <td mat-cell *matCellDef="let element"> {{element.lugarDeTrabajo}} </td>
          </ng-container>

          &lt;!-- Symbol Column -&ndash;&gt;
          <ng-container matColumnDef="Usuario Modifico">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Usuario que modifico</a></th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioModifico}} </td>
          </ng-container>

          &lt;!-- Symbol Column -&ndash;&gt;
          <ng-container matColumnDef="Fecha_y_Hora_de_Ultima_Modificación">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Fecha y Hora de ultima modificación</a></th>
            <td mat-cell *matCellDef="let element"> {{element.fechaHoraUltimaModificacion}} </td>
          </ng-container>

          &lt;!-- Symbol Column -&ndash;&gt;
          <ng-container matColumnDef="Estatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><a>Estatus</a></th>
            <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
          </ng-container>
          <!--                   &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <ng-container matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Ver </th>
            <td mat-cell *matCellDef="let element">
              <!--  &lt;!&ndash; <a routerLink="{{element.editar}}/{{element.empleadoId}}/ver">
                     </a>
                &ndash;&gt;
              -->  <a (click)="action(element.empleadoId, 'ver')">
              <img src="assets/images/skins/ico_Ver.png" alt="Visualizar">
            </a>
            </td>
          </ng-container>
          &lt;!&ndash; Symbol Column &ndash;&gt;
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Editar </th>
            <td mat-cell *matCellDef="let element">
              <!--&lt;!&ndash;  <a routerLink="{{element.editar}}/{{element.empleadoId}}/editar">
                    </a>
              &ndash;&gt;
              --><a (click)="action(element.empleadoId, 'editar')">
              <img src="assets/images/skins/ico_Editar.png" alt="Visualizar">
            </a>
            </td>
          </ng-container>

          <!-- &lt;!&ndash; Symbol Column &ndash;&gt;-->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <app-confirmationModal [strMensaje]='element.mensajeEliminar' [inTitulo]='inTitulo'
                                     (salida)="eliminar($event,element.empleadoId)"></app-confirmationModal>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="registros_x_pagina" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <!-- version solo tabla -->

  <!--
  </mat-expansion-panel>
  -->

</div>
