
        	  
<div class="section">
    <div class="row pb-4">
      <div class="col">
          <p class="section_titulo_0">Observaciones y/o Comentarios</p>
      </div>
    </div>
    <div class=" row">
      <div class="col-12">
          <!-- Text area para observaciones -->
          <form [formGroup]="obsForm" (ngSubmit)="onSubmit()">
            <div class="row" >
                <div class="col-12 md-form">
                      <mat-form-field >
                        <textarea matInput formControlName="fObserva" [ngClass]="{ 'is-invalid': submitted && f.fObserva.errors }" placeholder="Observaciones de quien Aplica el Examen"></textarea>
                        <div *ngIf="submitted && f.fObserva.errors" style="color:red">
                            <div *ngIf="f.fObserva.errors.required">Requerido</div>
                        </div>
                      </mat-form-field>
                      <div class="row justify-content-end mb-5">
                        <div class="col-md-auto">
                            <button type="submit" mdbBtn class="btn" mdbWavesEffect [disabled]="isdisabled">
                                <i class="ti-bookmark-alt"></i>&nbsp;
                                Guardar
                            </button>
                        </div>
                      </div>
                    
                </div>
            </div>
          </form>
          <!-- Lista de observaciones -->
          <div class="row">
            <div class="col">
              <div class="mat-elevation-z0">
                <table mdbTable class="table_catalogo">
                    <thead>
                      <tr>
                        <th *ngFor="let head of headObservaciones" scope="col">{{head}} </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let el of observacioes; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{el.nombre}}</td>
                        <td>{{el.observacion}}</td>
                        <td>{{el.fecha_modificacion}}</td>
                      </tr>
                    </tbody>
                  </table>

              </div>
            </div>
          </div>

      </div>
    </div>
</div>
  
<!-- Documentos -->
<div class="section" *ngFor="let item of titleDocument">
    <div class="row">
      <div class="col">
          <p class="section_titulo_0">{{item.titleDocument}}</p>
          <p class="section_subtitulo_0"></p>
      </div>
    </div>
    <hr>
    <div class=" row">
      <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6"  >
                  <div class="row">
                    <div class="col" *ngFor="let itemInterno of item.carasDocuments" >
                      <a (click)="downloadFile(itemInterno.fileDownloadUri)"><img src="../../../../assets/img/{{itemInterno.type}}.png" style="width: 40px;" />&nbsp;{{itemInterno.name}}</a>
                    </div>
                  </div> 
                </div>
                <div class="col-6">
                  <app-upload [inTipo]='inTipo' [typeDocument]='item.titleDocument' [inIdEmpleado]='inIdEmpleado' [calificacionId]='calificacionId'></app-upload>
                </div>            
              </div>
            </div> 
        </div>
    </div>
</div>
