<div id="agrupar">
  <!-- Header -->
  <app-complianceHeader></app-complianceHeader>
  <!-- /Header -->
  <div id="body">
      <!-- Aside -->
      <aside id="columna" [ngStyle]="{'width':aside_open ? '250px' : '60px' }" [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}">
          <div class="container-fluid">
              <div class="row">
                  <div class="col mt-2 mr-1 mb-3" style="text-align: right;">
                      <span (click)="aside_open=!aside_open" >
                          <mdb-icon fas icon="bars" style="font-size: 30px;"></mdb-icon>
                      </span>
                  </div>
              </div>
              <app-complianceSidebar [aside_open]='aside_open'></app-complianceSidebar>
          </div>
      </aside>
      <!-- /Aside -->

      <section id="seccion" [ngStyle]="{'width':aside_open ? 'calc(100% - 250px)' : 'calc(100% - 60px)' }">
          <div class="container-fluid">
          <!--  CUERPO DEL COMPONENTE -->

                      
              <div class="p-5">
                <!-- Titulo -->
                <div class=" row">
                  <div class="col">
                      <span class="agila-cda-titulo">{{titulo}}</span>
                  </div>
                </div>
                <!--Boton nuevo tag-->
                <div class="row mb-3 mt-5">
                  <div class="col">
                      <button type="button" class="btn" [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}"  routerLink="/config-act"><i class="fas fa-user-plus"></i>&nbsp;Agregar</button>
                  </div>
                </div>
                <!-- Filtros de busqueda  -->
                <div class="row">
                  <div class="col">

                      <!--form class="mt-5" [formGroup]="filtrosForm" (ngSubmit)="onSubmit()">
                        <div class="col-md-4">
                          <div class="md-form">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Tag" formControlName="fTag">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="md-form">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Nombre" formControlName="fNombre">
                            </mat-form-field>
                          </div>
                        </div>

                         hay que implementar
                        <div class="row">
                            <div class="col-md-6">
                              <div class="md-form form-group">
                                <mat-form-field class="w-100">
                                  <mat-label>Categoria</mat-label>
                                  <mat-select formControlName="fActividad"
                                              [compareWith]="compareFn" 
                                              (selectionChange)="asignarNombreTag($event.value)" 
                                              [disabled]="habilitarActividad" 
                                              [ngClass]="{ 'is-invalid': submitted && f.fActividad.errors }">
                                      <mat-option *ngFor="let operator of comboActividades;" [value]="operator.value">{{operator.label}}</mat-option>
                                  </mat-select>
                                  <div *ngIf="submitted && f.fActividad.errors" style="color:red">
                                    <div *ngIf="f.fActividad.errors.required">Requerido</div>
                                  </div>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="md-form form-group">
                                <mat-form-field class="w-100">
                                  <input matInput placeholder="Nombre del Cumplimiento" formControlName="fClasificacionActividad" [ngClass]="{ 'is-invalid': submitted && f.fClasificacionActividad.errors }">
                                  <div *ngIf="submitted && f.fClasificacionActividad.errors" style="color:red">
                                      <div *ngIf="f.fClasificacionActividad.errors.required">Requerido</div>
                                  </div>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>

                      </form-->
                    
                      <!--div class="filtros mt-2 row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                          <div class="row">
                              <div class="col-md-auto" *ngFor="let filtro of filtros">
                                <label>{{filtro.label}}</label><br>
                                <input type="{{filtro.inputtype}}">
                              </div> 
                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-2 d-flex justify-content-end" >
                            <div>
                              <button type="button" class="btn btn-primary"  (click)="alert('Filtro de empleados')">{{filtrobtn.label}}</button>
                            </div>
                          </div>
                      </div-->


                  </div>
                </div>

                <!-- Tabla de actividades -->
                <div class="row mt-4">
                  <div class="col">
                      <div class="tabla-responsi mat-elevation-z8">
                        <table mat-table [dataSource]="registros" class="table_catalogo">
                          <!-- orden Column -->
                          <ng-container matColumnDef="orden" >
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> # </th>
                            <td mat-cell *matCellDef="let element; let i = index;">{{i+1}} </td>
                          </ng-container>
                          <!-- orden Column -->
                          <ng-container matColumnDef="tag" sticky>
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> TAG </th>
                            <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
                          </ng-container>
                          <!-- nombre Column -->
                          <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                          </ng-container>
                          <!-- prefijo Column -->
                          <ng-container matColumnDef="clasificacion">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Clasificación </th>
                            <td mat-cell *matCellDef="let element"> {{element.clasificacionActividad}} </td>
                          </ng-container>
                          <!-- prefijo Column -->
                          <ng-container matColumnDef="cumplimiento_legal">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Cumplimiento Legal </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipoCumplimiento.opcion.descripcion}} </td>
                          </ng-container>
                          <!-- prefijo Column -->
                          <ng-container matColumnDef="autoridad">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Autoridad </th>
                            <td mat-cell *matCellDef="let element"> {{element.autoridad.opcion.descripcion}} </td>
                          </ng-container>
                          <!-- prefijo Column -->
                          <ng-container matColumnDef="tipo_aplicacion">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Tipo de Aplicación </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipoAplicacion.opcion.descripcion}} </td>
                          </ng-container>
                          <!-- prefijo Column -->
                          <ng-container matColumnDef="periodo_entrega">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Período de Entrega </th>
                            <td mat-cell *matCellDef="let element"> {{element.periodoEntrega.opcion.descripcion}} </td>
                          </ng-container>
                          <!-- prefijo Column -->
                          <ng-container matColumnDef="estatus">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Estatus </th>
                            <td mat-cell *matCellDef="let element"> {{element.estatus.estatus.nombre}} </td>
                          </ng-container>

                          <ng-container matColumnDef="ver">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Ver </th>
                            <td mat-cell *matCellDef="let element"> 
                                <a routerLink="/config-act/ver/{{element.tag}}" >
                                  <img src="assets/images/skins/ico_Ver.png" alt="Visualizar">
                                </a>
                            </td>
                          </ng-container>
                          <!-- modificar Column -->
                          <ng-container matColumnDef="modificar">
                            <th mat-header-cell *matHeaderCellDef  class="txt-center"> Modificar </th>
                            <td mat-cell *matCellDef="let element"> 
                              <a routerLink="/config-act/edit/{{element.tag}}" >
                                <img src="assets/images/skins/ico_Editar.png" alt="Visualizar">
                              </a>
                            </td>
                          </ng-container>
                          <!-- eliminar Column -->
                          <ng-container matColumnDef="eliminar">
                            <th mat-header-cell *matHeaderCellDef class="txt-center"> Eliminar </th>
                            <td mat-cell *matCellDef="let element">
                                <a (click)="eliminarTag(element)" >
                                <img src="assets/images/skins/ico_Borrar.png" alt="eliminar">  
                              </a>
                            </td>
                          </ng-container>

                          <!-- header -->
                          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="registros_x_pagina" showFirstLastButtons></mat-paginator>
                      </div>

                        

                  </div>
                </div>
              </div>

              
          <!--  /CUERPO DEL COMPONENTE -->
          </div>
      </section>
  </div>
  <footer id="pie">
      Derechos Reservados &copy;   
  </footer>
</div>
