.container-fluid{
	background: white;
	padding-top: 15px;
	display: flex;
    flex-direction: column;
}

.mat-radio-button ~ .mat-radio-button {
	margin-left: 16px;
}


.mat-form-field{
	  width: 100%;
}

.mat-card{
	padding: 50px;
	height: 100%;
}