<div class="section">
    <div class="row pb-3">
        <div class="col">
            <p class="section_titulo_0">Conocimiento y habilidades</p>
            <p class="section_subtitulo_0"></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            
            <!--<div class="row">
                <div class="col-12" style="background: grey; color: white">
                <h3></h3>
                </div>
            </div>-->
            <form (ngSubmit)="onSubmit()">
              <div *ngFor = "let tema of temas; let i = index;" >
                <div class="row text-blue p-2 mt-5 mb-3" >
                    <div class="col-12" [ngStyle]="{ 'color':'white', 'background-color': tema.color}">
                        <p class="section_titulo_0">{{tema.label}}</p>
                    </div>
                </div>
                <div *ngFor = "let preg of tema.pregu; let j = index; let c = count;">
                    <div class="form-row" style="background: white;">
                        <div class="col-6">
                            <label>{{preg.label}}</label>
                            <input type="hidden" [(ngModel)]="grupPreg[i][j]" [ngModelOptions]="{standalone: true}" />
                        </div>
                        <div class="col-6" style="text-align-last: right" >
                            <div class="custom-control custom-radio custom-control-inline" >
                                <mat-radio-group [(ngModel)]="grupOpc[i][j]" [ngModelOptions]="{standalone: true}" [disabled]="isdisabled" >
                                    <mat-radio-button *ngFor="let opc of preg.pregu;" [value]="opc.value">{{opc.label}}</mat-radio-button>
                                </mat-radio-group>  
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-12">
                            <label>¿Por qué?</label>
                            <textarea class="form-control"
                                [(ngModel)]="grupRes[i][j]" 
                                [ngModelOptions]="{standalone: true}"  
                                [disabled]="isdisabled">
                            </textarea>
                        </div>
                    </div>
                </div>                     
            </div>
            <div class="row mt-4">
                    <div class="col text-right">
                        <!--
                        <button type="submit" class="btn btn-primary btn-md" [disabled]="(this.entidadEstatusId === this.terminadoId) ? true:false" >Guardar</button>
                        <button class="btn btn-primary btn-md" (click)="terminaExamen()" [disabled]="(this.entidadEstatusId === this.terminadoId) ? true:false">Termina Examen</button>
                        -->
                        <button class="btn btn-md" (click)="terminaExamen()" [disabled]="isdisabled"
                            [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}"
                        >
                            Termina Examen
                        </button>
                    </div>
                </div>    
            </form>

        </div>
    </div>
</div>