	  
<div class="section">
	<div class="row pb-4">
		<div class="col">
				<p class="section_titulo_0">Conocimiento y Habilidades</p>
				<p class="section_subtitulo_0">Aqui puedes ... </p>
		</div>
	</div>
	<div class=" row">
		<div class="col-12">
            <form (ngSubmit)="onSubmit()">
              <div *ngFor = "let tema of temas; let i = index;" >
                <div class="row text-blue mb-3" >
                    <div class="col-12" [ngStyle]="{ 'color':'white', 'background-color': tema.color}">
                        <p class="py-3">{{tema.label}}</p>
                    </div>
                </div>
                <div *ngFor = "let preg of tema.pregu; let j = index; let c = count;">
                    <div class="form-row" style="background: white;">
                            <div class="col-6">
                                <p>{{preg.label}}</p>
                                <input type="hidden" [(ngModel)]="grupPregSkill[i][j]" [ngModelOptions]="{standalone: true}" />
                            </div>
                            <div class="col-6" style="text-align-last: right" >
                                <div class="custom-control custom-radio custom-control-inline" >
                                    <mat-radio-group [(ngModel)]="grupOpcSkill[i][j]" [ngModelOptions]="{standalone: true}" [disabled]="isdisabled" >
                                        <mat-radio-button *ngFor="let opc of preg.pregu;" [value]="opc.value">{{opc.label}}</mat-radio-button>
                                    </mat-radio-group>  
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <mat-form-field>
                                    <textarea [(ngModel)]="grupResSkill[i][j]" [ngModelOptions]="{standalone: true}"  matInput placeholder="¿Por qué?" [disabled]="isdisabled"></textarea>
                                </mat-form-field>
                        </div>
                    </div>
                </div>                     
            </div>
            <div class="row">
                    <div class="col-12 text-right">
                        
                       <!--
                        <button type="submit" class="btn btn-primary btn-md" 
                          [disabled]="(this.entidadEstatusId === this.terminadoId) ? true:false" >Guardar
                        </button>
                        <button class="btn btn-primary btn-md" (click)="terminaExamen()" 
                        [disabled]="(this.entidadEstatusId === this.terminadoId) ? true:false">Termina Examen
                        </button>                        
                       -->

                        <button type="submit" class="btn" [disabled]="isdisabled">
                            <i class="ti-bookmark-alt"></i>&nbsp;
                            Guardar
                        </button>
                        <button type="button" class="btn" (click)="terminaExamen()" [disabled]="isdisabledFinish">
                            <i class="ti-save"></i>&nbsp;
                            Termina Examen
                        </button>
                    </div>
                </div>    
            </form>

    
        </div>
    </div>
</div>
