:host{
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#body{
    min-height: 88vh;
}

// #columna{
// 	background: rgb(68, 73, 78);
//     color: #fff;
// }
// .info-user{
//     color: #fff;   
// }
// #seccion{
//     /*background: rgb(14, 18, 22);*/
//     background:#000000;
// }
// hr{
// 	background: #ffffff;
// 	height: 1px;
// }