#columna{
	background: rgb(68, 73, 78);
    color: #fff;
}
.info-user{
    color: #fff;   
}
#seccion{
    /*background: rgb(14, 18, 22);*/
    background:#000000;
}
hr{
	background: #ffffff;
	height: 1px;
}