<app-css></app-css>
<div id="agrupar">
	<app-shared-header></app-shared-header>
	<div id="body">
		<app-shared-sidebar minwidth="0px"></app-shared-sidebar>
		
		<!--<div id="seccion" [ngStyle]="{'width':globalService.aside_open ? 'calc(100% - 230px)' : 'calc(100%)' }">-->
		<div id="seccion" [ngStyle]="{'margin-left':globalService.aside_open ? '233px' : '0px' }">
			<div class="container-fluid">
				<ng-template #container></ng-template>
			</div>
		</div>
		
	</div>
	<app-shared-footer></app-shared-footer>
</div>
