

  	<div class="col">
		<p class="dropdownMenuheader">{{ 'shared.header.tools.language' | translate }}</p>
	</div>
	<a class="dropdown-item" (click)="cambiarLenguaje('es')">
		<table>
			<tr>
				<td><span class="lnr lnr-bubble"></span>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<p>{{ 'shared.header.tools.spanish' | translate }}</p>
				</td>
			</tr>
		</table>
	</a>
	<a class="dropdown-item" (click)="cambiarLenguaje('en')">
		<table>
			<tr>
				<td><span class="lnr lnr-bubble"></span>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<p>{{ 'shared.header.tools.english' | translate }}</p>
				</td>
			</tr>
		</table>
	</a>
	<a class="dropdown-item" (click)="cambiarLenguaje('ja')">
		<table>
			<tr>
				<td><span class="lnr lnr-bubble"></span>&nbsp;&nbsp;&nbsp;</td>
				<td>
					<p>{{ 'shared.header.tools.japanese' | translate }}</p>
				</td>
			</tr>
		</table>
	</a>