<div class="myheader" [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}">
	<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="false">
		<mdb-navbar-brand mdbDropdown>
			<a class="navbar-brand" style="border-right: solid 1px;" mdbDropdownToggle mdbWavesEffect  class="dropdown-toggle waves-light">
				<img src="{{srclogo}}" height="35" alt="" />
				<strong class="nameplanta mr-4 ml-3">{{nameplanta}}</strong>
			</a>
			<div class="dropdown-menu dropdown-primary">
				<a class="dropdown-item" (click)="cambioPlantaSol()" *ngIf="globalService.aguila">Sol</a>
				<a class="dropdown-item" (click)="cambioPlantaAguila()" *ngIf="!globalService.aguila">Aguila</a>
				<a class="dropdown-item" (click)="changePassword()">Cambiar Contraseña</a>
				<div class="divider dropdown-divider"></div>
				<a class="dropdown-item" (click)="logout()">Salir</a>
			</div>
		</mdb-navbar-brand>
		<links>

			<!-- Links -->
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleMenu()">
					<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
				</button>
			  </li>
			  
			  
 

			  <li class="nav-item d-none d-md-none d-lg-block">
					<form action="" class="mysearch">
						<input type="search" name="" id="" placeholder="Search your content...">
						<i class="fa fa-search"></i>
					</form>
			  </li>
			</ul>
			<!-- Links -->
		
			<ul class="navbar-nav ml-auto nav-flex-icons">
			  <li class="nav-item">
				<a class="nav-link">
					<mdb-icon far icon="envelope"></mdb-icon>
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link">
					<mdb-icon far icon="bell"></mdb-icon>
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link group_logo_module" (click)="changeModule()">
					<img src="../../../assets/img/logo_compliance-simple.png" height="30" alt="" /> 
					<span>ompliance</span>
				</a>
			  </li>
			</ul>
		  </links>
		  <!-- Collapsible content -->
	</mdb-navbar>
</div>