<div class="row mbLblCheck justify-content-between" *ngIf="controlNameCheckBoxRequired != null">
	<div class="col">
		<label>{{ 'Required' | translate }}{{ sufijo | translate }}</label>
	</div>
	<div class="col-auto">
		<app-mat-input-checkbox 
			[formGroup]="formGroup" 
			[controlName]="controlNameCheckBoxRequired"
		></app-mat-input-checkbox>
	</div>
</div>
<div class="row mbLblCheck justify-content-between">
	<div class="col">
		<label>{{ label | translate }}{{ sufijo | translate }}</label>
	</div>
	<div class="col-auto">
		<app-mat-input-checkbox 
			[formGroup]="formGroup" 
			[controlName]="controlNameCheckBox"
			(eventChange)="onChangeCheckBox($event)"
		></app-mat-input-checkbox>
	</div>
</div>
<app-mat-select-multiple 
	[formGroup]="formGroup" 
	[controlName]="controlName" 
	(eventChange)="onChangeSelect($event)"
	[options]="options"
	[compareWith]="compareWith"
	[disableOption]="disableOption"
></app-mat-select-multiple>
