
  .TextDonuts{
    margin: 0em;
   color: aliceblue;
   text-align: center;

  }

  
.Textrow1{
  color:#17a2b8;font-size: 0.7em; margin: 0%; word-wrap: break-word;
}
.Textrow2{
  color: rgb(14, 144, 250); font-size: 0.7em; margin: 0%; word-wrap: break-word;
}
.Textrow3{
  color: rgb(201, 77, 5); font-size: 0.7em; margin: 0%; word-wrap: break-word;
}

.TexInfoRows{
  margin: 0PX; 
 color: aliceblue;
 font-size: 0.6em;
}
@media (min-width: 0px) {

 
  .tanquegas{
    margin-left:8px;
    margin-top: 40px;
  }
  .Tacometro{
    width: 100%; height: auto;
  
    overflow: visible; 
    position: relative;
    left:-80px;
    }


    #container {
      background-color: black;
    }
  
  
    
    
    
    .Tank{
      overflow: visible; 
      position: relative;
    }
    

    .TextDonutsZi{
      text-align: center;
       font-size: 12px;
    }
    
    
    
    .wrapper {
      width: 100%; height: auto;
      text-align:center;
    }
    
    .lienzo{
    height:18%;
    
    }
    
    
    body {
      padding: 0 20px;
    
    background-color: aqua;
    }
    header {
      background: lightblue;
      padding: 1em 0; 
    }
  
    
    header h2 {font-size:1.2rem;margin:10px 0;}
    
    
    .flag {
      width: 100%; height: auto;
      display: inline-block;
      background: red; 
    }


    .contenedoresporcentaje
    {
      background: #000000;
    }
    
}



@media (min-width: 400px) {
 

  .tanquegas{
    margin-left:8px;
    margin-top: 40px;
  }
  .Tacometro{
    width: 100%; height: auto;
    overflow: visible; 
    position: relative;
    left:-80px;
    }


    #container {
      background-color: black;
    }
  
  
    
    
    
    .Tank{
      overflow: visible; 
      position: relative;
    }
    
  

    
    .TextDonutsZi{
      text-align: center;
       font-size: 12px;
    }
    
    
    
    .wrapper {
      width: 100%; height: auto;
      text-align:center;
    }
    
    .lienzo{
    height:18%;
    
    }
    
    
    body {
      padding: 0 20px;
    
    background-color: aqua;
    }
    header {
      background: lightblue;
      padding: 1em 0; 
    }
  
    
    header h2 {font-size:1.2rem;margin:10px 0;}
    
    
    .flag {
      width: 100%; height: auto;
      display: inline-block;
      background: red; 
    }


    .contenedoresporcentaje
    {
      background: #000000;
    }
    
}





/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
 

 
  .tanquegas{
    margin-left:8px;
    margin-top: 40px;
  }

  .Tacometro{
    width: 100%; height: auto;    
    overflow: visible; 
    position: relative;
    left:-80px;
    }
 
  #container {
    background-color: black;
  }


  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }

  
  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }

  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }

  .contenedoresporcentaje
  {
    background: #000000;
  }
  
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 







  #container {
    background-color: black;
  }
  
  

  
  .Tacometro{
  width: 12em;
  
  overflow: visible; 
  position: relative;
  left:-100px;
  }
  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }
  
 
  
  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }
  .tanquegas{
    margin-left: 5px;
    margin-top: 50px;
  }
  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }
  
}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {







  #container {
    background-color: black;
  }
  
  
  

  
 
  .Tacometro{
  width: 12em;
  
  overflow: visible; 
  position: relative;
  left:-100px;
  }
  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }

  
  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }
  .tanquegas{
    margin-left: 10px;
    margin-top: 50px;
  }
  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }
  
  .GrafocosContenedor{
    width: 100%;height: 33.33%;  margin: 0;
  }
  .contenedoresporcentaje
  {
    background: #000000; height: 90%;
  }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 







  #container {
    background-color: black;
  }
  

  

  .Tacometro{
  width: 12em;
 
  overflow: visible; 
  position: relative;
  left:-100px;
  }
  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }
  

  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }
  .tanquegas{
    margin-left:25px;
    margin-top: 70px;
  }
  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }
  
  .GrafocosContenedor{
    width: 100%;height: 33.33%;  margin: 0;
  } 
  .contenedoresporcentaje
  {
    background: #000000; height: 90%;
  }

}


@media (min-width: 1400px) { 







  #container {
    background-color: black;
  }
  
  
  

  
  
  
  .TexInfoRows{
    margin: 0PX; 
   color: aliceblue;
   font-size: 12px
  }
  
  .Tacometro{
  width: 12em;
 
  overflow: visible; 
  position: relative;
  left:-100px;
  }
  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }
  

  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }
  .tanquegas{
    margin-left:45px;
    margin-top: 85px;
  }
  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }
  
  .GrafocosContenedor{
    width: 100%;height: 33.33%;  margin: 0;
  } 
  .contenedoresporcentaje
  {
    background: #000000; height: 90%;
  }

}



@media (min-width: 1600px)  {
 

  #container {
    background-color: black;
  }
  
  
  
  
  .TexInfoRows{
    margin: 0PX; 
   color: aliceblue;
   font-size: 12px
  }
  
  .Tacometro{
  width: 12em;
  
  overflow: visible; 
  position: relative;
  left:-100px;
  }
  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }
  

  
  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }
  .tanquegas{
    margin-left:60px;
    margin-top: 90px;
  }
  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }
  
  .GrafocosContenedor{
    width: 100%;height: 33.33%;  margin: 0;
  } 
  .contenedoresporcentaje
  {
    background: #000000; height: 90%;
  }
}

@media (min-width: 1750px)  {
 

  #container {
    background-color: black;
  }
  
  
  
  .TexInfoRows{
    margin: 0PX; 
   color: aliceblue;
   font-size: 12px
  }
  
  .Tacometro{
  width: 12em;
 
  overflow: visible; 
  position: relative;
  left:-100px;
  }
  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }
  

  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }
  .tanquegas{
    margin-left:90px;
    margin-top: 110px;
  }
  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }
  
  .GrafocosContenedor{
    width: 100%;height: 33.33%;  margin: 0;
  } 
  .contenedoresporcentaje
  {
    background: #000000; height: 90%;
  }
}


@media (min-width: 2000px)  {
 

  #container {
    background-color: black;
  }
  
  
  .TexInfoRows{
    margin: 0PX; 
   color: aliceblue;
   font-size: 12px
  }
  
  .Tacometro{
  width: 12em;
 
  overflow: visible; 
  position: relative;
  left:-100px;
  }
  
  
  
  .Tank{
    overflow: visible; 
    position: relative;
  }
  

  
  .TextDonutsZi{
    text-align: center;
     font-size: 12px;
  }
  
  
  
  .wrapper {
    width: 100%; height: auto;
    text-align:center;
  }
  
  .lienzo{
  height:18%;
  
  }
  
  
  body {
    padding: 0 20px;
  
  background-color: aqua;
  }
  header {
    background: lightblue;
    padding: 1em 0; 
  }
  .tanquegas{
    margin-left:110px;
    margin-top: 120px;
  }
  
  header h2 {font-size:1.2rem;margin:10px 0;}
  
  
  .flag {
    width: 100%; height: auto;
    display: inline-block;
    background: red; 
  }
  
  .GrafocosContenedor{
    width: 100%;height: 33.33%;  margin: 0;
  } 
  .contenedoresporcentaje
  {
    background: #000000; height: 90%;
  } 
}
















