<div class="row mbLblCheck justify-content-between">
	<div class="col">
		<label>{{ label | translate }}{{ sufijo | translate }}</label>
	</div>
	<div class="col-auto">
		<app-mat-input-checkbox 
			[formGroup]="formGroup" 
			[controlName]="controlNameCheckBox"
			(eventChange)="onChangeCheckBox($event)"
		></app-mat-input-checkbox>
	</div>
</div>
<app-mat-select
	[formGroup]="formGroup" 
	[controlName]="controlName" 
	(eventChange)="onChangeSelect($event)"
	[options]="options"
></app-mat-select>