<div id="myheader" class="sticky-top">
	<!--Navbar-->
	<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="false">
	
		<!-- Navbar brand -->
		<mdb-navbar-brand>
		<div class="mybrand">
			<img src="{{theme.getLogo()}}" height="35" width="45" alt="" />
			<strong class="nameplanta mr-4 ml-3">{{theme.getNameLabel()}}</strong>
			<a class="navbar-brand" *ngIf="!disableChangePlant && globalService.plant.name == 'AGUILA'" [ngStyle]="{'visibility':securityService.loadPlants().length > 1 ? 'visible' : 'hidden' }" ><mdb-icon fas icon="exchange-alt" class="mr-2" (click)="changePlant('SOL')"></mdb-icon></a>
			<a class="navbar-brand" *ngIf="!disableChangePlant && globalService.plant.name == 'SOL'" [ngStyle]="{'visibility':securityService.loadPlants().length > 1 ? 'visible' : 'hidden' }"><mdb-icon fas icon="exchange-alt" class="mr-2" (click)="changePlant('AGUILA')"></mdb-icon></a>
		</div>	
		<mdb-icon fas icon="bars" (click)="toggleMenu()" class="myicobarstoggle"></mdb-icon>
		</mdb-navbar-brand>
		
		<!-- Collapsible content -->
		<links>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			<a class="nav-link">
				<div class="btn-group">
				<form action="" class="mysearch">
					<input type="search" name="" id="" placeholder="">
					<i class="fa fa-search"></i>
				</form>
				</div>
			</a>
			</li>
		</ul>
		
		<ul class="navbar-nav ml-auto nav-flex-icons">
			<!--Tools-->
			<li class="nav-item">
			<a class="nav-link">
				<div class="btn-group" mdbDropdown>
				<mdb-icon fas icon="tools" dropdownToggle style="color: #ccc;"></mdb-icon>
				<div class="dropdown-menu dropdown-menu-right">
					<div class="col">
					<p class="dropdownMenuheader">{{ 'shared.header.tools' | translate }}</p>
					</div>
					<a class="dropdown-item" (click)="changePassword()">
					<table>
						<tr>
						<td><span class="lnr lnr-lock"></span>&nbsp;&nbsp;&nbsp;</td>
						<td><h4>{{ 'shared.header.tools.changePassword' | translate }}</h4></td>
						</tr>
					</table>
					</a>
					<div class="divider dropdown-divider"></div>
	
					<app-translation></app-translation>
					
					<div class="divider dropdown-divider"></div>
					<a class="dropdown-item" (click)="logout()">
					<table>
						<tr>
						<td>
							<span class="lnr lnr-power-switch"></span>&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<h4>{{ 'shared.header.tools.getOut' | translate }}</h4>
						</td>
						</tr>
					</table>
					</a>
				</div>
				</div>
			</a>
			</li>
	
			<li class="nav-item">
			<a class="nav-link">
				<div class="btn-group" mdbDropdown>
				<!--<mdb-icon far icon="envelope" dropdownToggle></mdb-icon>-->
				<i class="ti-email" dropdownToggle style="font-size: 20px; color: #ccc;"></i>
				<div *dropdownMenu class="dropdown-menu dropdown-menu-right " role="menu">
					<div class="col">
					<p class="dropdownMenuheader">{{  "shared.header.emails" | translate  }}</p>
					</div>
					<a class="dropdown-item" >
					<table>
						<tr>
						<td>
							<i class="ti-announcement"></i>&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<h4>{{  "shared.header.mail" | translate  }}</h4>
							<h5>Cargar</h5>
						</td>
						</tr>
					</table>
					</a>
					<div class="divider dropdown-divider"></div>
					<a class="dropdown-item" (click)="changePassword()">
					<table>
						<tr>
						<td>
							<i class="ti-announcement"></i>&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<h4>{{  "shared.header.mail" | translate  }}</h4>
							<h5>Reiniciar</h5>
						</td>
						</tr>
					</table>
					</a>
					<div class="divider dropdown-divider"></div>
					<a class="dropdown-item text-right" (click)="changePassword()">
					<span class="dropdownMenufooter">
						Ver Todos
					</span>
					</a>
				</div>
				</div>
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link">
				<div class="btn-group" mdbDropdown>
				<!--<mdb-icon far icon="bell" dropdownToggle  style="font-size: 20px; color: #ccc;"></mdb-icon>-->
				<i class="ti-bell" dropdownToggle style="font-size: 20px; color: #ccc;"></i>
				<div *dropdownMenu class="dropdown-menu dropdown-menu-right " role="menu">
					<div class="col">
					<p class="dropdownMenuheader">{{  "shared.header.notifications" | translate  }}</p>
					</div>
					<a class="dropdown-item" >
					<table>
						<tr>
						<td>
							<i class="ti-announcement"></i>&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<h4>Notificaciones 1</h4>
							<h5>Cargar</h5>
						</td>
						</tr>
					</table>
					</a>
					<div class="divider dropdown-divider"></div>
					<a class="dropdown-item">
					<table>
						<tr>
						<td>
							<i class="ti-announcement"></i>&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<h4>Notificaciones 2</h4>
							<h5>Reiniciar</h5>
						</td>
						</tr>
					</table>
					</a>
					<div class="divider dropdown-divider"></div>
					<a class="dropdown-item text-right" (click)="changePassword()">
					<span class="dropdownMenufooter">
						Ver Todos
					</span>
					</a>
				</div>
				</div>
			</a>
			</li>
		</ul>
		
			<span class="navbar-text white-text">
			<img src="{{theme.getLogoApp()}}" class="logomodheader"  (click)="changeModule()" /> 
			<span class="nameplanta mr-4">{{theme.getNameLabelApp()}}</span>
		</span>
		</links>
		<!-- Collapsible content -->
	</mdb-navbar>
	<!--/.Navbar-->
</div>