table{
    width: 100%;
}
table td{
    border: solid #ccc 1px ;
    padding: 18px;
}
.example-container {
    width: 100%;
    overflow: auto;
  }
  table th{
      text-align: center;
      border: solid #ccc 1px ;
  }


