<!--button  type="button" class="btn btn-primary" (click)="openModalCt_1()">Otro</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalTurbineCT1">
Launch demo modal
</button-->
<!-- Modal -->
<div class="modal scroll_design fade" id="ModalTurbineCT1" tabindex="-1" role="dialog" aria-labelledby="ModalTurbineCT1Title" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTurbineCT1Title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="overflow-x: auto; " class="container scroll_design">
                    <div class="image-phase3" style="width: 937px; height: 577px; position: relative; overflow: hidden; margin: auto;">
                        <div class="tags" style="position: absolute;z-index: 2; width: 100%; height: 100%;">
                            <div style="
                                position: absolute; left: 130px; top: 185px;"
                                (click)="tag('tag_0')">
                                <ng-template style="min-width: 900px;" #tip_getTemperaturaAmbiente>
                                    <b>Hola mundo mundial</b>
                                    <div>TAG</div>
                                </ng-template>
                                <i class="fas fa-crosshairs tagpoint" id="tag_0"  tooltipClass="mytooltip" [ngbTooltip]="tip_getTemperaturaAmbiente"></i>
                            </div>
                            <div style="
                                position: absolute; left: 600px; top: 130px;"
                                (click)="tag('tag_1')">
                                <ng-template style="min-width: 900px;" #tip_getTemperaturaAmbiente>
                                    <b>Hola mundo mundial</b>
                                    <div>TAG</div>
                                </ng-template>
                                <i class="fas fa-crosshairs tagpoint" id="tag_1" tooltipClass="mytooltip" [ngbTooltip]="tip_getTemperaturaAmbiente"></i>
                            </div>
						</div>
						<video src="/assets/monitoring/phase3/turbina_gas_02.mp4"  type="video/webm" 
						autoplay loop 
						style="position: absolute;z-index: 1; width: 100%; top: 0;"
                        ></video>
                        <div class="chart" style="z-index: 2;height: 200px;width: 500px; position: absolute;bottom: 0;right: 0;">
                            <canvas id="chart_rt5" ></canvas>
                        </div>
                    </div>
                </div>
                <div id="my-popup-info" class="my-popup-info animated zoomOut" style="width: 100%;
                    padding: 14px; ">
                    <div class="row">
                        <div class="col">
                            <div style="width: 100%; min-height: 200px;">
                                <canvas id="chart_rt2" ></canvas>
                            </div>
                        </div>
                        <div class="col">
                            
                            {{Tag_info}}
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>