<div class="full-height d-flex align-items-center">
    <div class="panel px-md-5 py-5 text-center" style="margin: auto;">
        <div class="col-12"><img src="/assets/img/common/ico_mod/ICollab.png" style="max-width: 250px;"></div>
        <h3 class="mycolororange"><strong>I Collab</strong></h3>    
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mycolororange"><strong>Bienvenidos</strong></h2>
                    <h3><strong>Elija el modulo al que dese ingresar</strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 my-2" *ngIf="existApp('Safe')">
                    <a (click)="goSafe()">
                        <img src="/assets/img/common/ico_mod/Safe-v2.png" class="img-fluid mx-auto" style="max-width: 100px;"><br>
                        <h5>Safe</h5>
                    </a>
                </div>
                <div class="col-6 col-md-4 my-2" *ngIf="existApp('Compliance')">
                    <a (click)="goCompliance()">
                        <img src="/assets/img/common/ico_mod/Compliance-v2.png" class="img-fluid mx-auto" style="max-width: 100px;"><br>
                        <h5>Compliance</h5>
                    </a>
                </div>
                <div class="col-6 col-md-4 my-2" *ngIf="existApp('Administrative_monitoring')">
                    <a (click)="goAdministrative_monitoring()">
                        <img src="/assets/img/common/ico_mod/MonitoreoAdministrativo-v2.png" class="img-fluid mx-auto" style="max-width: 100px;"><br>
                        <h5>Monitoreo Administrativo</h5>
                    </a>
                </div>
                <div class="col-6 col-md-4 my-2" *ngIf="existApp('Efh')">
                    <a (click)="goSafe()">
                        <img src="/assets/img/common/ico_mod/EFH.png" class="img-fluid mx-auto" style="max-width: 100px;">
                    </a>
                </div>
                <div class="col-6 col-md-4 my-2" *ngIf="existApp('Security')">
                    <a (click)="goSecurity()">
                        <img src="/assets/img/common/ico_mod/admin.png" class="img-fluid mx-auto" style="max-width: 100px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>