/*
	@name dahsboardaguila_jpg
*/
/* Only edit this if you know what you are doing! */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Arial"; /*overflow-x:hidden;*/
}

/* Only edit this if you know what you are doing! */
div {
  position: absolute;
}

#group_3 {
  top: 0px;
  left: 70%;
}

#rectangle_1_copy_7 {
  width: 410px;
  height: 53px;
  background: rgba(46, 169, 252, 255);
}

#rectangle_1_copy_2 {
  top: 35px;
  left: 205px;
  width: 11.999267578125px;
  height: 7.00048828125px;
}

#shape_1 {
  top: 10px;
  left: 113px;
  width: 53.000244140625px;
  height: 41.013793945312px;
}

#rectangle_1_copy {
  display: none;
  top: 30.002075195312px;
  left: 17.000801086426px;
  width: 27.001499176025px;
  height: 17.995483398438px;
}

#shape_4 {
  top: 82.001708984375px;
  left: 59.998504638672px;
  width: 12.003295898438px;
  height: 7.9974365234375px;
}

#big_safe {
  top: 14.871948242188px;
  left: 29px;
  width: 122.88662719727px;
  height: 41.666259765625px;
}

#big_safe_ek1 {
  top: 0px;
  left: 0px;
  width: 122.88662719727px;
  height: 41.666259765625px;
}

#group_4 {
  top: 16.780029296875px;
  left: 1713.9204101562px;
  width: 37.299560546875px;
  height: 43.58837890625px;
}
#layer_5 {
  top: 25px;
  left: 0px;
  width: 22.8212890625px;
  height: 26.83349609375px;
}
#layer_5_ek1 {
  top: 0px;
  left: 0px;
  width: 22.820678710938px;
  height: 26.833129882812px;
}

#layer_5_ek2 {
  top: 0px;
  left: 0px;
  width: 22.820678710938px;
  height: 26.833129882812px;
}

#color_overlay {
  top: 0px;
  left: 0px;
  width: 22.8212890625px;
  height: 26.83349609375px;
}

#ellipse_1_copy_4 {
  top: 8px;
  left: 12px;
  width: 25.400024414062px;
  height: 25.400024414062px;
  -ms-border-radius: 12.70001220703125px / 12.70001220703125px;
  -o-border-radius: 12.70001220703125px / 12.70001220703125px;
  -moz-border-radius: 12.70001220703125px / 12.70001220703125px;
  -webkit-border-radius: 12.70001220703125px / 12.70001220703125px;
  border-radius: 12.70001220703125px / 12.70001220703125px;
  background: rgba(235, 0, 0, 255);
}
