<div class="row">
	<mdb-breadcrumb customClass="white" class="w-100">
		<mdb-breadcrumb-item class="">
			<mdb-icon fas icon="cog"></mdb-icon>
		</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ " Cumplimiento Legal " | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item class="active">{{ " Aprobación de Cumplimiento" | translate }}</mdb-breadcrumb-item>
	</mdb-breadcrumb>
</div>

<div class="section">
	<div class="row">
		<div class="col">
			<p class="section_titulo_0">{{ " Aprobación de Cumplimiento/Generación de Tareas " | translate }}</p>
			<p class="section_subtitulo_0">{{ "Buscar por" | translate }}</p>
		</div>
	</div>
	<hr>
	<br>
	<div class="row">
		<div class="col">
			<pre>
				{{oData | json}}
			</pre>
		</div>
	</div>
</div>

