<div class="row pb-5">
  <div class="col">
    <span class="agila-cda-titulo">{{getTitle()}}</span>
  </div>
</div>
<div class="row">
  <div class="col">
    <form [formGroup]="roleForm" (ngSubmit)="save(roleForm.value)">
      <div class="row">
        <div class="col-md-4">
          <div class="md-form">
            <mat-form-field class="w-100">
              <input matInput placeholder="Nombre" formControlName="name">
              <mat-error *ngIf="!roleForm.controls['name'].valid 
                  && roleForm.controls['name'].touched">
                Requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Applicación</mat-label>
            <mat-select formControlName="app" [compareWith]="compareObjects">
              <mat-option *ngFor="let app of apps" [value]="app">
                {{ app.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="!roleForm.controls['app'].valid 
                        && roleForm.controls['app'].touched">
            Requerido
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex justify-content-end" *ngIf="!entity.readOnly">
            <button type="submit" class="btn" [disabled]="!roleForm.valid"
              [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>