.full-width {
    width: 100%;
}
.dividerSection{
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    color:#ffffff;
}
table {
    width: 100%;
}
.table-container{
    width: 100%;
    overflow: auto;
}

.border-none {
    border-bottom-style: none;
}
.right{
    float: right;
}