<div class="row">
	<mdb-breadcrumb customClass="white" class="w-100">
		<mdb-breadcrumb-item class="">
			<mdb-icon fas icon="cog"></mdb-icon>
		</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>Configuración</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ "Incidentes" | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ "Agregar Incidente" | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ "Ambiental" | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item class="active">{{ actionPage | translate }}</mdb-breadcrumb-item>
	</mdb-breadcrumb>
</div>

<form [formGroup]="formNew" (ngSubmit)="onFomrNew(formNew.value)">
	<div class="section">
		<div class="row">
			<div class="col">
				<p class="section_titulo_0" (click)="getIncidentOutDTO()">{{ "Agregar / Configuración de Incidente Ambiental" | translate }}</p>
				<p class="section_subtitulo_0">{{ "Descripción del Incidente" | translate }}</p>
			</div>
		</div>
		<hr>
		<br>

		<div class="row">
			<div class="col-12 col-xl-3">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="tag" 
					label="Tag" 
				></app-mat-input-text>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-xl-6">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="incidentTypeDesc" 
					label="Tipo de Incidente" 
					maxLength="100"
				></app-mat-input-text>
			</div>
			<div class="col-12 col-xl-6">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="department" 
					label="Departamento" 
					maxLength="100"
				></app-mat-input-text>
			</div>
			<div class="col-12 col-xl-6">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="specificLocation" 
					label="Ubicación Especifica" 
					maxLength="100"
				></app-mat-input-text>
			</div>
			
			<div class="col-12 col-xl-4">
				<app-mat-input-datepicker
					[formGroup]="formNew" 
					controlName="incidentDate" 
					label="Fecha en que Ocurrio el Incidente" 
					(eventChange)="onChangeDateFechaOcurrioIncidente()"
				></app-mat-input-datepicker>
			</div>
			<div class="col-12 col-xl-1">
				<app-mat-select 
					[formGroup]="formTim"
					controlName="h1" 
					[options]="hours"
					(eventChange)="onChangeDateFechaOcurrioIncidente()"
					label="Hora"
				></app-mat-select>
			</div>
			<div class="col-12 col-xl-1">
				<app-mat-select 
					[formGroup]="formTim"
					controlName="m1" 
					[options]="hours"
					(eventChange)="onChangeDateFechaOcurrioIncidente()"
					label="Minuto"
				></app-mat-select>
			</div>
			<div class="col-12">
				<app-mat-input-textarea
					[formGroup]="formNew" 
					controlName="description" 
					label="Descripción del incidente" 
					maxLength="1000"
				></app-mat-input-textarea>
			</div>
		</div>
	</div>	
	<div class="section" *ngIf="is2">
		<div class="row">
			<div class="col-12 col-xl-2">
				<app-mat-input-checkbox
					[formGroup]="formNew" 
					controlName="rca" 
					label="Analisis de Causa Raiz (RCA)" 
					(eventChange)="onChangeCheckBoxRCA($event)"
				></app-mat-input-checkbox>
			</div>
			<div class="col-12 col-xl-4">
				<app-mat-input-datepicker
					[formGroup]="formNew" 
					controlName="rcaTargetDate"
					label="Fecha Objetivo Entrega RCA"
					(eventChange)="onChangeDateFechaObjetivoEntregaRCA()"
					[submitted]="isSubmitedRCA"
				></app-mat-input-datepicker>
			</div>
			<div class="col-12 col-xl-1">
				<app-mat-select 
					[formGroup]="formTimFechaObjetivoEntregaRCA"
					controlName="h1" 
					[options]="hours"
					(eventChange)="onChangeDateFechaObjetivoEntregaRCA()"
					label="Hora"
					[submitted]="isSubmitedRCA"
				></app-mat-select>
			</div>
			<div class="col-12 col-xl-1">
				<app-mat-select 
					[formGroup]="formTimFechaObjetivoEntregaRCA"
					controlName="m1" 
					[options]="hours"
					(eventChange)="onChangeDateFechaObjetivoEntregaRCA()"
					label="Minuto"
					[submitted]="isSubmitedRCA"
				></app-mat-select>
			</div>
			<div class="col-12 col-xl-4">
				<app-mat-input-datepicker
					[formGroup]="formNew" 
					controlName="rcaDeliveredDate" 
					label="Fecha y hora Entrega RCA" 
				></app-mat-input-datepicker>
			</div>
		</div>
		<div class="row my-5">
			<div class="col">
				<!-- Soportes Analisis de Causa Raiz-->
				<div>			
					<app-bits-upload-component [inIdEventConfig]="cFNew.id.value" [inAccion]="accion" [inTypeConfig]="3"></app-bits-upload-component>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-xl-2">
				<app-mat-input-checkbox
					[formGroup]="formNew" 
					controlName="proceed" 
					label="¿Procede?" 
				></app-mat-input-checkbox>
			</div>
		</div>
	</div>
	<div class="section" *ngIf="is2">
		<div class="row">
			<div class="col">
				<p class="section_titulo_0">{{ "Fuente" | translate }}</p>
				<p class="section_subtitulo_0"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-xl-3">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="userReporter" 
					label="Nombre(s)/Apellido(s) Usuario Reporto" 
				></app-mat-input-text>
			</div>
			<div class="col-12 col-xl-3">
				<app-mat-input-datepicker
					[formGroup]="formNew" 
					controlName="dateReported" 
					label="Fecha y Hora Reporto" 
				></app-mat-input-datepicker>
			</div>
			<div class="col-12 col-xl-3">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="userSupervised" 
					label="Nombre(s)/Apellido(s) Usuario Superviso" 
				></app-mat-input-text>
			</div>
			<div class="col-12 col-xl-3">
				<app-mat-input-datepicker
					[formGroup]="formNew" 
					controlName="dateSupervised" 
					label="Fecha y Hora Superviso" 
				></app-mat-input-datepicker>
			</div>
			<div class="col-12 col-xl-3">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="userApproval" 
					label="Nombre(s)/Apellido(s) Usuario Aprobo/Rechazo" 
				></app-mat-input-text>
			</div>
			<div class="col-12 col-xl-3">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="dateApproved" 
					label="Fecha y Hora Aprobo/Rechazo" 
				></app-mat-input-text>
			</div>
		</div>

	</div>
	<div class="section" *ngIf="is2">
		<div class="row">
			<div class="col">
				<p class="section_titulo_0">{{ "Estatus del Evento" | translate }}</p>
				<p class="section_subtitulo_0"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-xl-3">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="statusEvent" 
					label="Estatus del Evento" 
				></app-mat-input-text>
			</div>
			<div class="col-12 col-xl-3">
				<app-mat-input-text
					[formGroup]="formNew" 
					controlName="reasonApproved" 
					label="Estatus de Aprovacion" 
				></app-mat-input-text>
			</div>
		</div>
	</div>
	<div class="section" *ngIf="is2">
		<div class="row">
			<div class="col">
				<p class="section_titulo_0">{{ "Observaciones" | translate }}</p>
				<p class="section_subtitulo_0"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-mat-input-textarea
					[formGroup]="formObs" 
					controlName="observation" 
					label="Observaciones" 
					maxLength="1000"
				></app-mat-input-textarea>
			</div>
		</div>
		
		<div class="row justify-content-end">
			<div class="col-12 col-lg-2">
				<app-btn-block-add (myClick)="BtnAddObservationsComments()" [disabled]="!formObs.valid || isReadOnly"></app-btn-block-add>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<app-mat-table 
					[data]="tableObservationsComments"
					[selection]="tableObservationsCommentsSelection"
					selectionLabel="Visible"
					[columnsDisplay]="tableColumnsDisplay"
					[columnsLabels]="tablaColumnsLabels"
					(clickEdit)="tableRowEdit($event)"
					(clickDelete)="tableRowDelete($event)"
				></app-mat-table>
			</div>
		</div>
	</div>
	<div class="section" *ngIf="is2">
		<div class="row">
			<div class="col">
				<p class="section_titulo_0">{{ "Soportes" | translate }}</p>
				<p class="section_subtitulo_0"></p>
			</div>
		</div>
		<!-- Soportes -->
		<div>			
			<app-bits-upload-component [inIdEventConfig]="cFNew.id.value" [inAccion]="accion" [inTypeConfig]="3"></app-bits-upload-component>
		</div>
	</div>
	<div class="section" *ngIf="is2">
		<div class="row">
			<div class="col">
				<p class="section_titulo_0">{{ "Seguimiento" | translate }}</p>
				<p class="section_subtitulo_0"></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<app-mat-table 
					[data]="tableSeguimiento"
					[columnsDisplay]="tableSeguimientoColumnsDisplay"
					[columnsLabels]="tablaSeguimientoColumnsLabels"
				></app-mat-table>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="row">
			<div class="col-12 col-xl-4">
			</div>
			<div class="col-12 col-xl-8">
				<div class="row justify-content-end">
					<div class="col">
						<app-btn-block-back (myClick)="btnClickBack()"></app-btn-block-back>
					</div>
					<div class="col">
						<app-btn-block-save-update (myClick)="onFomrNew(formNew.value)" 
						[disabled]="!is2 || isReadOnly || !formNew.valid || !formTimFechaObjetivoEntregaRCA.valid">
						</app-btn-block-save-update>
					</div>
					<div class="col">
						<app-btn-block-send (myClick)="onFomrNew(formNew.value)" 
						[disabled]="disabledBtnSend || isReadOnly || !formNew.valid">
						</app-btn-block-send>
					</div>
					<div class="col">
						<app-btn-block-finish (myClick)="btnFinish()" 
						[disabled]="disabledBtnFinish || isReadOnly || !formNew.valid">
						</app-btn-block-finish>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="row">
			<div class="col-12 col-xl-8">
			</div>
			<div class="col-12 col-xl-4">
				<div class="row justify-content-end">
					<div class="col-12 col-lg-6">
						<app-btn-block-reject (myClick)="btnChangeStatus('Evento Rechazado')"
							[disabled]="disabledToRefuse || isReadOnly || !formNew.valid"></app-btn-block-reject>
					</div>
					<div class="col-12 col-lg-6">
						<app-btn-block-acept (myClick)="btnChangeStatus('Evento Aprobado')"
							[disabled]="disabledToAccept || isReadOnly || !formNew.valid"></app-btn-block-acept>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>