<div class="row">
	<mdb-breadcrumb customClass="white" class="w-100">
		<mdb-breadcrumb-item class="">
			<mdb-icon fas icon="cog"></mdb-icon>
		</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ " Cumplimiento Legal " | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item class="active">{{ " Aprobación de Cumplimiento" | translate }}</mdb-breadcrumb-item>
	</mdb-breadcrumb>
</div>

<div class="section">
	<div class="row">
		<div class="col">
			<p class="section_titulo_0">{{ nombreCatalogo | translate }}</p>
			<p class="section_subtitulo_0">{{ "Buscar por" | translate }}</p>
		</div>
	</div>
	<hr>
	<form [formGroup]="filtrosForm">
		<div class="row" *ngIf="isSupervisor">
			<div class="form-group col-12 col-md-6 col-lg-4">
				<label>Año</label>
				<app-mat-input-datepicker-year [formGroup]="filtrosForm" controlName="fAnio"
					(eventChange)="eventChangeAnio($event)">
				</app-mat-input-datepicker-year>
			</div>
		</div>
	</form>
	<hr>
	<form [formGroup]="formFiltersTable" (ngSubmit)="onFiltersTable()">

		<div class="row mt-3">
			<div class="col-12 col-lg-4">
				<app-mat-input-text-autocomplete [formGroup]="formFiltersTable" controlName="tag"
					[options]="tagAutoList" (keyUpChange)="keyUpTag($event)" label="Tag">
				</app-mat-input-text-autocomplete>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-input-text-autocomplete [formGroup]="formFiltersTable" controlName="nombre"
					[options]="complianceNameAutoList" (keyUpChange)="keyUpComplianceName($event)"
					label="Nombre del Cumplimiento"></app-mat-input-text-autocomplete>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="clasificacion"
					[options]="optionsClasificacion" label="Categoría"></app-mat-select>
			</div>
		</div>

		<div class="row">
			<div class="col col-lg-4">
				<div class="row">
					<div class="col">
						<label>Período de entrega</label>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-4">
						<app-mat-input-number [formGroup]="formFiltersTable" controlName="periodo_entrega_cantidad"
							(eventChange)="isnumeric($event)">
						</app-mat-input-number>
					</div>

					<div class="col-12 col-lg-8">
						<app-mat-select [formGroup]="formFiltersTable" controlName="periodo_entrega_unidad"
							[options]="optionsPeriod">
						</app-mat-select>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="autoridad" [options]="comboAutoridad"
					label="Autoridad"></app-mat-select>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="tipo_aplicacion"
					[options]="comboTipoAplicacion" label="Tipo de Aplicación"></app-mat-select>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="grupo" [options]="comboGrupo" label="Grupo">
				</app-mat-select>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-input-text-autocomplete [formGroup]="formFiltersTable" controlName="userUpdated"
					[options]="userAutoList" (keyUpChange)="keyUpUserUpdate($event)" label="Usuario Modifico">
				</app-mat-input-text-autocomplete>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<app-mat-radio-button [formGroup]="formFiltersType" controlName="typeFilter"
					[options]="andOrOptions"></app-mat-radio-button>
			</div>
		</div>

		<div class="row justify-content-end">
			<div class="col-12 col-lg-2">
				<app-btn-block-search myType="submit"></app-btn-block-search>
			</div>
			<div class="col-12 col-lg-2">
				<app-btn-block-clean (myClick)="limpiarFiltros()"></app-btn-block-clean>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-12 col-lg-4">
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block [disabled]="!approveMatrix" label="Aprobar"
				(myClick)="aprobarMatrizCumplimiento()"></app-btn-block>
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block [disabled]="!rejectMatrix" label="Rechazar"
				(myClick)="rechazarMatrizCumplimiento()"></app-btn-block>
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block [disabled]="!generateTasks" label="Generar Tareas" (myClick)="generarTareas()">
			</app-btn-block>
		</div>
	</div>
	<div class="row justify-content-between mt-5">
		<div class="col-12 col-lg-4">
			<p class="section_titulo_0">
				<span *ngIf="statusMatrix != null">{{statusMatrix ? 'Estatus: ' + statusMatrix : '' }}</span>
			</p>
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block label="Seguimiento" (myClick)="getTrack()"></app-btn-block>
		</div>
	</div>
	<div class="row my-4">
		<div class="col">
			<app-mat-table [data]="matrix"
				[columnsLabels]="matrixLabels"
				[columnsDisplay]="matrixDisplay"
				[row_x_page]="tableRowXPage"
				maxHeight="400px"
				(clickSee)="onTableRowSee($event)">
			</app-mat-table>
		</div>
	</div>
</div>
<div *ngIf="showObservation" class="section">
	<div class="row">
		<div class="col">
			<p class="section_titulo_0">{{ "Observaciones y/o comentarios" | translate }}</p>
			<p class="section_subtitulo_0"></p>
		</div>
	</div>
	<hr>
	<form [formGroup]="filtrosForm">
		<div class="row">
			<div class="form-group col-12">
				<app-mat-input-textarea
					[formGroup]="formTrack" 
					controlName="observation" 
					label="Observaciones" 
					maxLength="1000"
				></app-mat-input-textarea>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-12 col-lg-2">
				<app-btn-block-add
					(myClick)="saveObservation()"
					[disabled]="!formTrack.valid"></app-btn-block-add>
			</div>
		</div>
	</form>
</div>
<div *ngIf="showTrack" class="section">
	<div class="row">
		<div class="col">
			<app-mat-table
				[data]="tracks"
				[columnsLabels]="trackLabels"
				[columnsDisplay]="trackDisplay"
				[row_x_page]="tableRowXPage"
				maxHeight="400px"
			></app-mat-table>
		</div>
	</div>
</div>
