<div class="row">
	<mdb-breadcrumb customClass="white" class="w-100">
		<mdb-breadcrumb-item class="">
			<mdb-icon fas icon="cog"></mdb-icon>
		</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ " Cumplimiento Legal " | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item class="active">{{ " Aprobación de Cumplimiento" | translate }}</mdb-breadcrumb-item>
	</mdb-breadcrumb>
</div>

<div class="section">
	<div class="row">
		<div class="col">
			<p class="section_titulo_0">{{ " Aprobación de Cumplimiento/Generación de Tareas " | translate }}</p>
			<p class="section_subtitulo_0">{{ "Buscar por" | translate }}</p>
		</div>
	</div>
	<hr>
	<br>
	<form [formGroup]="formFiltersTable" (ngSubmit)="onFiltersTable()">
		
		<div class="row mt-3">
			<div class="col-12 col-lg-4">
				<app-mat-input-text-autocomplete [formGroup]="formFiltersTable" controlName="tag"
					[options]="filteredAutoTag" label="Tag"></app-mat-input-text-autocomplete>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-input-text-autocomplete [formGroup]="formFiltersTable" controlName="nombre"
					[options]="filteredAutoName" label="Nombre del Cumplimiento"></app-mat-input-text-autocomplete>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="clasificacion"
					[options]="optionsClasificacion" label="Categoría"></app-mat-select>
			</div>
		</div>
		
		<div class="row">
			<div class="col col-lg-4">
				<div class="row">
					<div class="col">
						<label>Período de entrega</label>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-4">
						<app-mat-input-number [formGroup]="formDeliveryPeriod" controlName="n"
							(eventChange)="isnumeric($event)" [submitted]="formDeliveryPeriodSubmited">
						</app-mat-input-number>
					</div>

					<div class="col-12 col-lg-8">
						<app-mat-select [formGroup]="formDeliveryPeriod" controlName="t" [options]="optionsPeriod"
							(blur)="onBlurPeriod()" (closed)="onchangePeriod()"
							[submitted]="formDeliveryPeriodSubmited"></app-mat-select>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="autoridad" [options]="comboAutoridad"
					label="Autoridad"></app-mat-select>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="tipo_aplicacion"
					[options]="comboTipoAplicacion" label="Tipo de Aplicación"></app-mat-select>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="grupo" [options]="comboGrupo" label="Grupo">
				</app-mat-select>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-select [formGroup]="formFiltersTable" controlName="estatus" [options]="comboEstatus"
					label="Estatus"></app-mat-select>
			</div>
			<div class="col-12 col-lg-4">
				<app-mat-input-text-autocomplete [formGroup]="formFiltersTable" controlName="userUpdated"
					[options]="filteredUserUpdated" label="Usuario Modifico"></app-mat-input-text-autocomplete>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12 col-lg-4">
				<label>Fecha de Última Modificación</label><br>
				<app-mat-input-datepicker [formGroup]="formFiltersTable" controlName="minDate__dateUpdated" label="De">
				</app-mat-input-datepicker>
			</div>
			<div class="col-12 col-lg-4">
				<label style="visibility: hidden;">.</label><br>
				<app-mat-input-datepicker [formGroup]="formFiltersTable" controlName="maxDate__dateUpdated" label="Al">
				</app-mat-input-datepicker>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<app-mat-radio-button [formGroup]="formFiltersType" controlName="typeFilter"
					[options]="optionsFiltersType"></app-mat-radio-button>
			</div>
		</div>

		<div class="row justify-content-end">
			<div class="col-12 col-lg-2">
				<app-btn-block-search myType="submit"></app-btn-block-search>
			</div>
			<div class="col-12 col-lg-2">
				<app-btn-block-clean (myClick)="limpiarFiltros()"></app-btn-block-clean>
			</div>
		</div>
	</form>

	<div class="row mt-3">
		<div class="col-12 col-lg-4">
			Año
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-4">
			<app-mat-input-datepicker-year 
				[formGroup]="formMatrizCumplimiento"
				controlName="fMatrizCumplimiento"
				(eventChange)="onChangeDatePicker($event)" >
			</app-mat-input-datepicker-year>
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block label="Aprobar Matriz Cumplimiento" (myClick)="AprobarMatrizCumplimiento()"></app-btn-block>
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block label="Rechazar Matriz Cumplimiento" (myClick)="RechazarMatrizCumplimiento()"></app-btn-block>
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block label="Generar Tareas" (myClick)="GenerarTareas()"></app-btn-block>
		</div>
	</div>
	
	<div class="row justify-content-between mt-5">
		<div class="col-12 col-lg-4">
			<p class="section_titulo_0">
				Estatus: No Aprobada
			</p>
		</div>
		<div class="col-12 col-lg-2">
			<app-btn-block label="Seguimiento de Aprovaciones" (myClick)="SeguimientoAprovaciones()"></app-btn-block>
		</div>
	</div>
	<div class="row my-4">
		<div class="col">
			<app-mat-table
				[data]="tableData"
				[columnsLabels]="tablaColumnsLabels"
				[columnsDisplay]="tableColumnsDisplay"
				[row_x_page]="tableRowXpage"
				(clickSee)="onTableRowSee($event)"
				maxHeight="400px"
			></app-mat-table>
		</div>
	</div>
	
	<div class="row my-4" *ngIf="isSeguimientoAprovaciones">
		<div class="col">
			<app-mat-table
				[data]="tableDataSeguimientoAprovaciones"
				[columnsLabels]="tableDataSeguimientoAprovacionesColumnsLabels"
				[columnsDisplay]="tableDataSeguimientoAprovacionesColumnsDisplay"
			></app-mat-table>
		</div>
	</div>
</div>