html, body, header, .view {
  height: 100%;
}

@media (max-width: 768px) {
  html, body, header, .view, .view-3, .hr-light {
    height: 1vh;
  }
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }
}
.left{
  text-align: left;
}
.form-control{
  color: white;
}

.intro-header {
  height: unset !important;
}
.intro-2 {
  background: url('../../../assets/img/bg_full.jpg') no-repeat center center;
  background-size: cover;
}

.view {
  height: 100vh !important;
}
.view-3 {
  height: 10vh !important;
  width: 10vh !important;
}

.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}
.card {
  background-color: rgba(229, 228, 255, 0.1);
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.md-form label {
  color: #ffffff;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 100%;
  }

h6 {
  line-height: 1.7;
}

.btn .fa.fa-sm {
  font-size: 1rem;
  margin-top: -5px;
  }

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.empresa1__link:checked + img {
  background-color: orange;
} 

.empresa1__link:not(.has-background):hover,
.empresa1__link.has-orange-background-color:hover {
    background-color: orange;
  }

.empresa2__link:not(.has-background):hover,
.empresa2__link.has-aqua-background-color:hover {
    background-color: aqua;
  } 
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }