<div class="row">
    <mdb-breadcrumb customClass="white" class="w-100">
        <mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
        <mdb-breadcrumb-item>Mercado</mdb-breadcrumb-item>
        <mdb-breadcrumb-item>Análisis</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">Mercado</mdb-breadcrumb-item>
    </mdb-breadcrumb>
</div>

<div class="section">

	<div class="row pb-2">
		<div class="col">
			<div style="height: 700px;">
				<canvas id="canvas1" #canvas1></canvas>
			</div>

		</div>
	</div>
</div>