<div class="row">
	<mdb-breadcrumb customClass="white" class="w-100">
		<mdb-breadcrumb-item class="">
			<mdb-icon fas icon="cog"></mdb-icon>
		</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>PPA</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ "Bitacora de Eventos" | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ "Configuración de Eventos" | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item class="active">{{ "Agregar" | translate }}</mdb-breadcrumb-item>
	</mdb-breadcrumb>
</div>
<form [formGroup]="formNewEvent001" (ngSubmit)="onSubmitFormNewEvent001(formNewEvent001.value)">
	<div class="section" *ngIf="catalogType.action === 'nuevo'">
		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_0">{{ "Configuración de Eventos" | translate }}</p>
				<p class="section_subtitulo_0"></p>
			</div>
		</div>
		<hr>
		<br>
		
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select
					[formGroup]="formNewEvent001" 
					controlName="eventsClassification00Id"
					controlNameCheckBox="disabledEventsClassification00Id"
					[options]="lstEventClassification00"
					label="Clasificación de Eventos"
					(eventChangeSelect)="onBuildEventAssociated_00($event)"
				></app-checkbox-with-select>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent001" 
					controlName="events00Id"
					controlNameCheckBox="disabledEvents00Id"
					[options]="lstEvents00"
					label="Eventos"
				></app-checkbox-with-select-multiple>
			</div>
		</div>
		
		<div class="row justify-content-end">
			<div class="col-12 col-lg-2">
				<app-btn-block-save mytype="submit"></app-btn-block-save>
			</div>
		</div>
	</div>
</form>
<form [formGroup]="formNewEvent" (ngSubmit)="onSubmitFormNewEvent(formNewEvent.value)">
	<div class="section">
		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Descripción / Clasificacion de Evento" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select
					[formGroup]="formNewEvent" 
					controlName="eventsClassificationId" 
					controlNameCheckBox="disabledEventsClassificationId"
					[options]="lstEventClassification"
					label="Clasificación de Eventos"
					(eventChangeSelect)="onBuildEventAssociated($event)"
				></app-checkbox-with-select>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select
					[formGroup]="formNewEvent" 
					controlName="eventsId" 
					controlNameCheckBox="disabledEventsId"
					[options]="lstEvents"
					label="Eventos"
				></app-checkbox-with-select>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="fuelsId" 
					controlNameCheckBox="disabledFuelsId"
					[options]="lstFuels"
					label="Combustible"
				></app-checkbox-with-select-multiple>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="impactContractsId" 
					controlNameCheckBox="disabledImpactContractsId"
					[options]="lstImpactContracts"
					label="Contrato Impactado"
				></app-checkbox-with-select-multiple>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="powerMwLimitLower" 
					controlNameCheckBox="disabledPowerMwLimitLower"
					label="Potencia Limite Inferior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="powerMwLimitUpper" 
					controlNameCheckBox="disabledPowerMwLimitUpper"
					label="Potencia Limite Superior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="unitsId" 
					controlNameCheckBox="disabledUnitsId"
					[options]="lstUnits"
					label="Unidad"
				></app-checkbox-with-select-multiple>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Contrato de Compraventa de Energía (PPA)" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="realsCcdvId" 
					controlNameCheckBox="disabledRealsCcdvId"
					[options]="lstRealsCcdv"
					label="Real/CCDV"
				></app-checkbox-with-select-multiple>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="toleranceBandsId" 
					controlNameCheckBox="disabledToleranceBandsId"
					[options]="lstToleranceBands"
					label="Banda de Tolerancia"
				></app-checkbox-with-select-multiple>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Mercado Eléctrico Mayorista (MEM)" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="marketTypesId" 
					controlNameCheckBox="disabledMarketTypesId"
					[options]="lstMarketTypes"
					label="Tipo de Mercado"
				></app-checkbox-with-select-multiple>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="mwOfferedLimitLower" 
					controlNameCheckBox="disabledMwOfferedLimitLower"
					label="MW Ofertados Limite Inferior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="mwOfferedLimitUpper" 
					controlNameCheckBox="disabledMwOfferedLimitUpper"
					label="MW Ofertados Limite Superior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="relatedServicesId" 
					controlNameCheckBox="disabledRelatedServicesId"
					[options]="lstSelatedServices"
					label="Servicios Conexos"
				></app-checkbox-with-select-multiple>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Licencia / Orden de Trabajo" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent" 
					controlName="licenseNumber" 
					controlNameCheckBox="disabledlicenseNumber"
					label="# Licencia"
				></app-checkbox-with-input-text>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="equipmentId" 
					controlNameCheckBox="disabledEquipmentId"
					[options]="lstEquipment"
					label="Equipo"
				></app-checkbox-with-select-multiple>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="initialChargeLimitLower" 
					controlNameCheckBox="disabledInitialChargeLimitLower"
					label="Carga Inicial Limite Inferior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="initialChargeLimitUpper" 
					controlNameCheckBox="disabledInitialChargeLimitUpper"
					label="Carga Inicial Limite Superior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="finalChargeLimitLower" 
					controlNameCheckBox="disabledFinalChargeLimitLower"
					label="Carga Final Limite Inferior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="finalChargeLimitUpper" 
					controlNameCheckBox="disabledFinalChargeLimitUpper"
					label="Carga Final Limite Superior"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="mwPowerLossLI" 
					controlNameCheckBox="disabledMwPowerLossLI"
					label="(-) Perdida Potencia MW LI"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-number
					[formGroup]="formNewEvent" 
					controlName="mwPowerLossLS" 
					controlNameCheckBox="disabledMwPowerLossLS"
					label="(-) Perdida Potencia MW LS"
				></app-checkbox-with-number>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="workOrderId"
					controlNameCheckBox="disabledWorkOrderId"
					label="Orden de Trabajo"
				></app-checkbox-with-input-text>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="licenseDescription"
					controlNameCheckBox="disabledLicenseDescription"
					label="Descripción / Concepto de la Licencia"
				></app-checkbox-with-input-text>
			</div>
		</div>
		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Fuente" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="operatorPlantOpen"
					controlNameCheckBox="disabledOperatorPlantOpen"
					label="Nombre(s) / Apellido(s) Operador Planta Abrió"
				></app-checkbox-with-input-text>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="operatorCenaceOpen"
					controlNameCheckBox="disabledOperatorCenaceOpen"
					label="Nombre(s) / Apellido(s) Operador CENACE Abrió"
				></app-checkbox-with-input-text>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="operatorPlantClose"
					controlNameCheckBox="disabledOperatorPlantClose"
					label="Nombre(s) / Apellido(s) Operador Planta Cerro"
				></app-checkbox-with-input-text>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="operatorCenaceClose"
					controlNameCheckBox="disabledOperatorCenaceClose"
					label="Nombre(s) / Apellido(s) Operador CENACE Cerro"
				></app-checkbox-with-input-text>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-select-multiple
					[formGroup]="formNewEvent" 
					controlName="sourceEventId"
					controlNameCheckBox="disabledSourceEventId"
					[options]="lstSourceEvent"
					label="Fuente Del evento"
				></app-checkbox-with-select-multiple>
			</div>
		</div>
		
		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Estatus del Evento" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="eventStatus"
					controlNameCheckBox="disabledEventStatus"
					label="Estatus del Evento"
				></app-checkbox-with-input-text>
			</div>
			<div class="col-12 col-lg-3">
				<app-checkbox-with-input-text
					[formGroup]="formNewEvent"
					controlName="approvalStatus"
					controlNameCheckBox="disabledApprovalStatus"
					label="Estatus de Aprobación"
				></app-checkbox-with-input-text>
			</div>
		</div>
	</div>
	<div class="section">
		
		<div class="row pb-2">
			<div class="col-12 col-lg-3">
				<div class="row mbLblCheck justify-content-between">
					<div class="col">
						<label>Observaciones y/o comentarios</label>
					</div>
					<div class="col-auto">
						<app-mat-input-checkbox  
							[formGroup]="formNewEvent" 
							controlName="disabledObsComment"
							val=""
						></app-mat-input-checkbox>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-12 col-lg-3">
				<div class="row mbLblCheck justify-content-between">
					<div class="col">
						<label>Soportes</label>
					</div>
					<div class="col-auto">
						<app-mat-input-checkbox  
							[formGroup]="formNewEvent" 
							controlName="disabledFile"
							val=""
						></app-mat-input-checkbox>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="row justify-content-end">
					<div class="col-12 col-lg-4">
						<app-btn-block-back (click)="btnClickBack()"></app-btn-block-back>
					</div>
					<div class="col-12 col-lg-4">
						<app-btn-block-save mytype="submit"></app-btn-block-save>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
