<div id="agrupar">
  <!-- Header -->
  <app-complianceHeader></app-complianceHeader>
  <!-- /Header -->
  <div id="body">
    <!-- Aside -->
    <aside id="columna" [ngStyle]="{'width':aside_open ? '250px' : '60px' }">
      <div class="container-fluid">
        <div class="row">
          <div class="col mt-2 mr-1 mb-3" style="text-align: right;">
            <span (click)="aside_open=!aside_open">
              <mdb-icon fas icon="bars" style="font-size: 30px;"></mdb-icon>
            </span>
          </div>
        </div>
        <app-complianceSidebar [aside_open]='aside_open'></app-complianceSidebar>
      </div>
    </aside>
    <!-- /Aside -->

    <section id="seccion" [ngStyle]="{'width':aside_open ? 'calc(100% - 250px)' : 'calc(100% - 60px)' }">
      <div class="container-fluid">
        <!--  CUERPO DEL COMPONENTE -->


        <!-- Titulo -->
        <div class="row pb-5">
          <div class="col">
            <span class="agila-cda-titulo">{{titulo}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form>
              <!-- Inputs -->
              <div *ngFor="let in of inputs">
                <!-- INPUT -->
                <mat-form-field class="w-100" *ngIf="in.inputtype!='checkbox'">
                  <input matInput placeholder="{{in.label}}" value="{{in.value}}" [disabled]="in.disabled">
                  <div *ngIf="false" style="color:red">
                    <div *ngIf="false">Requerido</div>
                  </div>
                </mat-form-field>
                <!-- /INPUT -->
                <!-- CHECKBOX -->
                <div class="custom-control custom-checkbox" *ngIf="in.inputtype =='checkbox'">
                  <input type="{{in.inputtype}}" class="custom-control-input" id="defaultUnchecked"
                    [checked]="in.checked">
                  <label class="custom-control-label" for="defaultUnchecked">{{in.label}}</label>
                </div>
                <!-- /CHECKBOX -->
              </div>
              <!-- /inputs -->
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
              <!-- /btn guardar -->
            </form>
          </div>
        </div>


        <!--  /CUERPO DEL COMPONENTE -->
      </div>
    </section>
  </div>
  <footer id="pie">
    Derechos Reservados &copy;
  </footer>
</div>