.monitoreo{
    color:#ffffff;
}
.chart_medium > canvas {
    min-height: 190px;
}
.nav-item > .nav-link{
    background-color: #363838;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #000000;
}
.gris2{
    background-color: #141819;
}
.gris3{
    background-color: #363838;
}
hr{
	background: #ffffff;
	height: 1px;
}
p{
    margin: 0 !important;
}