<div class="monitoreo">
    <!--  Visión general  -->
    <div class="row">
        <div class="col">
            Overview
            <p>Overview</p>
            <p>Overview</p>
        </div>
    </div>
    <!-- AGUILA -->
    <div class="row">
        <div class="col">
    
        </div>
    </div>
    <!-- SOL -->
    <div class="row">
        <div class="col-12 text-center mycolororange my-3"><h5><strong>EST</strong></h5></div>
  
        <div class="col-12 col-lg-3 col-xl-2 p-0">
            <ul class="nav flex-lg-column nav-pills nav-justified">
				<li class="nav-item">
					<a class="nav-link rounded-0 text-lg-left active" data-toggle="pill" data-target="#v-pills-Power_Output" role="tab" aria-controls="v-pills-Power_Output" aria-selected="true">
						<div class="row">
							<div class="col-12 col-lg-auto align-self-center mycolororange">
								<i class="fas fa-bolt"></i>
							</div>
							<div class="col pl-lg-0 d-none d-sm-block">
								<p class="mycolororange">
									Power Output
								</p>
								<p>
									texto 2
								</p>
							</div>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link rounded-0 text-lg-left" data-toggle="pill" data-target="#v-pills-Heat_Rate" role="tab" aria-controls="v-pills-Heat_Rate" aria-selected="false">
						<div class="row">
							<div class="col-12 col-lg-auto align-self-center mycolororange">
								<i class="fas fa-thermometer-three-quarters"></i>
							</div>
							<div class="col pl-lg-0 d-none d-sm-block">
								<p class="mycolororange">
									Heat Rate
								</p>
								<p>
									texto 2
								</p>
							</div>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link rounded-0 text-lg-left" data-toggle="pill" data-target="#v-pills-Capacity_Factor" role="tab" aria-controls="v-pills-Capacity_Factor" aria-selected="false">
						<div class="row">
							<div class="col-12 col-lg-auto align-self-center mycolororange">
								<i class="fas fa-battery-three-quarters"></i>
							</div>
							<div class="col pl-lg-0 d-none d-sm-block">
								<p class="mycolororange">
									Capacity Factor
								</p>
								<p>
									texto 2
								</p>
							</div>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link rounded-0 text-lg-left" data-toggle="pill" data-target="#v-pills-Fuel_Gain_Lost" role="tab" aria-controls="v-pills-Fuel_Gain_Lost" aria-selected="false">
						<div class="row">
							<div class="col-12 col-lg-auto align-self-center mycolororange">
								<i class="fas fa-gas-pump"></i>
							</div>
							<div class="col pl-lg-0 d-none d-sm-block">
								<p class="mycolororange">
									Fuel Gain Lost
								</p>
								<p>
									texto 2
								</p>
							</div>
						</div>
					</a>
				</li>
            </ul>
        </div>
        <div class="col-12 col-lg-9 col-xl-10">
            <div class="tab-content h-100" id="v-pills-tabContent">
                <div class="tab-pane fade show active h-100" id="v-pills-Power_Output" role="tabpanel" aria-labelledby="v-pills-Power_Output-tab">
					<div class="row h-100">
						<div class="col-12 d-block d-sm-none text-center py-3 gris3">
							<h6 class="mycolororange"><strong>Power Output</strong></h6>
							<p>texto 2</p>
						</div>
						<div class="col-12 col-md-8 col-xl-5 gris2 pt-3">
							<app-monitoringChartsControls
								[chartsControl]       = "chartsControls['chart_est_item01_col01']"
								(chartsControlOutPut) = "puebafuncionllamadodesdehijo($event)"
							>
							</app-monitoringChartsControls>
							<div>
								<canvas id="chart_est_item01_col01"></canvas>
							</div>
						</div>
						<div class="col-12 col-md-4 col-xl-2 gris2 pt-3">
						</div>
						<div class="col-12 col-md-12 col-xl-5 gris3 pt-3">
							<app-monitoringChartsControls
								[chartsControl]       = "chartsControls['chart_est_item01_col03']"
								(chartsControlOutPut) = "puebafuncionllamadodesdehijo($event)"
							>
							</app-monitoringChartsControls>
							<div>
								<canvas id="chart_est_item01_col03"></canvas>  
							</div>
						</div>
					</div>
				</div>
                <div class="tab-pane fade" id="v-pills-Heat_Rate" role="tabpanel" aria-labelledby="v-pills-Heat_Rate-tab">
					<div class="row h-100">
						<div class="col-12 d-block d-sm-none text-center py-3 gris3">
							<h6 class="mycolororange"><strong>Heat Rate</strong></h6>
							<p>texto 2</p>
						</div>
					</div>	
					Heat_Rate
				</div>
                <div class="tab-pane fade" id="v-pills-Capacity_Factor" role="tabpanel" aria-labelledby="v-pills-Capacity_Factor-tab">
					<div class="row h-100">
						<div class="col-12 d-block d-sm-none text-center py-3 gris3">
							<h6 class="mycolororange"><strong>Capacity Factor</strong></h6>
							<p>texto 2</p>
						</div>
					</div>	
					Capacity Factor
				</div>
                <div class="tab-pane fade" id="v-pills-Fuel_Gain_Lost" role="tabpanel" aria-labelledby="v-pills-Fuel_Gain_Lost-tab">
					<div class="row h-100">
						<div class="col-12 d-block d-sm-none text-center py-3 gris3">
							<h6 class="mycolororange"><strong>Fuel Gain/Lost</strong></h6>
							<p>texto 2</p>
						</div>
					</div>	
					Fuel Gain/Lost
				</div>
            </div>
        </div>
    </div>
</div>

<div style="height: 200px;"></div>