<div style="width: 100%; height:1800px;" id="container">
  <div style="width: 100%; height:50%;" id="constelacion">
    <div class="text" id="title">
      <h1>Bienvenido</h1>
      <br />
      <p>Elige el sistema al que deseas ingresar</p>
    </div>

    <div class="menu" id="menu">
      <div class="btn trigger">
        <div class="btn btn-icon">
          <img src="/assets/img/icollab.png" class="icon-image" />
          <p class="icon-text">ICollab</p>
        </div>
      </div>
      <div class="icons">
        <div class="rotater">
          <div class="btn btn-icon">
            <img src="/assets/img/icollab.png" class="icon-image" />
            <p class="icon-text">ICollab</p>
          </div>
        </div>
        <div class="rotater">
          <div class="btn btn-icon" (click)="goSafe()">
            <img src="/assets/img/safe.png" class="icon-image" />
            <p class="icon-text">Safe</p>
          </div>
        </div>
        <div class="rotater">
          <div class="btn btn-icon" (click)="goCompliance()">
            <img src="/assets/img/compilance.png" class="icon-image" />
            <p class="icon-text">Compilance</p>
          </div>
        </div>
        <div class="rotater">
          <div class="btn btn-icon" (click)="goAdministrative_monitoring()">
            <img src="/assets/img/efh.png" class="icon-image" />
            <p class="icon-text">EFH</p>
          </div>
        </div>
        <div class="rotater"  *ngIf="existApp('Safeds')">
          <div class="btn btn-icon">
            <img src="/assets/img/gate.png" class="icon-image" />
            <p class="icon-text">Gate</p>
          </div>
        </div>
        <div class="rotater">
          <div class="btn btn-icon">
            <img src="/assets/img/lotto.png" class="icon-image" />
            <p class="icon-text">Lotto</p>
          </div>
        </div>
        <div class="rotater">
          <div class="btn btn-icon">
            <img src="/assets/img/ma.png" class="icon-image" />
            <p class="icon-text">MA</p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="text"
      style="position:absolute; top:85%; left: 85%;"
      id="elaborado"
    >
      <div style="position:relative;bottom:0;right:0;height: 20px;">
        Elaborado para:
        <img
          src="/assets/img/aguila-sol.png"
          style="margin-top: -50px; width: 200px; height: auto;"
          alt=""
        />
      </div>
    </div>
  </div>

  <!--Para ir al mundo-->
  <a href="#mundo" style="display: none;" id="mundo_action"></a>
  <div style="width: 100%; height:50%;;" id="mundo">
    <div class="wrapper fadeInDown" id="form">
      <table style="width:100%;">
        <tr style="width:100%; height: 60%;" align="center" id="superior">
          <th style="width:100%" align="center">
            <div id="formContent" style="margin-top: 100px;">
              <!-- Icon -->
              <div class="fadeIn first">
                <img
                  src="/assets/img/icollab.png"
                  id="image_form"
                  alt="User Icon"
                  class="icon-image-large"
                />
                <h1 class="name_img" id="name_img">ICollab</h1>
              </div>

              <!-- Login Form -->
              <form id="form_kd" action="ruta del post" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <input
                  type="text"
                  id="login"
                  class="fadeIn second"
                  name="usr"
                  placeholder="Usuario"
                  formControlName="usr"
                />
                <input
                  type="password"
                  id="password"
                  class="fadeIn third"
                  name="pass"
                  placeholder="Contraseña"
                  formControlName="pass" 
                />
                <input
                  type="submit"
                  class="fadeIn fourth"
                  value="Iniciar sesión"
                  
                />
              </form>
            </div>
          </th>
        </tr>
        <tr style="width:100%; height: 40%;">
          <th colspan="3" align="center">
            <img
              id="world"
              src="/assets/img/world.png"
              alt=""
              style="max-width: 100%; max-height:auto;  "
            />
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
