<div class="p-5">
    <!-- Titulo -->
    <div class=" row">
        <div class="col">
            <span class="agila-cda-titulo">{{titulo}}</span>
        </div>
    </div>

    <!--Boton nuevo catalogo-->
    <div class="row mb-3 mt-5">
        <div class="col">
            <button type="button" class="btn" [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}"
                (click)="action(1, 0)">
                <i class="fas fa-user-plus"></i>&nbsp;Agregar
            </button>
        </div>
    </div>

    <!-- Filtros de busqueda 
                        <div class="row">
                        <div class="col">
                            
                            <div class="filtros mt-2 row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                <div class="row">
                                    <div class="col-md-auto" *ngFor="let filtro of filtros">
                                        <label>{{filtro.label}}</label><br>
                                        <input type="{{filtro.inputtype}}">
                                    </div> 
                                </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-2 d-flex justify-content-end" >
                                    <div>
                                    <button type="button" class="btn btn-primary"  (click)="alert('Filtro de empleados')">{{filtrobtn.label}}</button>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-2 d-flex justify-content-end" >
                                    <div>
                                        <a routerLink="/catalogo-editar/0/nuevo/{{nombreCatalogo}}" >
                                            <button type="button" class="btn btn-primary">Agregar</button>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        </div>
                    -->
    <!-- Tabla de actividades -->

    <div class="row mt-4 mb-4">
        <div class="col">
                
    <div class="mat-elevation-z8">
            <table matSort  mat-table [dataSource]="dataSource">
              
      
              <ng-container [matColumnDef]="column.key" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.label}} </th>
                <td mat-cell *matCellDef="let element"> 
                        <ng-container  [ngSwitch]="element[column.key]">
                            <ng-container *ngSwitchCase="'sys_see'">
                                <a (click)="action(2, element.id)" >
                                    <img src="assets/images/skins/ico_Ver.png" alt="Visualizar">
                                </a> 
                            </ng-container>
                            <ng-container *ngSwitchCase="'sys_edit'">
                                <a (click)="action(3, element.id)">
                                    <img src="assets/images/skins/ico_Editar.png" alt="Visualizar">
                                </a> 
                            </ng-container>
                            <ng-container *ngSwitchCase="'sys_delete'">
                                <a (click)="eliminarRegistro(element.element)">
                                    <img src="assets/images/skins/ico_Borrar.png" alt="eliminar">
                                </a>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{element[column.key]}} 
                            </ng-container>
                        </ng-container>
                    
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[50,100,250,500]" showFirstLastButtons></mat-paginator>
          </div>

          
        </div>
    </div>
</div>