<div class="row">
	<mdb-breadcrumb customClass="white" class="w-100">
		<mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
		<mdb-breadcrumb-item class="active">{{titulo}}</mdb-breadcrumb-item>
	</mdb-breadcrumb>
</div>
	  
<div class="section">
	<div class="row pb-3">
		<div class="col">
				<p class="section_titulo_0">{{titulo}}</p>
				<p class="section_subtitulo_0">Aqui puedes ... </p>
		</div>
	</div>
	<hr>
	<div class=" row">
		<div class="col-12">
			<form class="mt-5" [formGroup]="filtrosForm" (ngSubmit)="filtrarCompliance()">
				<div class="form-group row">
					<div class="form-group col-12 col-md-6 col-lg-4">
						<label for="fechaDesde">Desde</label>
						<input type="date" class="form-control" id="fechaDesde" [formControl]="fFechaInicio">
					</div>
					<div class="form-group col-12 col-md-6 col-lg-4">
						<label for="fechaHasta">Hasta</label>
						<input type="date" class="form-control" id="fechaHasta" [formControl]="fFechaFin">
					</div>
					<div class="form-group col-12 col-md-12 col-lg-4 text-right align-self-end">
						<button type="submit" class="btn" id="fechaHassta">
							<i class="ti-search"></i> &nbsp;
							Buscar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>

<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Pagos</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #pagos *ngIf="indicePagos>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Notificaciones</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #notificaciones *ngIf="indiceNotificaciones>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Análisis</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #analisis *ngIf="indiceAnalisis>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Reportes</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #reportes *ngIf="indiceReportes>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Actividades</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #actividades *ngIf="indiceActividades>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Compromisos Contractuales</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #compromisos *ngIf="indiceCompromisos>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Certificados</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #certificados *ngIf="indiceCertificados>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Actualizaciones</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #actualizaciones *ngIf="indiceActualizaciones>0"></app-tablesLegalAgreement>
</div>
				
<div class="section">
	<div class="row pb-3">
		<div class="col">
			<p class="section_titulo_0">Otros</p>
			<p class="section_subtitulo_0">Aqui puedes ...</p>
		</div>
	</div>
	<app-tablesLegalAgreement #otros *ngIf="indiceOtros>0"></app-tablesLegalAgreement>
</div>
		
			
		
		
		
		
		
		
					
					