<!-- Titulo -->
<div class="row pb-5">
    <div class="col">
        <span class="agila-cda-titulo">{{titulo}}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100" style="display:none;">
                <input matInput formControlName="maestroOpcionId">
            </mat-form-field>

            <mat-form-field class="w-100" style="display: none">
                <input matInput formControlName="orden" placeholder="Numero de Orden">
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput formControlName="nombreOpcion" placeholder="Nombre">
                <div *ngIf="submitted && f.nombreOpcion.errors" style="color:red">
                    <div *ngIf="f.nombreOpcion.errors.required">Requerido</div>
                </div>
            </mat-form-field>

            <mat-form-field class="w-100">
                <input matInput formControlName="opcionDescripcion" placeholder="Descripción">
                <div *ngIf="submitted && f.opcionDescripcion.errors" style="color:red">
                    <div *ngIf="f.opcionDescripcion.errors.required">Requerido</div>
                </div>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Estatus</mat-label>
                <mat-select [compareWith]="compareFn" formControlName="fComboEstatus"
                    [ngClass]="{ 'is-invalid': submitted && f.fComboEstatus.errors }">
                    <mat-option *ngFor="let operator of comboEstatus;" [value]="operator.value">{{operator.label}}
                    </mat-option>
                </mat-select>
                <div *ngIf="submitted && f.fComboEstatus.errors" style="color:red">
                    <div *ngIf="f.fComboEstatus.errors.required">Requerido</div>
                </div>
            </mat-form-field>

            <!-- /inputs -->
            <div class="d-flex justify-content-end" *ngIf="accion != 'ver'">
                <button type="submit" class="btn"
                    [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}">Guardar</button>
            </div>
            <!-- /btn guardar -->
        </form>
    </div>
</div>