<div class="row">
    <mdb-breadcrumb customClass="white" class="w-100">
        <mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">{{title}}</mdb-breadcrumb-item>
    </mdb-breadcrumb>
</div>
          <ng-template #perfil>
          </ng-template>
          <ng-template #behavior>
          </ng-template>
          <ng-template #skills>
          </ng-template>
          <ng-template #dashboards>
          </ng-template>
          <ng-template #obsyComments>
          </ng-template>
