<div class="container-fluid">
  <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-3" >
        <mat-card><img src="../../../assets/img/foto.png" width="110" height="110"></mat-card>
    </div>
    <div class="col-9" >
        <div class="form-row">
            <div class="col-md-3">
                <!-- Material input -->
                <div class="md-form">
                    <mat-form-field>
                        <input matInput placeholder="Numero de Empleado" formControlName="empleadoId">
                        <mat-error *ngIf="!perfilForm.controls['empleadoId'].valid && perfilForm.controls['empleadoId'].touched">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                  </div>
            </div>
              <!-- Grid column -->
        </div>

      <!-- Extended material form grid -->
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          <div class="col-md-3">
            <!-- Material input -->
            <div class="md-form">
              <mat-form-field>
                  <input matInput placeholder="Nombre(s)" formControlName="nombres">
                  <mat-error *ngIf="!perfilForm.controls['nombres'].valid && perfilForm.controls['nombres'].touched">
                      Requerido
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3">
            <!-- Material input -->
            <div class="md-form">
              <!--input id="form1"  class="form-control" type="text" length="10" mdbInput>
              <label for="form1">Apellido Paterno</label-->
              <mat-form-field>
                  <input matInput placeholder="Apellido Paterno" formControlName="paterno">
                  <mat-error *ngIf="!perfilForm.controls['paterno'].valid && perfilForm.controls['paterno'].touched">
                      Requerido
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Grid column -->
          <div class="col-md-3">
              <!-- Material input -->
              <div class="md-form">
                  <mat-form-field>
                      <input matInput placeholder="Apellido Materno" formControlName="materno">
                      <mat-error *ngIf="!perfilForm.controls['materno'].valid && perfilForm.controls['materno'].touched">
                          Requerido
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <div class="col-md-3">
              <!-- Material input -->
              <label>Genero</label><br>
              <mat-radio-group formControlName="genero">
                  <mat-radio-button *ngFor="let data of generos; " [value]="data">{{data.label}}</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="!perfilForm.controls['genero'].valid && perfilForm.controls['genero'].touched">
                  Requerido
              </mat-error>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3">
            <!-- Material input -->
            <div class="md-form">
                <mat-form-field>
                    <input matInput [matDatepicker]="fechanacimiento"  formControlName="fechanacimiento"
                           ngDefaultControl placeholder="Fecha de nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="fechanacimiento"></mat-datepicker-toggle>
                    <mat-datepicker #fechanacimiento></mat-datepicker>
                    <mat-error *ngIf="!perfilForm.controls['fechanacimiento'].valid && perfilForm.controls['fechanacimiento'].touched">
                        Requerido
                    </mat-error>
                </mat-form-field>
            </div>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3">
            <!-- Material input -->
            <div class="md-form form-group">
              <mat-form-field>
                <mat-label>Grados de Estudio</mat-label>
                 <mat-select formControlName="gradoEstudio">
                  <mat-option  *ngFor="let operator of grados;" [value]="operator">{{operator.label}}</mat-option>
                </mat-select>
                  <mat-error *ngIf="!perfilForm.controls['gradoEstudio'].valid && perfilForm.controls['gradoEstudio'].touched">
                      Requerido
                  </mat-error>

              </mat-form-field>
            </div>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3">
              <!-- Material input -->
              <div class="md-form">
                  <mat-form-field>
                      <input matInput placeholder="Carrera" formControlName="carrera">
                      <mat-error *ngIf="!perfilForm.controls['carrera'].valid && perfilForm.controls['carrera'].touched">
                          Requerido
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3">
              <!-- Material input -->
              <div class="md-form form-group">
                  <mat-form-field>
                      <mat-label>Posicion</mat-label>
                       <mat-select formControlName="posicion">
                        <mat-option *ngFor="let operator of posiciones;" [value]="operator">{{operator.label}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="!perfilForm.controls['posicion'].valid && perfilForm.controls['posicion'].touched">
                          Requerido
                      </mat-error>
                    </mat-form-field>
              </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3">
              <!-- Material input -->
              <div class="md-form form-group">
                  <mat-form-field>
                      <mat-label>Departamento</mat-label>
                      <mat-select formControlName="departamento">
                        <mat-option *ngFor="let operator of departamentos;" [value]="operator">{{operator.label}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="!perfilForm.controls['departamento'].valid && perfilForm.controls['departamento'].touched">
                          Requerido
                      </mat-error>
                    </mat-form-field>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3">
                <!-- Material input -->
                <div class="md-form form-group">
                    <mat-form-field>
                        <mat-label>Puesto de Trabajo</mat-label>
                        <mat-select formControlName="puesto">
                            <mat-option *ngFor="let operator of puestoTrabs;" [value]="operator">{{operator.label}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!perfilForm.controls['puesto'].valid && perfilForm.controls['puesto'].touched">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3">
              <!-- Material input -->
              <div class="md-form form-group">
                  <mat-form-field>
                      <mat-label>Jefe Inmediato</mat-label>
                      <mat-select formControlName="jefes">
                        <mat-option *ngFor="let operator of jefes;" [value]="operator">{{operator.label}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="!perfilForm.controls['jefes'].valid && perfilForm.controls['jefes'].touched">
                          Requerido
                      </mat-error>
                    </mat-form-field>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3">
                <!-- Material input -->
                <div class="md-form form-group">
                    <mat-form-field>
                        <mat-label>Horario de Trabajo</mat-label>
                         <mat-select formControlName="horario">
                          <mat-option *ngFor="let operator of horarios;" [value]="operator">{{operator.label}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!perfilForm.controls['horario'].valid && perfilForm.controls['horario'].touched">
                            Requerido
                        </mat-error>
                      </mat-form-field>
                </div>
              </div>
              <!-- Grid column -->
          </div>
          <!-- Grid row -->
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3">
              <!-- Material input -->
              <div class="md-form form-group">
                  <mat-form-field>
                      <mat-label>Lugar de Trabajo</mat-label>
                      <mat-select formControlName="lugar">
                        <mat-option *ngFor="let operator of lugares;" [value]="operator">{{operator.label}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="!perfilForm.controls['lugar'].valid && perfilForm.controls['lugar'].touched">
                          Requerido
                      </mat-error>
                    </mat-form-field>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3">
              <!-- Material input -->
              <div class="md-form form-group">
                  <!-- Material input -->
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker1" placeholder="Fecha de Incio laboral" formControlName="fechaInicioPuesto">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="!perfilForm.controls['fechaInicioPuesto'].valid && perfilForm.controls['fechaInicioPuesto'].touched">
                          Requerido
                      </mat-error>
                  </mat-form-field>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3">
              <!-- Material input -->
              <label>¿Tiene personal a su cargo?</label><br>
              <mat-radio-group arial-label="Select an option" formControlName="personal">
                <mat-radio-button *ngFor="let data of personas" [value]="data">{{data.label}}</mat-radio-button>
              </mat-radio-group>
                <mat-error *ngIf="!perfilForm.controls['personal'].valid && perfilForm.controls['personal'].touched">
                    Requerido
                </mat-error>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3">
                <!-- Material input -->
                <div class="md-form form-group">
                </div>
              </div>
              <!-- Grid column -->
          </div>
          <!-- Grid row -->
          <!-- Extended material form grid -->
    </div>
  </div>
  <div class="form-row">
      <div class="col-12">
          <mat-form-field>
              <textarea matInput formControlName="descGralPuesto" placeholder="Descripcion General del Puesto"></textarea>
              <mat-error *ngIf="!perfilForm.controls['descGralPuesto'].valid && perfilForm.controls['descGralPuesto'].touched">
                  Requerido
              </mat-error>
          </mat-form-field>
      </div>
  </div>
  <div class="row">
      <div class="col-10"></div>
      <div class="col-2"><button type="submit" class="btn btn-primary btn-md" [disabled]="!perfilForm.valid">{{labBotAcep}}</button></div>
  </div>
  </form>
</div>
