<div class="section">
    <div class=" row">
        <div class="col-12">
            <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
                <div class="row pb-2">
                    <div class="col">
                        <p class="section_titulo_0">{{title}}</p>
                        <p class="section_subtitulo_0"> </p>
                    </div>
                </div>
                <hr>
                <div class=" row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 text-center" >
                                <img [src]="imageUrl" width="110" height="110">
                                <br/>
                                <div class="d-flex justify-content-center">
                                    <label for="file-upload" [ngClass]="{'custom-file-upload': globalService.aguila,'custom-file-upload2': !globalService.aguila}">
                                        <i class="fas fa-plus"></i> Agregar
                                    </label>
                                    <input id="file-upload"
                                           type="file"
                                           name="file"
                                           #fileInput
                                           (change)="onChange(fileInput.files[0])"
                                           [ngClass]="{ 'is-invalid': submitted && requiredPhoto }"

                                    />
                                </div>
                                <div *ngIf="submitted && requiredPhoto" style="color:red">
                                    <div>Requerido</div>
                                </div>
                            </div>
                            <div class="col-9" >

                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Empresa</label>
                                            <select class="browser-default custom-select"
                                                    formControlName="fEnterprise" [(ngModel)]="enterprise" [ngClass]="{ 'is-invalid': submitted && f.fEnterprise.errors }"
                                            >
                                                <option *ngFor="let operator of enterprisePreffix;"
                                                        [value]="operator.value">
                                                    {{operator.label}}
                                                </option>
                                            </select>

                                            <div *ngIf="submitted && f.fEnterprise.errors" style="color:red">
                                                <div *ngIf="f.fEnterprise.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Numero de Empleado</label>
                                            <input mdbInput class="form-control" formControlName="fEmpNum" value="000"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fEmpNum.errors }">
                                            <div *ngIf="submitted && f.fEmpNum.errors" style="color:red">
                                                <div *ngIf="f.fEmpNum.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p>* En caso de no tener poner N/A</p>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col">
                                        <div class="form-group">
                                            <label>Nombre(s)</label>
                                            <input mdbInput class="form-control" formControlName="fNames"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fNames.errors }"
                                            >
                                            <div *ngIf="submitted && f.fNames.errors" style="color:red">
                                                <div *ngIf="f.fNames.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Apellido Paterno *</label>
                                            <input mdbInput class="form-control" formControlName="fLastName"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fLastName.errors }"
                                            >
                                            <div *ngIf="submitted && f.fLastName.errors" style="color:red">
                                                <div *ngIf="f.fLastName.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Apellido Materno *</label>
                                            <input mdbInput class="form-control" formControlName="fSecondName"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fSecondName.errors }"
                                            >
                                            <div *ngIf="submitted && f.fSecondName.errors" style="color:red">
                                                <div *ngIf="f.fSecondName.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Género</label><br>
                                            <mat-radio-group formControlName="fGender" [(ngModel)]="gender"
                                                             [ngClass]="{ 'is-invalid': submitted && f.fGender.errors }">
                                                <mat-radio-button *ngFor="let data of generos; " [value]="data.value">{{data.label}}</mat-radio-button>
                                            </mat-radio-group>
                                            <div *ngIf="submitted && f.fGender.errors" style="color:red">
                                                <div *ngIf="f.fGender.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Fecha de nacimiento</label>
                                            <input mdbInput class="form-control" formControlName="fDateBirth"
                                                   type="date" [ngClass]="{ 'is-invalid': submitted && f.fDateBirth.errors }"
                                            >
                                            <div *ngIf="submitted && f.fDateBirth.errors" style="color:red">
                                                <div *ngIf="f.fDateBirth.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Grado de Estudios</label>
                                            <select class="browser-default custom-select"
                                                    formControlName="fLevelStudy" [(ngModel)]="educationLevel" [ngClass]="{ 'is-invalid': submitted && f.fLevelStudy.errors }"
                                            >
                                                <option *ngFor="let operator of grados;"
                                                        [value]="operator.value">
                                                    {{operator.label}}
                                                </option>
                                            </select>

                                            <div *ngIf="submitted && f.fLevelStudy.errors" style="color:red">
                                                <div *ngIf="f.fLevelStudy.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Carrera</label>
                                            <input mdbInput class="form-control" formControlName="fCareer"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fCareer.errors }"
                                            >
                                            <div *ngIf="submitted && f.fCareer.errors" style="color:red">
                                                <div *ngIf="f.fCareer.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Posición</label>
                                            <input mdbInput class="form-control" formControlName="fPosition"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fPosition.errors }"
                                            >
                                            <div *ngIf="submitted && f.fPosition.errors" style="color:red">
                                                <div *ngIf="f.fPosition.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Departamento</label>
                                            <input mdbInput class="form-control" formControlName="fDepto"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fDepto.errors }"
                                            >
                                            <div *ngIf="submitted && f.fDepto.errors" style="color:red">
                                                <div *ngIf="f.fDepto.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Puesto de trabajo</label>
                                            <input mdbInput class="form-control" formControlName="fJob"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fJob.errors }"
                                            >
                                            <div *ngIf="submitted && f.fJob.errors" style="color:red">
                                                <div *ngIf="f.fJob.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Jefe Inmediato *</label>
                                            <input mdbInput class="form-control" formControlName="fImmBoss"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fImmBoss.errors }"
                                            >
                                            <div *ngIf="submitted && f.fImmBoss.errors" style="color:red">
                                                <div *ngIf="f.fImmBoss.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Horario de Trabajo</label>
                                            <select class="browser-default custom-select"
                                                    formControlName="fWorkHours" [(ngModel)]="workingHour"
                                                    [ngClass]="{ 'is-invalid': submitted && f.fWorkHours.errors }"
                                            >
                                                <option *ngFor="let operator of horarios;" [value]="operator.value">
                                                    {{operator.label}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.fWorkHours.errors" style="color:red">
                                                <div *ngIf="f.fWorkHours.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Lugar de Trabajo</label>
                                            <select class="browser-default custom-select"
                                                    formControlName="fWorkplace" [(ngModel)]="employeePlace"
                                                    [ngClass]="{ 'is-invalid': submitted && f.fWorkplace.errors }"
                                            >
                                                <option *ngFor="let operator of lugares;" [value]="operator.value">
                                                    {{operator.label}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.fWorkplace.errors" style="color:red">
                                                <div *ngIf="f.fWorkplace.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Fecha de Inicio laboral</label>
                                            <input mdbInput class="form-control" formControlName="fStartJob"
                                                   [ngClass]="{ 'is-invalid': submitted && f.fStartJob.errors }"
                                                   type="date"
                                            >
                                            <div *ngIf="submitted && f.fStartJob.errors" style="color:red">
                                                <div *ngIf="f.fStartJob.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>¿Tiene personal a su cargo?</label><br>
                                            <mat-radio-group formControlName="fPerCarg" [(ngModel)]="employeeDependent"
                                                             arial-label="Seleccion"  [ngClass]="{ 'is-invalid': submitted && f.fPerCarg.errors }">
                                                <mat-radio-button *ngFor="let data of personas" [value]="data.value">{{data.label}}</mat-radio-button>
                                            </mat-radio-group>
                                            <div *ngIf="submitted && f.fPerCarg.errors" style="color:red">
                                                <div *ngIf="f.fPerCarg.errors.required">Requerido</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Descripción del puesto</label>
                                <textarea formControlName="fJobDescription" class="form-control"
                                          [ngClass]="{ 'is-invalid': submitted && f.fJobDescription.errors }" >
                      </textarea>
                                <div *ngIf="submitted && f.fJobDescription.errors" style="color:red">
                                    <div *ngIf="f.fJobDescription.errors.required">Requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div *ngIf="inIdEmpleado > 0">
                    <app-compliance-upload [inEmployeeId]="inIdEmpleado" [inAccion]="inTipo"></app-compliance-upload>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <ng-container>
                            <div class="form-group">
                                <label>Estado del elemento:</label><br>
                                <mat-checkbox class="active" color="primary"
                                              (change)="changeCheck();"
                                              [checked]="checkedEstatus"
                                              [disabled]="deshabiliarEstatus">
                                    <mat-label>Activo</mat-label>
                                </mat-checkbox>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <button type="submit" [disabled]="isdisabled" class="btn" [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}">
                                <i class="ti-pencil"></i>
                                Guardar / Actualizar
                            </button>
                            <button type="button" class="btn"
                                    [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}"
                                    (click)="regresar()">
                                <i class="ti-angle-double-left"></i>
                                Regresar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
