<div style="width: 100%; height:1800px;" id="container">
    <div style="width: 100%; height:50%;" id="constelacion">
      <div class="text" id="title">
        <h1>Bienvenido</h1>
        <br />
        <p>Elige el sistema al que deseas ingresar</p>
      </div>
  
      <div class="menu" id="menu">
        <div class="btn trigger">
          <div class="btn btn-icon">
            <img src="/assets/img/icollab.png" class="icon-image" />
            <p class="icon-text">ICollab</p>
          </div>
        </div>
        <div class="icons">
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/icollab.png" class="icon-image" />
              <p class="icon-text">ICollab</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon" (click)="goSafe()">
              <img src="/assets/img/safe.png" class="icon-image" />
              <p class="icon-text">Safe</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon" (click)="goCompliance()">
              <img src="/assets/img/compilance.png" class="icon-image" />
              <p class="icon-text">Compilance</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon" (click)="goAdministrative_monitoring()">
              <img src="/assets/img/efh.png" class="icon-image" />
              <p class="icon-text">EFH</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/gate.png" class="icon-image" />
              <p class="icon-text">Gate</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/lotto.png" class="icon-image" />
              <p class="icon-text">Lotto</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/ma.png" class="icon-image" />
              <p class="icon-text">MA</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/bits.png" class="icon-image" />
              <p class="icon-text">Bits</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/bp.png" class="icon-image" />
              <p class="icon-text">BP</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/governance.png" class="icon-image" />
              <p class="icon-text">Governance</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/roms.png" class="icon-image" />
              <p class="icon-text">Roms</p>
            </div>
          </div>
          <div class="rotater">
            <div class="btn btn-icon">
              <img src="/assets/img/ma.png" class="icon-image" />
              <p class="icon-text">MA</p>
            </div>
          </div>
        </div>
      </div>
  
      <div
        class="text"
        style="position:absolute; top:90%; width: 100%;"
        id="elaborado"
      >
        <div style="float: right;">
          <table>
            <tr>
              <th class="texto-ral">Elaborado para:</th>
              <th>
                <img
                  src="/assets/img/aguila-sol.png"
                  style="margin-top: -50px; width: 300px; height: auto;"
                  alt=""
                />
              </th>
            </tr>
          </table>
        </div>
        <div style="float: left; margin-top: 20px; margin-left: 45px;">
          <table>
            <tr>
              <th>
                <img src="/assets/img/bits.png" class="icon-image"  (click)="goSecurity()" />
              </th>
            </tr>
            <tr>
              <th class="texto-ral">
                Admin
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  
    <!--Para ir al mundo-->
  
    <div style="width: 100%; height:50%;
    position: relative;
    z-index: 3;" id="mundo">
      <div class="wrapper fadeInDown" id="form">
        <table style="width:100%;">
          <tr style="width:100%; height: 60%;" align="center" id="superior">
            <th style="width:100%" align="center">
              <div id="formContent" >
                <!-- Icon -->
                <div class="fadeIn first">
                  <img
                    src="/assets/img/icollab.png"
                    id="image_form"
                    alt="User Icon"
                    class="icon-image-large"
                  />
                  <h1 class="name_img" id="name_img">ICollab</h1>
                </div>
  
                <!-- Login Form -->
                <form id="form_kd" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                  <input
                    type="text"
                    id="login"
                    class="fadeIn second"
                    name="usr"
                    placeholder="Usuario"
                    formControlName="usr"
                    style="margin-top:10px;"
                  />
                  <input
                    type="password"
                    id="password"
                    class="fadeIn third"
                    name="pass"
                    formControlName="pass"
                    placeholder="Contraseña"
                    style="margin-top:10px;"
                  />
                  <input
                    id="loginButton"
                    type="submit"
                    class="fadeIn fourth"
                    value="Iniciar sesión"
                     style="margin-top:10px;"
                  />
                </form>
              </div>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <img id="world" src="/assets/img/world.png" alt="" style="max-width: 100%; max-height:auto; position: absolute; bottom: 0px; left: 0px; z-index:2;" />
  