<p>
  phase3v6 works!
</p>
<div>
	<ng-template #tippotencianeta>
		<p>POTENCIA NETA</p>
		<p>{{getTagName('potenciaNeta')}}</p>
	</ng-template>

	<ng-template #tipccdv>
		<p>POTENCIA CCDV</p>
		<p>{{getTagName('potenciaCcdv')}}</p>
	</ng-template>

	<ng-template #tiprt>
		<p>RÉGIMEN TÉRMICO</p>
		<p>{{getTagName('regimentermico')}}</p>
	</ng-template>

	<ng-template #tipsetTemperaturaAmbiente>
		<p>Temperatura ambiente</p>
		<p>{{getTagName('temperatura_ambiente')}}</p>
	</ng-template>
	<ng-template #tipsetPresionAtmosferica>
		<p>Presión atmosférica</p>
		<p>{{getTagName('presion_atmosferica')}}</p>
	</ng-template>
	<ng-template #tipsethumedad>
		<p>Humedad</p>
		<p>{{getTagName('humedad')}}</p>
	</ng-template>
	
	<ng-template #tipCt1Die>
		<p>Diesel</p>
		<p>{{getTagName('ct-1-diesel')}}</p>
		<p>{{ getValue('ct-1-diesel')[1] | number: "1.2-2"}} T/h</p>
	</ng-template>
	<ng-template #tipCt1Gas>
		<p>Gas</p>
		<p>{{getTagName('ct-1-gas')}}</p>
		<p>{{ getValue('ct-1-gas')[1] | number: "1.2-2"}} NM3/h</p>
	</ng-template>
	<ng-template #tipCt2Die>
		<p>Diesel</p>
		<p>{{getTagName('ct-2-diesel')}}</p>
		<p>{{ getValue('ct-2-diesel')[1] | number: "1.2-2"}} T/h</p>
	</ng-template>
	<ng-template #tipCt2Gas>
		<p>Gas</p>
		<p>{{getTagName('ct-2-gas')}}</p>
		<p>{{ getValue('ct-2-gas')[1] | number: "1.2-2"}} T/h</p>
	</ng-template>
</div>
<div class="monitoreo">
	<div class="row">
		<div class="col">
			<h2 class="text"> PARÁMETROS PRINCIPALES DE GENERACIÓN</h2>
			<div class="row">
				<div class="col">

					<div [ngbTooltip]="tippotencianeta" tooltipClass="mytooltip"
						style="background: #0F0F0F; display: inline-block;text-align: center">
						<div style="margin:10px;">
							<p [style.color]="colorPotNet" class="text1">POTENCIA NETA</p>
							<span [style.color]="colorPotNet"
								class="digito">{{getValue('potenciaNeta')[1] | number: "1.2-2"}}</span><span
								class="text2" [style.color]="colorPotNet">MW</span>
							<p *ngIf="getValue('potenciaNeta')[0] != null" class="text2">
								{{ getValue('potenciaNeta')[0] | date:'dd/MM/yyyy' }}</p>
							<p *ngIf="getValue('potenciaNeta')[0] != null" class="text2">
								{{ getValue('potenciaNeta')[0] | date:'hh:mm:ss' }}</p>
							<p *ngIf="getValue('potenciaNeta')[0] == null" class="text2">00/00/0000</p>
							<p *ngIf="getValue('potenciaNeta')[0] == null" class="text2">00:00:00</p>
						</div>
					</div>

				</div>
				<div class="col">
					<div [ngbTooltip]="tipccdv" tooltipClass="mytooltip"
						style="background: #0F0F0F;display:inline-block;text-align: center;">
						<div style="margin:10px;">
							<p [style.color]="colorCcdv" class="text1">POTENCIA CCDV</p>
							<span [style.color]="colorCcdv"
								class="digito">{{getValue('potenciaCcdv')[1] | number: "1.2-2"}}</span><span
								class="text2" [style.color]="colorCcdv">MV</span>
							<p *ngIf="getValue('potenciaCcdv')[0] != null" class="text2">
								{{ getValue('potenciaCcdv')[0] | date:'dd/MM/yyyy' }}</p>
							<p *ngIf="getValue('potenciaCcdv')[0] != null" class="text2">
								{{ getValue('potenciaCcdv')[0] | date:'hh:mm:ss' }}</p>
							<p *ngIf="getValue('potenciaCcdv')[0] == null" class="text2">00/00/0000</p>
							<p *ngIf="getValue('potenciaCcdv')[0] == null" class="text2">00:00:00</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div [ngbTooltip]="tiprt" tooltipClass="mytooltip"
						style="background: #0F0F0F;display: inline-block;text-align: center;">
						<div style="margin:10px;">
							<p [style.color]="colorRT" class="text1">RÉGIMEN TÉRMICO</p>
							<span [style.color]="colorRT"
								class="digito">{{getValue('regimentermico')[1] | number: "1.2-2"}}</span><span
								class="text2" [style.color]="colorRT">KJ/KWh</span>
							<p *ngIf="getValue('regimentermico')[0] != null" class="text2">
								{{ getValue('regimentermico')[0] | date:'dd/MM/yyyy' }}</p>
							<p *ngIf="getValue('regimentermico')[0] != null" class="text2">
								{{ getValue('regimentermico')[0] | date:'hh:mm:ss' }}</p>
							<p *ngIf="getValue('regimentermico')[0] == null" class="text2">00/00/0000</p>
							<p *ngIf="getValue('regimentermico')[0] == null" class="text2">00:00:00</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">

			<div id="contenedorCondiciones">
				<p class="text" style="margin-right: 20px; font-size:medium">CONDICIONES AMBIENTALES </p>
				<div [ngbTooltip]="tipsetTemperaturaAmbiente" tooltipClass="mytooltip" class="text derecha">
					{{ getValue('temperatura_ambiente')[1] | number: "1.2-2"}} °C
					<span style="font-size: 1.5em; color: red; margin:10px">
						<i class="fas fa-thermometer-half"></i>
					</span>
				</div>
				<div [ngbTooltip]="tipsetPresionAtmosferica" tooltipClass="mytooltip" class="text derecha">
					{{ getValue('presion_atmosferica')[1] | number: "1.2-2"}}, MBAR
					<span style="font-size: 1em; margin:10px">
						<i class="fas fa-tachometer-alt"></i>
					</span>
				</div>
				<div [ngbTooltip]="tipsethumedad" tooltipClass="mytooltip" class="text derecha">
					{{ getValue('humedad')[1] | number:'1.0-0'}} %
					<span style="font-size: 1.5em; color: cyan; margin:10px">
						<i class="fas fa-tint"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div>
				<div #LineChart2></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">

				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<div style="">
		  
					<div #donaChart1></div>
				  </div>

				</div>
				<div class="col-8">
					<img class="imgTurbinaDiesel" src="assets/monitoring/3_3/turbinaAnimada2.gif" alt=""
						style="width: 100%;" />
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-auto">
					<span class="center" [ngbTooltip]="tipCt1Die" tooltipClass="mytooltip"
						style="font-size: 1.5em; color: red;">
						<i class="fas fa-gas-pump"></i>

					</span>
				</div>
				<div class="col-auto">

					<span style="font-size: 1.5em; color: yellowgreen;" [ngbTooltip]="tipCt1Gas"
						tooltipClass="mytooltip">
						<i class="fas fa-fire-alt"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="col">

		</div>
		<div class="col">

		</div>
	</div>
</div>