<div>
	<ng-template #tippotencianeta>
		<p>POTENCIA NETA</p>
		<p>{{ getTagName("potenciaNeta") }}</p>
	</ng-template>
	<ng-template #tipccdv>
		<p>POTENCIA CCDV</p>
		<p>{{ getTagName("potenciaCcdv") }}</p>
	</ng-template>
	<ng-template #tiprt>
		<p>RÉGIMEN TÉRMICO</p>
		<p>{{ getTagName("regimentermico") }}</p>
	</ng-template>

	<ng-template #tipsetTemperaturaAmbiente>
		<p>Temperatura ambiente</p>
		<p>{{ getTagName("temperatura_ambiente") }}</p>
	</ng-template>
	<ng-template #tipsetPresionAtmosferica>
		<p>Presión atmosférica</p>
		<p>{{ getTagName("presion_atmosferica") }}</p>
	</ng-template>
	<ng-template #tipsethumedad>
		<p>Humedad</p>
		<p>{{ getTagName("humedad") }}</p>
	</ng-template>

	<ng-template #tipCt1Die>
		<p>Diesel</p>
		<p>{{ getTagName("ct_1_diesel") }}</p>
		<p>{{ getValue("ct_1_diesel")[1] | number: "1.2-2" }} T/h</p>
	</ng-template>
	<ng-template #tipCt1Gas>
		<p>Gas</p>
		<p>{{ getTagName("ct_1_gas") }}</p>
		<p>{{ getValue("ct_1_gas")[1] | number: "1.2-2" }} NM3/h</p>
	</ng-template>
	<ng-template #tipCt2Die>
		<p>Diesel</p>
		<p>{{ getTagName("ct_2_diesel") }}</p>
		<p>{{ getValue("ct_2_diesel")[1] | number: "1.2-2" }} T/h</p>
	</ng-template>
	<ng-template #tipCt2Gas>
		<p>Gas</p>
		<p>{{ getTagName("ct_2_gas") }}</p>
		<p>{{ getValue("ct_2_gas")[1] | number: "1.2-2" }} T/h</p>
	</ng-template>
</div>
<div class="monitoreo pb-4">
	<div class="row">
		<div class="col-12 col-xs-6 order-1 order-xs-0 text-center">
			<h2 class="text">PARÁMETROS PRINCIPALES DE GENERACIÓN</h2>
			<div class="row">
				<div class="col">
					<div [ngbTooltip]="tippotencianeta" tooltipClass="mytooltip"
						style="background: #0f0f0f;">
						<div style="margin: 10px;">
							<p [style.color]="mapColors.get('potenciaNeta')" class="text1">POTENCIA NETA</p>
							<span [style.color]="mapColors.get('potenciaNeta')"
								class="digito">{{ getValue("potenciaNeta")[1] | number: "1.2-2" }}</span><span
								class="text2" [style.color]="mapColors.get('potenciaNeta')">MW</span>
							<p *ngIf="getValue('potenciaNeta')[0] != null" class="text2">
								{{ getValue("potenciaNeta")[0] | date: "dd/MM/yyyy" }}
							</p>
							<p *ngIf="getValue('potenciaNeta')[0] != null" class="text2">
								{{ getValue("potenciaNeta")[0] | date: "hh:mm:ss" }}
							</p>
							<p *ngIf="getValue('potenciaNeta')[0] == null" class="text2">00/00/0000</p>
							<p *ngIf="getValue('potenciaNeta')[0] == null" class="text2">00:00:00</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div [ngbTooltip]="tipccdv" tooltipClass="mytooltip"
						style="background: #0f0f0f;">
						<div style="margin: 10px;">
							<p [style.color]="mapColors.get('potenciaCcdv')" class="text1">POTENCIA CCDV</p>
							<span [style.color]="mapColors.get('potenciaCcdv')"
								class="digito">{{ getValue("potenciaCcdv")[1] | number: "1.2-2" }}</span><span
								class="text2" [style.color]="mapColors.get('potenciaCcdv')">MV</span>
							<p *ngIf="getValue('potenciaCcdv')[0] != null" class="text2">
								{{ getValue("potenciaCcdv")[0] | date: "dd/MM/yyyy" }}
							</p>
							<p *ngIf="getValue('potenciaCcdv')[0] != null" class="text2">
								{{ getValue("potenciaCcdv")[0] | date: "hh:mm:ss" }}
							</p>
							<p *ngIf="getValue('potenciaCcdv')[0] == null" class="text2">00/00/0000</p>
							<p *ngIf="getValue('potenciaCcdv')[0] == null" class="text2">00:00:00</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div [ngbTooltip]="tiprt" tooltipClass="mytooltip"
						style="background: #0f0f0f;">
						<div style="margin: 10px;">
							<p [style.color]="mapColors.get('regimentermico')" class="text1">RÉGIMEN TÉRMICO</p>
							<span [style.color]="mapColors.get('regimentermico')"
								class="digito">{{ getValue("regimentermico")[1] | number: "1.2-2" }}</span><span
								class="text2" [style.color]="mapColors.get('regimentermico')">KJ/KWh</span>
							<p *ngIf="getValue('regimentermico')[0] != null" class="text2">
								{{ getValue("regimentermico")[0] | date: "dd/MM/yyyy" }}
							</p>
							<p *ngIf="getValue('regimentermico')[0] != null" class="text2">
								{{ getValue("regimentermico")[0] | date: "hh:mm:ss" }}
							</p>
							<p *ngIf="getValue('regimentermico')[0] == null" class="text2">00/00/0000</p>
							<p *ngIf="getValue('regimentermico')[0] == null" class="text2">00:00:00</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-xs-6 order-0 order-xs-1 text-right">
			<div class="row">
				<div class="col">
					<span style="font-size: 1.5em; margin-bottom:5px;margin-right: 20px;" [ngStyle]="{color: conectToPi ? '#42AE49': 'red'}">
						<i class="fas fa-wifi"></i>
					</span>
				</div>
			</div>
			<div class="row justify-content-end">
				<div class="col-auto">
					<div id="contenedorCondiciones">
						<p class="text" style="margin-right: 20px; font-size: medium;">CONDICIONES AMBIENTALES</p>
						<div [ngbTooltip]="tipsetTemperaturaAmbiente" tooltipClass="mytooltip" class="text derecha">
							{{ getValue("temperatura_ambiente")[1] | number: "1.2-2" }} °C
							<span style="font-size: 1.5em; color: red; margin: 10px;">
								<i class="fas fa-thermometer-half"></i>
							</span>
						</div>
						<div [ngbTooltip]="tipsetPresionAtmosferica" tooltipClass="mytooltip" class="text derecha">
							{{ getValue("presion_atmosferica")[1] | number: "1.2-2" }}, MBAR
							<span style="font-size: 1em; margin: 10px;">
								<i class="fas fa-tachometer-alt"></i>
							</span>
						</div>
						<div [ngbTooltip]="tipsethumedad" tooltipClass="mytooltip" class="text derecha">
							{{ getValue("humedad")[1] | number: "1.0-0" }} %
							<span style="font-size: 1.5em; color: cyan; margin: 10px;">
								<i class="fas fa-tint"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div>
				<div #LineChart2></div>
			</div>
		</div>
	</div>

	<!--Donas-->
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col-4">
					<div>
						<div #donaChart1></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<img class="imgTurbinaDiesel" src="assets/monitoring/3_3/turbinaAnimada2.gif" alt=""
						style="width: 70%;" />
				</div>
			</div>
			<div class="row d-flex justify-content-center text-center">
				<div class="col-auto">
					<span class="center" [ngbTooltip]="tipCt1Die" tooltipClass="mytooltip"
						style="font-size: 1.5em; color: red;">
						<i class="fas fa-chart-line"></i>
					</span>
					<p>{{ getValue("ct_1_diesel")[1] | number: "1.2-2" }}</p>
					<p>T/h</p>
				</div>
				<div class="col-auto">
					<span style="font-size: 1.5em; color: yellowgreen;" [ngbTooltip]="tipCt1Gas"
						tooltipClass="mytooltip">
						<i class="fas fa-bolt"></i>
					</span>
					<p>{{ getValue("ct_1_gas")[1] | number: "1.2-2" }}</p>
					<p>NM3/h</p>
				</div>

				<div class="col-auto">
					<span class="center" [ngbTooltip]="tipCt1Die" tooltipClass="mytooltip"
						style="font-size: 1.5em; color: red;">
						<i class="fas fa-gas-pump"></i>
					</span>
					<p>{{ getValue("ct_1_diesel")[1] | number: "1.2-2" }}</p>
					<p>T/h</p>
				</div>
				<div class="col-auto">
					<span style="font-size: 1.5em; color: yellowgreen;" [ngbTooltip]="tipCt1Gas"
						tooltipClass="mytooltip">
						<i class="fas fa-fire-alt"></i>
					</span>
					<p>{{ getValue("ct_1_gas")[1] | number: "1.2-2" }}</p>
					<p>NM3/h</p>
				</div>
				<div class="col-auto" (click)="tester()">
					<span style="font-size: 1.5em; color: yellowgreen;" [ngbTooltip]="tipCt1Gas"
						tooltipClass="mytooltip">
						<i class="fas fa-running icon-verde running"></i>
					</span>
					<p>{{ getValue("ct_1_gas")[1] | number: "1.2-2" }}</p>
					<p>NM3/h</p>
				</div>
			</div>
		</div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
</div>