<div class="p-5">
    <!-- Titulo -->
    <div class=" row">
        <div class="col">
            <span class="agila-cda-titulo">Roles</span>
        </div>
    </div>
    <div class="row mb-3 mt-5">
        <div class="col">
            <button type="button" class="btn" [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}"
                (click)="newEntity()"><i class="fas fa-user-plus"></i>&nbsp;Agregar</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="tabla-responsi mat-elevation-z8">
                <table mat-table [dataSource]="roles" class="table_catalogo">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="txt-center"> # </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="txt-center">Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="app">
                        <th mat-header-cell *matHeaderCellDef class="txt-center">Aplicación </th>
                        <td mat-cell *matCellDef="let element"> {{element.app.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ver">
                        <th mat-header-cell *matHeaderCellDef class="txt-center"> Ver </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="action(element, 2)">
                                <img src="assets/images/skins/ico_Ver.png" alt="Visualizar">
                            </a>
                        </td>
                    </ng-container>
                    <!-- modificar Column -->
                    <ng-container matColumnDef="modificar">
                        <th mat-header-cell *matHeaderCellDef class="txt-center"> Modificar </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="action(element, 3)">
                                <img src="assets/images/skins/ico_Editar.png" alt="Visualizar">
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="permisos">
                        <th mat-header-cell *matHeaderCellDef class="txt-center"> Permisos </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="action(element, 4)">
                                <img src="assets/images/skins/ico_Editar.png" alt="Visualizar">
                            </a>
                        </td>
                    </ng-container>
                    <!-- header -->
                    <tr mat-header-row *matHeaderRowDef="cols"></tr>
                    <tr mat-row *matRowDef="let row; columns: cols;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="rowsPorPage" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>