<div class="row">
	<mdb-breadcrumb customClass="white" class="w-100">
		<mdb-breadcrumb-item class="">
			<mdb-icon fas icon="cog"></mdb-icon>
		</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>PPA</mdb-breadcrumb-item>
		<mdb-breadcrumb-item>{{ "Bitacora de Eventos" | translate }}</mdb-breadcrumb-item>
		<mdb-breadcrumb-item class="active">{{ "Alta de Eventos" | translate }}</mdb-breadcrumb-item>
	</mdb-breadcrumb>
</div>

<form [formGroup]="formNewEvent" (ngSubmit)="onSubmitFormNewEvent(formNewEvent.value)">
	<div class="section">

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_0">{{ "Bitácora de Eventos" | translate }}</p>
				<p class="section_subtitulo_0"></p>
			</div>
		</div>
		<hr>
		<br>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Descripción / Clasificacion de Evento" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<app-mat-datetimelocal 
					[formGroup]="formNewEvent" 
					controlName="dateTimeStart" 
					label="Fecha y Hora inicial"
				></app-mat-datetimelocal>
			</div>
			<div class="col">
				<app-mat-datetimelocal 
					[formGroup]="formNewEvent"
					controlName="dateTimeEnd" 
					label="Fecha y Hora Final"
				></app-mat-datetimelocal>
			</div>
			<div class="col">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="eventsClassificationId"
					[options]="lstEventClassification"
					label="Clasificación de Eventos"
					(eventChange)="onBuildEventAssociated($event)"
				></app-mat-select>
			</div>
			<div class="col">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="eventsId"
					[options]="lstEvents"
					label="Eventos"
					(eventChange)="onBuildTemplate($event)"
				></app-mat-select>
			</div>

			<div class="w-100"></div>
			<div class="col">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="fuelsId"
					[options]="lstFuels"
					label="Combustible"
				></app-mat-select>
			</div>
			<div class="col">
				<app-mat-input-number 
					[formGroup]="formNewEvent" 
					controlName="powerMw" 
					label="Potencia MW"
				></app-mat-input-number>
			</div>
			<div class="col">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="unitsId"
					[options]="lstUnits"
					label="Unidad"
				></app-mat-select>
			</div>
			<div class="col">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="impactContractsId"
					[options]="lstImpactContracts"
					label="Contrato Impactado"
				></app-mat-select>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Contrato de Compraventa de Energía (PPA)" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="realsCcdvId"
					[options]="lstRealsCcdv"
					label="Real/CCDV"
				></app-mat-select>
			</div>
			<div class="col-3">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="toleranceBandsId"
					[options]="lstToleranceBands"
					label="Banda de Tolerancia"
				></app-mat-select>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Mercado Eléctrico Mayorista (MEM)" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="marketTypesId"
					[options]="lstMarketTypes"
					label="Tipo de Mercado"
				></app-mat-select>
			</div>
			<div class="col-3">
				<app-mat-input-number [formGroup]="formNewEvent" controlName="mwOffered" label="MW Ofertados" ></app-mat-input-number>
			</div>
			<div class="col-3">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="relatedServicesId"
					[options]="lstSelatedServices"
					label="Servicios Conexos"
				></app-mat-select>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Licencia / Orden de Trabajo" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<app-mat-input-text 
					[formGroup]="formNewEvent" 
					controlName="licenseNumber" 
					label="# Licencia" 
				></app-mat-input-text>
			</div>
			<div class="col">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="equipmentId"
					[options]="lstEquipment"
					label="Equipo"
				></app-mat-select>
			</div>
			<div class="col">
				<app-mat-input-number 
					[formGroup]="formNewEvent" 
					controlName="initialCharge" 
					label="Carga Inicial" 
				></app-mat-input-number>
			</div>
			<div class="col">
				<app-mat-input-number 
					[formGroup]="formNewEvent" 
					controlName="finalCharge" 
					label="Carga Final" 
				></app-mat-input-number>
			</div>
			<div class="w-100"></div>
			<div class="col-3">
				<app-mat-input-number 
					[formGroup]="formNewEvent" 
					controlName="mwPowerLoss" 
					label="(-) Perdida Potencia MW" 
				></app-mat-input-number>
			</div>
			<div class="col-3">
				<!--app-mat-select
					[formGroup]="formNewEvent"
					controlName="workOrderId"
					[options]="lstWorkOrder"
					label="Orden de Trabajo"
				></app-mat-select-->
				<app-mat-input-text
					[formGroup]="formNewEvent"
					controlName="workOrderId"
					label="Orden de Trabajo"
				></app-mat-input-text>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<app-mat-input-textarea
					[formGroup]="formNewEvent"
					controlName="licenseDescription"
					label="Descripción / Concepto de la Licencia"
					maxLength="2000"
				></app-mat-input-textarea>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Fuente" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<!--app-mat-select
					[formGroup]="formNewEvent"
					controlName="operatorPlantOpen"
					[options]="lstOperatorPlantOpen"
					label="Nombre(s)/Apellidos(s) Operador Planta Abrió"
				></app-mat-select-->
				<app-mat-input-text
					[formGroup]="formNewEvent"
					controlName="operatorPlantOpen"
					label="Nombre(s)/Apellidos(s) Operador Planta Abrió"
				></app-mat-input-text>
			</div>
			<div class="col">
				<app-mat-input-text 
					[formGroup]="formNewEvent"
					controlName="operatorCenaceOpen" 
					label="Nombre(s)/Apellidos(s) Operador CENACE Abrió" 
				></app-mat-input-text>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<!--app-mat-select
					[formGroup]="formNewEvent"
					controlName="operatorPlantClose"
					[options]="lstOperatorPlantClose"
					label="Nombre(s)/Apellidos(s) Operador Planta Cerro"
				></app-mat-select-->
				<app-mat-input-text
					[formGroup]="formNewEvent"
					controlName="operatorPlantClose"
					label="Nombre(s)/Apellidos(s) Operador Planta Cerro"
				></app-mat-input-text>
			</div>				
			<div class="col">
				<app-mat-input-text 
					[formGroup]="formNewEvent" 
					controlName="operatorCenaceClose" 
					label="Nombre(s)/Apellidos(s) Operador CENACE Cerro" 
				></app-mat-input-text>
			</div>
			<div class="w-100"></div>
			<div class="col-3">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="sourceEvent"
					[options]="lstSourceEvent"
					label="Fuente del Evento"
				></app-mat-select>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col">
				<p class="section_titulo_1">{{ "Estatus del Evento" | translate }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="eventStatus"
					[options]="lstEventStatus"
					label="Estatus del Evento"
				></app-mat-select>
			</div>
			<div class="col-3">
				<app-mat-select
					[formGroup]="formNewEvent"
					controlName="approvalStatus"
					[options]="lstApprovalStatus"
					label="Estatus de Aprobación"
				></app-mat-select>
			</div>
		</div>
	</div>
	<div class="section">
		
			<div class="row pb-2">
				<div class="col">
					<p class="section_titulo_1">{{ "Observaciones y/o comentarios" | translate }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<app-mat-input-textarea
						[formGroup]="formobservationsComments"
						controlName="observationsComments"
						maxLength="2000"
					></app-mat-input-textarea>
				</div>
			</div>
			<div class="row justify-content-end">
				<div class="col-12 col-lg-2">
					<app-btn-block-add (click)="BtnAddObservationsComments()"></app-btn-block-add>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col text-center">
					<p class="colortheme py-1">Historial de observaciónes</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<app-mat-table 
						[data]="tableObservationsComments"
						[selection]="tableObservationsCommentsSelection"
						selectionLabel="Visible"
						[columnsDisplay]="tableColumnsDisplay"
						[columnsLabels]="tablaColumnsLabels"
						(clickEdit)="tableRowEdit($event)"
						(clickDelete)="tableRowDelete($event)"
					></app-mat-table>
				</div>
			</div>
		</div>
		<div class="section">

			<div class="row pb-2">
				<div class="col">
					<p class="section_titulo_1">{{ "Soportes" | translate }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="media" (click)="downloadFile()">
						<img src="assets/img/zip.png" style="width: 64px; height: 64px;">
						<div class="media-body">
							<p>Descarga kiki_koo.zip</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row" [formGroup]="fileUploadForm">
						
						<div class="col">
							Carga Archivo:<br />
							<app-file-upload formControlName="file" [progress]="progress"></app-file-upload>
							<mat-error *ngIf="!fileUploadForm.controls['file'].valid && fileUploadForm.controls['file'].touched">
								Requerido
							</mat-error>
						</div>
						<div class="col-12 col-lg-3">
							<div class="row mt-2">
								<div class="col">
									<app-btn-block-import (click)="btnUploadFile()" [disabled]="!fileUploadForm.valid" ></app-btn-block-import>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label>Estado del elemento:</label><br>
						<mat-checkbox color="primary" formControlName="eventActivated">Activo</mat-checkbox>
					</div>
				</div>
				<div class="col">
					<div class="row justify-content-end">
						<div class="col-12 col-lg-3">
							<app-btn-block-back (click)="btnClickBack()"></app-btn-block-back>
						</div>
						<div class="col-12 col-lg-6">
							<app-btn-block-save-update mytype="submit"></app-btn-block-save-update>
						</div>
						<div class="col-12 col-lg-3">
							<app-btn-block-finish (click)="btnFinish()"></app-btn-block-finish>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>
