<div class="weather-wrapper">
    <div class="weather-card madrid">
        <div class="weather-icon sun"></div>
        <h1 style="margin-bottom:9rem !important">26º</h1>                    
        <p style="margin-bottom:7rem !important">Tuxtla</p>
        <p style="margin-bottom:5.5rem !important;font-size:20px !important;">Miércoles</p>
        <p style="margin-bottom:4rem !important;font-size:15px !important;">Precipitación 0% </p>
        <p style="margin-bottom:3rem !important;font-size:15px !important;">Humedad 44%</p>
        <p style="margin-bottom:2rem !important;font-size:15px !important;">{{viento}}</p>
    </div>
    <div *ngFor="let message of receivedMessages; let i = index">

            <div class="weather-card2 london">
                <div class="weather-icon2 cloud"></div>
                <p style="margin-bottom:6rem !important;font-size:20px !important;">Lunes</p>                    
                <p style="margin-bottom:0.5rem !important;font-size:20px !important;">8º - 10º</p>
            </div>
            <!--div class="weather-card2 london">
                <div class="weather-icon2 sun"></div>
                <p style="margin-bottom:6rem !important;font-size:20px !important;">Martes</p>                    
                <p style="margin-bottom:0.5rem !important;font-size:20px !important;">16º - 18º</p>
            </div>
            <div class="weather-card2 london">
                <div class="weather-icon2 cloud"></div>
                <p style="margin-bottom:6rem !important;font-size:20px !important;">Miércoles</p>                    
                <p style="margin-bottom:0.5rem !important;font-size:20px !important;">10º - 12º</p>
            </div>
            <div class="weather-card2 london">
                <div class="weather-icon2 sun"></div>
                <p style="margin-bottom:6rem !important;font-size:20px !important;">Jueves</p>                    
                <p style="margin-bottom:0.5rem !important;font-size:20px !important;">14º - 15º</p>
            </div>
            <div class="weather-card2 london">
                <div class="weather-icon2 sun"></div>
                <p style="margin-bottom:6rem !important;font-size:20px !important;">Viernes</p>                    
                <p style="margin-bottom:0.5rem !important;font-size:20px !important;">18º - 20º</p>
            </div-->
    </div>
</div>