<div class="row">
  <mdb-breadcrumb customClass="white" class="w-100">
    <mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">{{title}}</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>

<div class="section">

  <div class="row pb-2">
    <div class="col">
      <p class="section_titulo_0">{{title}}</p>
      <p class="section_subtitulo_0"> </p>
    </div>
  </div>
  <hr>
  <div class="row mb-3 mt-3">
    <div class="col text-right">
      <button type="button" class="btn" *ngIf="showAdd"
              [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}"
              (click)="action(1, 0)">
        <mdb-icon fas icon="plus"></mdb-icon>&nbsp;Agregar
      </button>
    </div>
  </div>
  <!-- Filtros de busqueda -->

  <!-- Tabla de Catalogos -->
  <div class="row mt-4 mb-4">
    <div class="col">
      <div class="mat-elevation-z0">
        <table matSort mat-table [dataSource]="dataSource" class="table_catalogo">
          <ng-container [matColumnDef]="column.key" *ngFor="let column of displayedColumnsOrder">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > {{column.label}} </th>
            <td mat-cell *matCellDef="let element">{{element[column.key]}}</td>

          </ng-container>

          <ng-container [matColumnDef]="column.key" *ngFor="let column of displayedColumnsActions">
            <th mat-header-cell *matHeaderCellDef> {{column.label}}</th>
            <td mat-cell *matCellDef="let element" [ngSwitch]="column.key">
              <a (click)="action(2, element.id)" *ngSwitchCase="'sys_see'">
                <img src="assets/images/skins/ico_Ver.png" alt="Visualizar">
              </a>
              <a (click)="action(3, element.id)" *ngSwitchCase="'sys_edit'">
                <img src="assets/images/skins/ico_Editar.png" alt="Editar">
              </a>
              <a (click)="eliminarRegistro(element.element)" *ngSwitchCase="'sys_delete'">
                <img src="assets/images/skins/ico_Borrar.png" alt="Eliminar">
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="rowPerPage" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <!-- ./Tabla de Catalogos -->
</div>
