<section class="view intro-2" style="color:white">
    <div class="row flex-center pt-5 mt-3 w-100">
        <div class="col-md-6 col-xl-5 offset-xl-1">
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                <div class="card-body">
                    <div class="container">
                        <div calss="row">
                            <div class="col-12 flex-center"><img src="../../assets/img/logosafe.png"></div>
                        </div>
                        <div calss="row">
                            <div class="col-12 flex-center">
                                <h3>I Collab</h3>
                            </div>
                        </div>
                        <div calss="row">
                            <div class="col-12 flex-center">
                                <hr class="hr-light">
                            </div>
                        </div>
                        <div calss="row">
                            <div class="col-12">
                                <h4>Bienvenidos</h4>
                            </div>
                        </div>
                        <div calss="row">
                            <div class="col-12">
                                <h6>Elija el modulo al que dese ingresar</h6>
                            </div>
                        </div>
                    </div>
                    <div class="container ">
                        <div class="row flex-center">
                            <div class="col-md-4"  *ngIf="existApp('Safe')">&nbsp;&nbsp;
                                <a (click)="goSafe()">
                                     <img src="../../assets/img/logo_safe.png">
                                </a>
                            </div>
                            <div class="col-md-4" *ngIf="existApp('Compliance')">&nbsp;&nbsp;
                                <a (click)="goCompliance()"><img
                                        src="../../assets/img/logo_compliance.png">
                                </a>
                            </div>
                            <div class="col-md-4"  *ngIf="existApp('Efh')">&nbsp;&nbsp;
                                <img src="../../assets/img/logo_efh.png">
                            </div>
                            <div class="w-100">&nbsp;</div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row flex-center">
                            <div class="w-100">&nbsp;</div>
                            <div class="col-md-4"  *ngIf="existApp('Monitoreo')">&nbsp;&nbsp;
                                <img src="../../assets/img/logo_mnitoreo.png">
                            </div>
                            <div class="col-md-4" *ngIf="existApp('Gate')">&nbsp;&nbsp;
                                <img src="../../assets/img/logo_gate.png">
                            </div>
                            <div class="col-md-4" *ngIf="existApp('Lotto')">&nbsp;&nbsp;
                                <img src="../../assets/img/logo_lotto.png">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row flex-center">
                            <div class="w-100">&nbsp;</div>
                            <div class="col-md-4" *ngIf="existApp('Security')">&nbsp;&nbsp;
                                <a (click)="goSecurity()">
                                    <img src="../../assets/img/logo_compliance.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>