
<aside id="columna" 
	class="scroll_design"
    [ngStyle]="{'width':globalService.aside_open ? '233px' : minwidth }">
	<div class="row">
		<div class="col p-0">
			<div class="user-panel" *ngIf="globalService.aside_open">
				<div class="image" style="height: 90px;">
				<!--
					<img *ngIf="getgender()===1" src="../../../assets/images/avatar2.png" alt="" class="img-user">
					<img *ngIf="getgender()===2" src="../../../assets/images/womenAvatar.png" alt="" class="img-user">
				-->
				</div><br>
				<div class="info-user" *ngIf="globalService.aside_open">
					<p  *ngIf="getgender()===1">{{ "_general.body.welcome" | translate }}, {{getNameUser()}}</p>
					<p  *ngIf="getgender()===2">{{ "_general.body.welcome2" | translate }}, {{getNameUser()}}</p>
					<p><small>{{ "shared.sidebar.infoUser.youHaveNoPendingTasks" | translate }}</small></p>
				</div>
				<img *ngIf="globalService.aside_open" src="../../../assets/images/avatar-bg.png" alt="" class="bg-user">
			</div>
		</div>
	</div>
	<app-shared-sidebar-menu></app-shared-sidebar-menu>
</aside>