<div id="agrupar">
    <!-- Header -->
    <app-header (outputHeader)="inputHeaderComponent($event)"></app-header>
    <!-- /Header -->
    <div id="body">
        <!-- Aside -->
        <aside id="columna" [ngStyle]="{'width':aside_open ? '230px' : '60px' }">
            <div>
                <div class="row">
                    
                    <div class="col p-0">
                        <div class="user-panel">
                            <div class="image">
                                <img *ngIf="getgender()===1" src="../../../assets/images/avatar2.png" alt="" class="img-user">
                                <img *ngIf="getgender()===2" src="../../../assets/images/womenAvatar.png" alt="" class="img-user">
                            </div><br>
                            <div class="info-user" *ngIf="aside_open">
                                <p  *ngIf="getgender()===1">Bienvenido,</p>
                                <p  *ngIf="getgender()===2">Bienvenida,</p>
                                <p>{{getNameUser()}}</p>
                                <p class="f-10">No tienes tareas pendientes</p>
                            </div>
                            <img src="../../../assets/images/avatar-bg.png" alt="" class="bg-user">
                        </div>
                    </div>
                </div>
                
                <app-sidebarMenu [aside_open]='aside_open'></app-sidebarMenu>
            </div>
        </aside>
        <!-- /Aside -->

        <section id="seccion" [ngStyle]="{'width':aside_open ? 'calc(100% - 230px)' : 'calc(100% - 60px)' }">

            <div class="container-fluid">
                <!--  CUERPO DEL COMPONENTE -->
                <ng-template #container></ng-template>

                <!--  /CUERPO DEL COMPONENTE -->
            </div>
        </section>
    </div>
    <footer id="pie" [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}">
      Derechos Reservados &copy;
    </footer>
</div>