<div id="agrupar">
    <!-- Header -->
    <app-safeHeader></app-safeHeader>
    <!-- /Header -->
    <div id="body">
        <!-- Aside -->
        <aside id="columna" [ngStyle]="{'width':aside_open ? '250px' : '60px' }">
            <div>
                <div class="row">
                    
                    <div class="col p-0">
                        <div class="user-panel">
                            <div class="image">
                                <img src="../../../assets/images/avatar2.png" alt="" class="img-user">
                            </div>
                            <div class="info-user" *ngIf="aside_open">
                                <p>Bienvenido, {{getNameUser()}}</p>
                                <p class="f-10">No tienes tareas pendientes</p>
                            </div>
                            <img src="../../../assets/images/avatar-bg.png" alt="" class="bg-user">
                        </div>
                    </div>
                </div>
                <app-safeSidebar [aside_open]='aside_open'></app-safeSidebar>
            </div>
        </aside>
        <!-- /Aside -->

        <section id="seccion" [ngStyle]="{'width':aside_open ? 'calc(100% - 250px)' : 'calc(100% - 60px)' }">

            <div class="container-fluid">
                <!--  CUERPO DEL COMPONENTE -->
                <ng-template #container></ng-template>

                <!--  /CUERPO DEL COMPONENTE -->
            </div>
        </section>
    </div>
    <footer id="pie"[ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}" >
        Derechos Reservados &copy;
    </footer>
</div>