/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import '../node_modules/flatpickr/dist/flatpickr.css';


@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,400i,700,900);
@import url(https://cdn.linearicons.com/free/1.0.0/icon-font.min.css);
@import url(https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

@import "~jsgantt-improved/dist/jsgantt.css";
