<div class="row">
  <mdb-breadcrumb customClass="white" class="w-100">
    <mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
    <mdb-breadcrumb-item>Bitacora List</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Bitacora</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>

<div class="section">
  <div class="row">
    <div class="col">
      <p class="section_titulo_0">{{ "Lista de eventos" | translate }}</p>
    </div>
  </div>
  <hr>
  <br>
  <!--form >
    <div class="row mb-4">
      <div class="my-2 col-12 col-xs-6 col-xl-3">
        <app-mat-input-datepicker-year-and-month
                (eventChange)="onChangeDatePicker($event)"
                [maxDate]="maxDate"
                label="Commercial Operation Date">
        </app-mat-input-datepicker-year-and-month>
      </div>
      <div class="row mt-2">
        <div class="col">
          <app-btn-block-import mytype="submit" [disabled]="!fileUploadForm.valid" ></app-btn-block-import>
        </div>
      </div>
    </div>
  </form-->
</div>
