<a mat-list-item (click)="itemSelected(item)" class="sidebar_item" id="{{item.id}}"
	[ngStyle]="{'padding-left': (deep * indent) + units}" style="min-height: 70px;
    padding-top: 10px;">
	<mat-icon class="itemIcon" *ngIf="deep===0 || item.children">{{item.icon}}
	</mat-icon>
	<div class=" col-10" [ngStyle]="{'padding-left':deep > 1 ? '25px' : '' }">
		<span *ngIf="globalService.aside_open" [attr.id_item]="item.id" [attr.deep]="deep">{{item.label | translate}}
		</span>
	</div>
	<span fxFlex *ngIf="item.children && item.children.length && globalService.aside_open"
		class="aside_icon_expand_right">
		<span fxFlex>
		</span>
		<mat-icon [@icon180]="viewHide ? 'view': 'hide'">
			expand_less
		</mat-icon>
	</span>
</a>

<!--div *ngIf="viewHide && globalService.aside_open"-->
<div>
	<app-shared-sidebar-items *ngFor="let itemIn of item.children" [item]="itemIn" [deep]="deep + 1"
		[ngStyle]="{'display':viewHide && globalService.aside_open ? '' : 'none' }">
	</app-shared-sidebar-items>
</div>