
<div class="p-5">
    <!-- Titulo -->
    <div class="row justify-content-between">
    <div class="col">
        <span class="agila-cda-titulo">{{titulo}}</span>
    </div>
    <div class="col txt-r">
        
        <button type="button" mdbBtn color="warning" mdbWavesEffect>
            <mdb-icon far icon="save" class="mr-1"></mdb-icon> Guardar Evento
        </button>
    </div>
    </div>

    <!-- formularios -->
    <!-- Panel 1 -->
    <mdb-card class="mt-4">
    <mdb-card-body>
        <div class="row ">
            <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fecha inicio" type="date" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Hora inicio" type="time" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Fecha Final" type="date">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Hora Fianl" type="time">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                    <mat-label>Combustible</mat-label>
                    <select matNativeControl required>
                        <option>Gas</option>
                    </select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Potencia MW" type="number">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="(-) Pérdida en MW" type="number" value="-40" disabled>
                    </mat-form-field>
                </div>
            </div>
            </div>
            <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                    <mat-label>Estatus</mat-label>
                    <mat-select [disabled]="true">
                        <mat-option *ngFor="let status of frm1_status" [value]="status.value">
                        {{status.viewValue}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                    <mat-label>Clasificación de evento</mat-label>
                    <select matNativeControl required required>
                        <option>Pruebas de CENACE</option>
                    </select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                    <mat-label>Evento</mat-label>
                    <select matNativeControl required>
                        <option>PVC(+) Mercado</option>
                    </select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                    <mat-label>Contrato Afectado</mat-label>
                    <mat-select [disabled]="true">
                        <mat-option *ngFor="let status of frm1_status" [value]="status.value">
                        {{status.viewValue}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="OT" type="number">
                </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                    <mat-label>Real/CCDV</mat-label>
                    <select matNativeControl>
                        <option>CCDV</option>
                    </select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                    <mat-label>BT</mat-label>
                    <select matNativeControl required>
                        <option>1%</option>
                    </select>
                    </mat-form-field>
                </div>
            </div>
            </div>
        </div>
    </mdb-card-body>
    </mdb-card>
    <!-- /Panel 1 -->

    <!-- Panel 2 -->
    <mdb-card class="mt-4">
    <mdb-card-body>
        <div class="row ">
            <div class="col">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                    <mat-label>MEM</mat-label>
                    <select matNativeControl required>
                        <option>MTR</option>
                    </select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="MW Ofertados" type="number" value="10">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                    <mat-label>Servicios Conexo</mat-label>
                    <select matNativeControl required>
                        <option>N/A</option>
                    </select>
                    </mat-form-field>
                </div>
            </div>
            </div>
        </div>
    </mdb-card-body>
    </mdb-card>
    <!-- /Panel 2 -->
    
    <!-- Panel 3 -->
    <mdb-card class="mt-4">
    <mdb-card-body>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Observaciones">
            Prueba de verificación para el balance de potencia, usando MTR
            </textarea>
        </mat-form-field>
        
        <div class="txt-r">
            <button type="button" mdbBtn color="warning" mdbWavesEffect>
                <mdb-icon far icon="save" class="mr-1"></mdb-icon> Guardar Observación
            </button>
        </div>
        <br>
        
        <div class="tabla-responsi mat-elevation-z8">
            <table mat-table [dataSource]="registros" class="table_catalogo">
            <!-- orden Column -->
            <ng-container matColumnDef="orden" >
                <th mat-header-cell *matHeaderCellDef  class="txt-center"> # </th>
                <td mat-cell *matCellDef="let element"> {{element.orden}} </td>
            </ng-container>
            <!-- orden Column -->
            <ng-container matColumnDef="observaciones" sticky>
                <th mat-header-cell *matHeaderCellDef  class="txt-center"> Observaciones </th>
                <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
            </ng-container>
            <!-- actividad Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef  class="txt-center"> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>
            <!-- prefijo Column -->
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef  class="txt-center"> Hora </th>
                <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
            </ng-container>
            <!-- activo Column -->
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef  class="txt-center"> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>
            <!-- header -->
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="registros_x_pagina" showFirstLastButtons></mat-paginator>
        </div>

            
    </mdb-card-body>
    </mdb-card>
    <!-- /Panel 3 -->
    
    <!-- Panel 4 -->
    <mdb-card class="mt-4">
    <mdb-card-body>
        <div class="row ">
            <div class="col">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                    <mat-label>Unidad</mat-label>
                    <select matNativeControl required>
                        <option>Planta</option>
                    </select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                    <textarea matInput placeholder="Observaciones"></textarea>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="# Licencia">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Equipo</mat-label>
                        <mat-select [disabled]="true">
                        <mat-option *ngFor="let status of frm1_status" [value]="status.value">
                            {{status.viewValue}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Carga Inicial MW" type="number" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Carga Final MW" type="number" required>
                    </mat-form-field>
                </div>
            </div>
            </div>
        </div>
    </mdb-card-body>
    </mdb-card>
    <!-- /Panel 4 -->
    
    <!-- Panel 5 -->
    <mdb-card class="mt-4">
    <mdb-card-body>
        <div class="row ">
            <div class="col">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                    <mat-label>Tipos de Eventos</mat-label>
                    <select matNativeControl required>
                        <option>Selecciona...</option>
                    </select>
                    </mat-form-field>
                </div>
    
                <div class="col">
                    <mat-form-field>
                    <mat-label>Fuente</mat-label>
                    <select matNativeControl required>
                        <option>RID</option>
                    </select>
                    </mat-form-field>
                </div>
            </div>
            </div>
        </div>
    </mdb-card-body>
    </mdb-card>
    <!-- /Panel 5 -->
    
    <!-- Panel 6 -->
    <mdb-card class="mt-4">
    <mdb-card-body>
        <div class="row ">
            <div class="col">
            <mat-form-field>
                <input matInput placeholder="Nombre de Operador CENACE Abrió">
            </mat-form-field>
            </div>
            <div class="col">
            <mat-form-field>
                <input matInput placeholder="Apellidos de Operador CENACE Abrió">
            </mat-form-field>
            </div>
            <div class="col">
            <mat-form-field>
                <input matInput placeholder="Nombre de Operador EAT Abrió">
            </mat-form-field>
            </div>
            <div class="w-100"></div>
            <div class="col">
            <mat-form-field>
                <input matInput placeholder="Nombre de Operador CENACE Cerró">
            </mat-form-field>
            </div>
            <div class="col">
            <mat-form-field>
                <input matInput placeholder="Apellidos de Operador Cerró">
            </mat-form-field>
            </div>
            <div class="col">
            <mat-form-field>
                <input matInput placeholder="Nombre de Operador EAT Cerró">
            </mat-form-field>
            </div>
        </div>
    </mdb-card-body>
    </mdb-card>
    <!-- /Panel 6 -->
    
    <!-- Panel 7 -->
    <mdb-card class="mt-4">
    <mdb-card-body>
        <div class="row">
            <div class="col">
                <b>Carga de Soportes</b> <br>
                <input type="file">
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col">
            <b>Soportes</b>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">

                <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <img src="assets/img/zip.png" >
                    </div>
                    <mat-card-title>Descarga kiki_koo.zip</mat-card-title>
                </mat-card-header>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <img src="assets/img/xls.png" >
                    </div>
                    <mat-card-title>Descarga kiki_koo.xls</mat-card-title>
                </mat-card-header>
                </mat-card>
            </div>

                    
                    


            
        </div>
    </mdb-card-body>
    </mdb-card>
    <!-- /Panel 7 -->
    <!-- /formularios -->


</div>
         