
<div class="p-5">
    <!-- Titulo -->
    <div class="row justify-content-between">
        <div class="col">
            <span class="agila-cda-titulo">{{titulo}}</span>
        </div>
    </div>
    
    
    <form [formGroup]="newEventtForm" (ngSubmit)="save(newEventtForm.value)">
        <div class="row mt-5 mb-5">
          <div class="col txt-r">
            <button type="submit" class="btn btn-info right" [disabled]="!newEventtForm.valid"
              >
              <mdb-icon far icon="save" class="mr-1"></mdb-icon> Guardar Evento
            </button>
          </div>
        </div>
        <!-- Inputs -->
        <ng-container *ngFor="let formControl of formControls">
            
            <mdb-card class="mt-4">
                <mdb-card-body>

                    <div class="row">
                        <div class="col dividerSection bg-secondary text-white" >
                        <b>{{formControl.section}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <ng-container *ngFor="let in of formControl.inputs">
                        <ng-container [ngSwitch]="in.inputtype">
                            <input *ngSwitchCase="'hidden'" type="hidden" value="{{in.label}}" name="{{in.label}}">
                            <ng-container *ngSwitchCase="'text'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">
                                    <mat-form-field class="full-width">
                                        <input matInput formControlName="{{in.formControlName}}" placeholder="{{in.label}}">
                                        <div *ngIf="!newEventtForm.controls[in.formControlName].valid 
                                        && newEventtForm.controls[in.formControlName].touched">
                                        Requerido
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'time'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">
                                    <mat-form-field class="full-width">
                                        <input type="time" matInput formControlName="{{in.formControlName}}" placeholder="{{in.label}}">
                                        <div *ngIf="!newEventtForm.controls[in.formControlName].valid 
                                        && newEventtForm.controls[in.formControlName].touched">
                                        Requerido
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'date'">
                                <div class="col-md-auto col-md-6 col-lg-4">
                                    <div class="row">
                                    <div class="col-md-{{in.col || 8}}">

                                        
                                        <div class="form-group">
                                            <label class="form-text text-left" for="mydate">De</label>
                                            <mat-form-field class="form-control">
                                                <input matInput 
                                                formControlName="{{in.formControlName}}"
                                                [matDatepicker]="mydate">
                                                <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>
                                                <mat-datepicker #mydate></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'number'">
                                    <div class="col-md-auto col-md-6 col-lg-4">
                                        <div class="row">
                                        <div class="col-md-{{in.col || 8}}">


                                            <div class="form-group">
                                              <label class="form-text text-left">{{in.label}}</label>
                                              <input
                                                  class="form-control"
                                                  type="number"
                                                  formControlName="{{in.formControlName}}"
                                              />
                                              <div *ngIf="!newEventtForm.controls[in.formControlName].valid 
                                              && newEventtForm.controls[in.formControlName].touched">
                                              Requerido
                                              </div>
                                            </div>

                                        </div>
                                        </div>
                                    </div>
                                </ng-container>
                            <ng-container *ngSwitchCase="'select'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">
                                    
                                    <div class="form-group">
                                        <label class="form-text text-left">{{in.label}}:</label>
                                        <mat-select class="form-control" formControlName="{{in.formControlName}}">
                                        <mat-option class="form-control" *ngFor="let option of in.options" [value]="option">{{ option.name }}</mat-option>
                                        </mat-select>

                                        <div *ngIf="!newEventtForm.controls[in.formControlName].valid 
                                        && newEventtForm.controls[in.formControlName].touched">
                                        Requerido
                                        </div>
                                    </div>
                               
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'checkbox'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">
                                    <div class="form-group">
                                        <label class="form-text text-left">{{ in.label }}</label>
                                        <input
                                            class="form-control active"
                                            type="checkbox"
                                            formControlName="{{
                                                in.formControlName
                                            }}"
                                            color="primary" 
                                            style="
                                            height: auto;
                                            width: auto;"
                                        />
                                    </div>
                                    <!--mat-checkbox class="active" color="primary" formControlName="{{in.formControlName}}">
                                    <mat-label>{{in.label}}</mat-label>
                                    </mat-checkbox-->
                                    <div *ngIf="!newEventtForm.controls[in.formControlName].valid 
                                    && newEventtForm.controls[in.formControlName].touched">
                                    Requerido
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'textarea'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 12}}">
                                    <mat-form-field class="full-width">
                                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                        formControlName="{{in.formControlName}}" placeholder="{{in.label}}"></textarea>
                                        <div *ngIf="!observationsForm.controls[in.formControlName].valid 
                                                && observationsForm.controls[in.formControlName].touched">
                                            Requerido
                                        </div>
                                    </mat-form-field>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                </div>
                            </div>
                            </ng-container>
                        </ng-container>
                        </ng-container>
                    </div>

                   
                </mdb-card-body>
            </mdb-card> 
        </ng-container>
    </form>
    
    <!-- Panel 3 -->
    <!-- Observaciones -->
    <mdb-card class="mt-4">
        <mdb-card-body>
            <form [formGroup]="observationsForm" (ngSubmit)="saveObservations(observationsForm.value)">
                <div class="row">
                    <ng-container *ngFor="let in of formControlsObservations">
                    <ng-container [ngSwitch]="in.inputtype">
                    
                        <ng-container *ngSwitchCase="'textarea'">
                        <div class="col-md-auto col-md-6 col-lg-4">
                            <div class="row">
                            <div class="col-md-{{in.col || 12}}">
                                <mat-form-field class="full-width">
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    formControlName="{{in.formControlName}}" placeholder="{{in.label}}"></textarea>
                                </mat-form-field>
                                <div class="col-md-4">
                                <div *ngIf="!observationsForm.controls[in.formControlName].valid 
                                                && observationsForm.controls[in.formControlName].touched">
                                    Requerido
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </ng-container>
            
                    </ng-container>
                    </ng-container>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-info right" [disabled]="!observationsForm.valid"
                    >
                    Agregar
                    </button>
                </div>
            </form>
            <br>
            
            <div class="tabla-responsi mat-elevation-z8">
                <table mat-table [dataSource]="eventsDatasource" class="table_catalogo">
                <!-- orden Column -->
                <ng-container matColumnDef="orden" >
                    <th mat-header-cell *matHeaderCellDef  class="txt-center"> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.orden}} </td>
                </ng-container>
                <!-- orden Column -->
                <ng-container matColumnDef="observaciones" sticky>
                    <th mat-header-cell *matHeaderCellDef  class="txt-center"> Observaciones </th>
                    <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
                </ng-container>
                <!-- actividad Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef  class="txt-center"> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>
                <!-- prefijo Column -->
                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef  class="txt-center"> Hora </th>
                    <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
                </ng-container>
                <!-- activo Column -->
                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef  class="txt-center"> Usuario </th>
                    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                </ng-container>
                
                <!-- Eliminar Column -->
                <ng-container matColumnDef="rm">
                    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                    <td mat-cell *matCellDef="let element; let i = index;" class="p-2 border-none">
                    <i class="fas fa-trash-alt" (click)="deleteObservations(i)"></i>
                    </td>
                </ng-container>

                <!-- header -->
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="registros_x_pagina" showFirstLastButtons></mat-paginator>
            </div>

                
        </mdb-card-body>
    </mdb-card>
    <!-- /Panel 3 -->
    
    <!-- Panel 4 -->
    
    <form [formGroup]="otherForm" (ngSubmit)="save(newEventtForm.value)">
        <!-- Inputs -->
        <ng-container *ngFor="let formControl of formControlsOther">
            
            <mdb-card class="mt-4">
                <mdb-card-body>

                    <div class="row">
                        <div class="col dividerSection bg-secondary text-white" >
                        <b>{{formControl.section}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <ng-container *ngFor="let in of formControl.inputs">
                        <ng-container [ngSwitch]="in.inputtype">
                            <input *ngSwitchCase="'hidden'" type="hidden" value="{{in.label}}" name="{{in.label}}">
                            <ng-container *ngSwitchCase="'text'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">
                                    <mat-form-field class="full-width">
                                        <input matInput formControlName="{{in.formControlName}}" placeholder="{{in.label}}">
                                        <div *ngIf="!otherForm.controls[in.formControlName].valid 
                                        && otherForm.controls[in.formControlName].touched">
                                        Requerido
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'time'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">
                                    <mat-form-field class="full-width">
                                        <input type="time" matInput formControlName="{{in.formControlName}}" placeholder="{{in.label}}">
                                        <div *ngIf="!otherForm.controls[in.formControlName].valid 
                                        && otherForm.controls[in.formControlName].touched">
                                        Requerido
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'date'">
                                <div class="col-md-auto col-md-6 col-lg-4">
                                    <div class="row">
                                    <div class="col-md-{{in.col || 8}}">
                                        
                                        <div class="form-group">
                                            <label class="form-text text-left" for="mydate">{{in.label}}</label>
                                            <mat-form-field class="form-control">
                                                <input matInput 
                                                formControlName="{{in.formControlName}}"
                                                [matDatepicker]="mydate">
                                                <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>
                                                <mat-datepicker #mydate></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'number'">
                                    <div class="col-md-auto col-md-6 col-lg-4">
                                        <div class="row">
                                        <div class="col-md-{{in.col || 8}}">

                                            
                                            <div class="form-group">
                                                <label class="form-text text-left">{{in.label}}</label>
                                                <input
                                                    class="form-control"
                                                    type="number"
                                                    formControlName="{{in.formControlName}}"
                                                />
                                                <div *ngIf="!otherForm.controls[in.formControlName].valid 
                                                && otherForm.controls[in.formControlName].touched">
                                                Requerido
                                                </div>
                                              </div>
                                              
                                        </div>
                                        </div>
                                    </div>
                                </ng-container>
                            <ng-container *ngSwitchCase="'select'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">

                                    
                                    <div class="form-group">
                                        <label class="form-text text-left">{{in.label}}:</label>
                                        <mat-select class="form-control" formControlName="{{in.formControlName}}" 
                                        (selectionChange)="onSelect($event.value, in)">
                                        <mat-option class="form-control" *ngFor="let option of in.options" [value]="option">{{ option.name }}</mat-option>
                                        </mat-select>

                                        <div *ngIf="!otherForm.controls[in.formControlName].valid 
                                        && otherForm.controls[in.formControlName].touched">
                                        Requerido
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'checkbox'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 8}}">
                                    <div class="form-group">
                                        <label class="form-text text-left">{{ in.label }}</label>
                                        <input
                                            class="form-control active"
                                            type="checkbox"
                                            formControlName="{{
                                                in.formControlName
                                            }}"
                                            color="primary" 
                                            style="
                                            height: auto;
                                            width: auto;"
                                        />
                                    </div>
                                    <!--mat-checkbox class="active" color="primary" formControlName="{{in.formControlName}}">
                                    <mat-label>{{in.label}}</mat-label>
                                    </mat-checkbox-->
                                    <div *ngIf="!otherForm.controls[in.formControlName].valid 
                                    && otherForm.controls[in.formControlName].touched">
                                    Requerido
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'textarea'">
                            <div class="col-md-auto col-md-6 col-lg-4">
                                <div class="row">
                                <div class="col-md-{{in.col || 12}}">
                                    <mat-form-field class="full-width">
                                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                        formControlName="{{in.formControlName}}" placeholder="{{in.label}}"></textarea>
                                        <div *ngIf="!observationsForm.controls[in.formControlName].valid 
                                                && observationsForm.controls[in.formControlName].touched">
                                            Requerido
                                        </div>
                                    </mat-form-field>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                                </div>
                            </div>
                            </ng-container>
                        </ng-container>
                        </ng-container>
                    </div>

                    
                </mdb-card-body>
            </mdb-card> 
        </ng-container>
    </form>
    <!-- /Panel 4 -->

    
 
    
    <!-- Panel 7 -->
    <mdb-card class="mt-4">
        <mdb-card-body>
            <div class="row">
                <div class="col">
                    <b>Carga de Soportes</b> <br>
                    <input type="file">
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col">
                <b>Soportes</b>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">

                    <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img src="assets/img/zip.png" >
                        </div>
                        <mat-card-title>Descarga kiki_koo.zip</mat-card-title>
                    </mat-card-header>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <img src="assets/img/xls.png" >
                        </div>
                        <mat-card-title>Descarga kiki_koo.xls</mat-card-title>
                    </mat-card-header>
                    </mat-card>
                </div>

                        
                        


                
            </div>
        </mdb-card-body>
    </mdb-card>
    <!-- /Panel 7 -->
    <!-- /formularios -->


</div>
         