<div class="row pb-5">
    <div class="col">
        <span class="agila-cda-titulo">Cambio Password</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <form (ngSubmit)="save(changePasswordForm.value)" [formGroup]="changePasswordForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input type="password" class="form-control" 
                        formControlName="password" id="form1"
                            name="password" mdbInput>
                        <mat-error *ngIf="!changePasswordForm.controls['password'].valid 
                                  && changePasswordForm.controls['password'].touched">
                            Requerido
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="md-form">
                        <input type="password" class="form-control" 
                        formControlName="confirmPassword"
                            id="confirmPassword" name="confirmPassword" mdbInput>
                        <mat-error *ngIf="!changePasswordForm.controls['confirmPassword'].valid 
                                      && changePasswordForm.controls['confirmPassword'].touched">
                            Requerido
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn" [disabled]="!changePasswordForm.valid"
                        [ngClass]="{'blue': globalService.aguila,'orange': !globalService.aguila}">Cambiar
                            Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>