.col{
    
}
.v_fsize{

}
.fz-fulldate{
    font-size: 20px;
}
.fz-datenumber{
    font-size: 30px;
}
.h-min-50{
    min-height: 78px;
}
.stamp{
    border-radius: 10%;
}
.stamp2{
    border-radius: 2%;
}
.myborder{
    border: solid #7f7f7f 5px;
}
.myborder-top{
    border-top: solid #7f7f7f 5px;
}
.myborder-right{
    border-right: solid #7f7f7f 5px;
}
.myborder-white{
    border: solid white 5px;
}
.bg-bg{
    background: #eee;
}
.bg-tit{
    background: #575354;
}
.bf-tit-sub{
    background: #7f7f7f;
}
.bg-sub{
    background: #e0e0e0;
}
.color-digito{
    color: #e0e0e0;
}
.bg-digito-fulldate{
    background: rgb(207, 135, 0);
}
.bg-ytd-1{
    background: rgba($color: #bcebbd, $alpha: 1.0);
}
.bg-ytd-2{
    background: rgba($color: #99d9ea, $alpha: 1.0);
}
.bg-ytd-3{
    background: rgba($color: #a8bdd7, $alpha: 1.0);
}
.bg-ytd-4{
    background: rgba($color: #f9d99d, $alpha: 1.0);
}
.bg-mtd-1{
    background: rgba($color: #def8c2, $alpha: 1.0);
}
.bg-mtd-2{
    background: rgba($color: #c1ffff, $alpha: 1.0);
}
.bg-mtd-3{
    background: rgba($color: #bfcee1, $alpha: 1.0);
}
.bg-mtd-4{
    background: rgba($color: #fbe4bb, $alpha: 1.0);
}