.col{
    
}
.v_fsize{

}
.h-min-50{
    min-height: 50px;
}
.stamp{
    border-radius: 10%;
}
.bg-tit{
    background: #c3c3c3;
}
.bg-sub{
    background: #e0e0e0;
}
.bg-ytd-1{
    background: rgba($color: #bcebbd, $alpha: 1.0);
}
.bg-ytd-2{
    background: rgba($color: #99d9ea, $alpha: 1.0);
}
.bg-ytd-3{
    background: rgba($color: #a8bdd7, $alpha: 1.0);
}
.bg-ytd-4{
    background: rgba($color: #f9d99d, $alpha: 1.0);
}
.bg-mtd-1{
    background: rgba($color: #def8c2, $alpha: 1.0);
}
.bg-mtd-2{
    background: rgba($color: #c1ffff, $alpha: 1.0);
}
.bg-mtd-3{
    background: rgba($color: #bfcee1, $alpha: 1.0);
}
.bg-mtd-4{
    background: rgba($color: #fbe4bb, $alpha: 1.0);
}