.col{
    
}
.v_fsize{

}
.fz-fulldate{
    font-size: 18px;
}
.fz-datenumber{
    font-size: 30px;
}
.h-min-50{
    min-height: 78px;
}
.stamp{
    border-radius: 10%;
}
.stamp2{
    border-radius: 2%;
}
.spacingNormal{
    letter-spacing: Normal;
}
.myborder2{
    border: solid #ccc 5px;
}
.myborder{
    border: solid #7f7f7f 5px;
}
.myborder-top{
    border-top: solid #7f7f7f 5px;
}
.myborder-right{
    border-right: solid #7f7f7f 5px;
}
.myborder-white{
    border: solid white 5px;
}
.bg-bg{
    background: #eee;
}
.bg-tit{
    background: #575354;
}
.bf-tit-sub{
    background: #7f7f7f;
}
.bg-sub{
    background: #e0e0e0;
}
.color-digito{
    color: #e0e0e0;
}
.bg-digito-fulldate{
    background: rgb(207, 135, 0);
}
.bg-ytd-1{
    background: rgba($color: #bcebbd, $alpha: 1.0);
}
.border-ytd-1{
    border: solid #addbae 3px;
}
.bg-ytd-2{
    background: rgba($color: #99d9ea, $alpha: 1.0);
}
.border-ytd-2{
    border: solid #87c5d6 3px;
}
.bg-ytd-3{
    background: rgba($color: #a8bdd7, $alpha: 1.0);
}
.border-ytd-3{
    border: solid #8aa1bd 3px;
}
.bg-ytd-4{
    background: rgba($color: #f9d99d, $alpha: 1.0);
}
.border-ytd-4{
    border: solid #dab879 3px;
}
.bg-mtd-1{
    background: rgba($color: #def8c2, $alpha: 1.0);
}
.border-mtd-1{
    border: solid #c5e4a5 3px
}
.bg-mtd-2{
    background: rgba($color: #c1ffff, $alpha: 1.0);
}
.border-mtd-2{
    border: solid #a5eeee 3px
}
.bg-mtd-3{
    background: rgba($color: #bfcee1, $alpha: 1.0);
}
.border-mtd-3{
    border: solid #9daec5 3px
}
.bg-mtd-4{
    background: rgba($color: #fbe4bb, $alpha: 1.0);
}
.border-mtd-4{
    border: solid #dfc392 3px
}

.parpadea {

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    }
    
    @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
    }
    
    @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
    }
    
    @keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
    }
    