<div class="row">
  <mdb-breadcrumb customClass="white" class="w-100">
    <mdb-breadcrumb-item class=""><mdb-icon fas icon="cog"></mdb-icon></mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">{{title}}</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>
<form [formGroup]="analysisForm" (ngSubmit)="onSubmit()">
  <div class="section">
    <div class="row pb-2">
      <div class="col">
        <p class="section_titulo_0">{{title}}</p>
        <p class="section_subtitulo_0"> </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <small class="form-text text-muted text-left">Unidad:</small>
          <mat-select class="form-control" formControlName="unitControl" [(value)]="selectedUnit">
            <mat-option class="form-control" [value]="unit.id" *ngFor="let unit of unitsArr">{{unit.name}}</mat-option>
          </mat-select>
        </div>
        <div *ngIf="submittedData && !selectedUnit" style="color:red">
          <div>Requerido</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <small class="form-text text-muted" >Fecha inicio:</small>
          <input type="date" class="form-control" min="{{initDate}}" formControlName="initDate"/>
        </div>
        <div *ngIf="submittedData && f.initDate.errors" style="color:red">
          <div *ngIf="f.initDate.errors.required">Requerido</div>
        </div>
        <div *ngIf="datesValidation" style="color:red">
          <div>Validar</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
            <small class="form-text text-muted" >Fecha fin:</small>
            <input type="date" class="form-control" min="{{initDate}}" formControlName="endDate"/>
        </div>
        <div *ngIf="submittedData && f.endDate.errors" style="color:red">
            <div *ngIf="f.endDate.errors.required">Requerido</div>
        </div>
        <div *ngIf="datesValidation" style="color:red">
          <div>Validar</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn"
                  [ngClass]="{'myblue': globalService.aguila,'myorange': !globalService.aguila}">
            <i class="ti-pencil"></i>
            Consultar
          </button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</form>
<div class="section">
  <div class="row">
    <!--<div class="mat-elevation-z0">-->
    <table>
      <thead>
      <tr><th colspan="35"><small>EFG-ES Operating Data</small></th></tr>
      <tr>
        <th rowspan="2"><small>Total Starts</small></th>
        <th rowspan="2"><small>Start</small></th>
        <th rowspan="2" style="background-color: #7c7db3"><small>Date</small></th>
        <th rowspan="2" style="background-color: #7c7db3"><small>Start Time (FSNL)</small></th>
        <th rowspan="2" style="background-color: #7c7db3"><small>Stop Time (Flame off)</small></th>
        <th rowspan="2" style="background-color: #85ce36"><small>Run AOH</small></th>
        <th rowspan="2" style="background-color: #85ce36"><small>Run EFHi</small></th>
        <th rowspan="2" style="background-color: #85ce36"><small>Run Esi</small></th>
        <th rowspan="2" style="background-color: #85ce36"><small>Run EFHi $</small></th>
        <th rowspan="2" style="background-color: #7c7db3"><small>Rate EFHi $</small></th>
        <th colspan="6" style="background-color: #85ce36"><small>Total</small></th>
        <th colspan="6" style="background-color: #85ce36"><small>Since Last Planned Outage</small></th>
        <th rowspan="2" style="background-color: #85ce36"><small>Esi</small></th>
        <th style="background-color: #7c7db3"><small>FF</small></th>
        <th rowspan="2" style="background-color: #7c7db3"><small>Start</small></th>
        <th style="background-color: #7c7db3"><small>Trip</small></th>
        <th style="background-color: #7c7db3"><small>Load</small></th>
        <th style="background-color: #5fbae9"><small>ESi per</small></th>
        <th rowspan="2" style="background-color: #7c7db3"><small>Load Rejection</small></th>
        <th style="background-color: #7c7db3"><small>Load</small></th>
        <th style="background-color: #5fbae9"><small>ESi per</small></th>
        <th rowspan="2" style="background-color: #7c7db3"><small>Rapid Load Change</small></th>
        <th style="background-color: #7c7db3"><small>Change Range</small></th>
        <th style="background-color: #7c7db3"><small>Change Rate</small></th>
        <th style="background-color: #5fbae9"><small>ESi per</small></th>
      </tr>
      <tr>
        <th style="background-color: #85ce36"><small>Trips</small></th>
        <th style="background-color: #85ce36"><small>Starts</small></th>
        <th style="background-color: #85ce36"><small>ESi</small></th>
        <th style="background-color: #85ce36"><small>AOH</small></th>
        <th style="background-color: #85ce36"><small>EFHi</small></th>
        <th style="background-color: #85ce36"><small>EFHi $</small></th>
        <th style="background-color: #85ce36"><small>Trips</small></th>
        <th style="background-color: #85ce36"><small>Starts</small></th>
        <th style="background-color: #85ce36"><small>ESi</small></th>
        <th style="background-color: #85ce36"><small>AOH</small></th>
        <th style="background-color: #85ce36"><small>EFHi</small></th>
        <th style="background-color: #85ce36"><small>EFHi $</small></th>
        <th style="background-color: #7c7db3"><small>GAS/OIL</small></th>
        <th style="background-color: #7c7db3"></th>
        <th style="background-color: #7c7db3"><small>MW @ Trip</small></th>
        <th style="background-color: #5fbae9"><small>Tj</small></th>
        <th style="background-color: #7c7db3"><small>MW @ Rej</small></th>
        <th style="background-color: #5fbae9"><small>LRj</small></th>
        <th style="background-color: #7c7db3"><small>% Load Yj</small></th>
        <th style="background-color: #7c7db3"><small>%/min Xj</small></th>
        <th style="background-color: #5fbae9"><small>LCj</small></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of dataAnalysis;">
        <td>{{el.totalStarts}}</td>
        <td>{{el.start}}</td>
        <td>{{el.date}}</td>
        <td>{{el.startTime}}</td>
        <td>{{el.stopTime}}</td>
        <td>{{el.runAOH | number: '1.1-1'}}</td>
        <td>{{el.runEFHi | number: '1.1-1'}}</td>
        <td>{{el.runESi | number: '1.2'}}</td>
        <td>{{el.runEFHi_costo | currency:'USD':'symbol-narrow' }}</td>
        <td>{{el.rateEFHi_costo | currency:'USD':'symbol-narrow' }}</td>
        <td>{{el.totalTrips}}</td>
        <td>{{el.totalStarts}}</td>
        <td>{{el.totalESi | number: '1.2' }}</td>
        <td>{{el.totalAOH | number: '1.1-1' }}</td>
        <td>{{el.totalEFHi | number: '1.1-1' }}</td>
        <td>{{el.totalEFHi_costo | currency:'USD':'symbol-narrow' }}</td>
        <td>{{el.sinceTrips}}</td>
        <td>{{el.sinceStarts}}</td>
        <td>{{el.sinceESi | number: '1.2' }}</td>
        <td>{{el.sinceAOH | number: '1.1-1' }}</td>
        <td>{{el.sinceEFHi | number: '1.1-1' }}</td>
        <td>{{el.sinceEFHi_costo | currency:'USD':'symbol-narrow' }}</td>
        <td>{{el.esi | number: '1.2'}}</td>
        <td>{{el.ff}}</td>
        <td>{{el.startFlag}}</td>
        <td>{{el.tripFlag}}</td>
        <td>{{el.loadTrip}}</td>
        <td>{{el.esi_tj | number: '1.2' }}</td>
        <td>{{el.rejectFlag}}</td>
        <td>{{el.loadReject}}</td>
        <td>{{el.esi_lrj | number: '1.2' }}</td>
        <td>{{el.rapidLoad}}</td>
        <td>{{el.changeRange}}</td>
        <td>{{el.changeRate}}</td>
        <td>{{el.esi_lcj | number: '1.2' }}</td>
      </tr>
      </tbody>
    </table>
    <!--</div>-->
  </div>
</div>
