input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('/assets/img/icon_calendar.png') no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table{
  width:100%;
  margin-bottom:1em;
  border-collapse: collapse;
  font: 9px sans-serif;
}
th{
  font-weight:bold;
  text-align: center;
  vertical-align: middle;
}
th,
td{
  padding:0.5em;
  text-align: center;
  border:1px solid #ccc;
}
