<div class="row">
    <mdb-breadcrumb customClass="white" class="w-100">
        <mdb-breadcrumb-item class=""
            ><mdb-icon fas icon="cog"></mdb-icon
        ></mdb-breadcrumb-item>
        <mdb-breadcrumb-item>Catálogos</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">{{
            getTitle()
        }}</mdb-breadcrumb-item>
    </mdb-breadcrumb>
</div>

<div class="section">
    <div class="row pb-2">
        <div class="col">
            <span class="agila-cda-titulo">{{ getTitle() }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form
                [formGroup]="unityProductForm"
                (ngSubmit)="save(unityProductForm.value)"
            >
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-text text-left">Código</label>
                            <input
                                formControlName="code"
                                class="form-control"
                            />
                            <div
                                *ngIf="
                                    !unityProductForm.controls['code'].valid &&
                                    unityProductForm.controls['code'].touched
                                "
                                style="color:red"
                            >
                                <div
                                    *ngIf="
                                        !unityProductForm.controls['code']
                                            .valid &&
                                        unityProductForm.controls['code']
                                            .touched
                                    "
                                >
                                    Requerido
                                </div>
                            </div>
                        </div>

                        <!--div class="md-form">
                            <mat-form-field class="w-100">
                                <input
                                    matInput
                                    placeholder="Código"
                                    formControlName="code"
                                />
                                <div
                                    *ngIf="
                                        !unityProductForm.controls['code']
                                            .valid &&
                                        unityProductForm.controls['code']
                                            .touched
                                    "
                                >
                                    Requerido
                                </div>
                            </mat-form-field>
                        </div-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-text text-left">Descripción</label>
                            <textarea
                                formControlName="description"
                                class="form-control"
                            >
                            </textarea>
                            <div
                                *ngIf="
                                    !unityProductForm.controls['description']
                                        .valid &&
                                    unityProductForm.controls['description']
                                        .touched
                                "
                                style="color:red"
                            >
                                <div
                                    *ngIf="
                                        !unityProductForm.controls[
                                            'description'
                                        ].valid &&
                                        unityProductForm.controls['description']
                                            .touched
                                    "
                                >
                                    Requerido
                                </div>
                            </div>
                        </div>

                        <!--div class="md-form">
                            <mat-form-field class="w-100">
                                <input
                                    matInput
                                    placeholder="Descripción"
                                    formControlName="description"
                                />
                                <div
                                    *ngIf="
                                        !unityProductForm.controls[
                                            'description'
                                        ].valid &&
                                        unityProductForm.controls['description']
                                            .touched
                                    "
                                >
                                    Requerido
                                </div>
                            </mat-form-field>
                        </div-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            
                            <label class="form-text text-left">Unidad de Producto Sat:</label>
                            <mat-select class="form-control" formControlName="unityProductSat" [compareWith]="compareObjects">
                              <mat-option class="form-control" *ngFor="let unityProductSat of unityProductsSat" [value]="unityProductSat">{{ unityProductSat.name }}</mat-option>
                            </mat-select>
                            <div
                                *ngIf="
                                    !unityProductForm.controls[
                                        'unityProductSat'
                                    ].valid &&
                                    unityProductForm.controls['unityProductSat']
                                        .touched
                                "
                                style="color:red"
                            >
                                <div
                                    *ngIf="
                                        !unityProductForm.controls[
                                            'unityProductSat'
                                        ].valid &&
                                        unityProductForm.controls[
                                            'unityProductSat'
                                        ].touched
                                    "
                                >
                                    Requerido
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-text text-left">Activo</label>
                            <input
                                class="form-control active"
                                type="checkbox"
                                formControlName="active"
                                id="active"
                                color="primary"
                                style="
                                height: auto;
                                width: auto;"
                            />
                        </div>
                        <!--mat-checkbox
                            id="active"
                            class="active"
                            color="primary"
                            formControlName="active"
                            >Activo
                        </mat-checkbox-->
                        <div
                            *ngIf="
                                !unityProductForm.controls['active'].valid &&
                                unityProductForm.controls['active'].touched
                            "
                        >
                            Requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-text text-left">Orden</label>
                            <input
                                type="number"
                                formControlName="order"
                                class="form-control"
                                name="order"
                                min="1"
                            />
                        </div>

                        <!--div class="md-form">
                            <mat-form-field class="w-100">
                                <input
                                    matInput
                                    placeholder="Orden"
                                    formControlName="order"
                                    type="number"
                                />
                                <div
                                    *ngIf="
                                        !unityProductForm.controls['order']
                                            .valid &&
                                        unityProductForm.controls['order']
                                            .touched
                                    "
                                >
                                    Requerido
                                </div>
                            </mat-form-field>
                        </div-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div
                            class="d-flex justify-content-end"
                            *ngIf="!entity.readOnly"
                        >
                            <button
                                type="submit"
                                class="btn"
                                [disabled]="!unityProductForm.valid"
                            >
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
